<div class="page page-form">


    <div class="row ui-section"  data-ng-controller="competition-edit" ng-cloak>
        <div class="col-lg-8 clearfix">
            <h2 ng-show="!torneo.id" class="section-header">Nuevo Torneo</h2>
            <h2 ng-show="torneo.id" class="section-header">Edición Torneo</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="torneo_form" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="">Título</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.title" >
                        </div>
                        <div class="form-group">
                            <label for="">Descripción</label>
                            <textarea class="form-control" rows="10" required data-ng-model="torneo.description"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="btn btn-primary btn-upload" upload-button 
                                url="{{upload_url}}"
                                param="file"
                                data="formData"
                                accept="image/*"
                                multiple="false"
                                force-iframe-upload="{{forceIframeUpload}}"
                                required="false"
                                on-upload="onUpload(files)" 
                                on-success="onSuccess(response)" 
                                on-error="onError(response)"
                                on-complete="onComplete(response)">
                                Subir Imágen Portada
                            </div>
                            <img ng-if="uploading" ng-src="/images/loading.gif" height="300px" class="img-responsive">
                            <img ng-if="torneo.cover_photo" ng-src="http://images.collab-dev.com/300x/smart/slam/{{torneo.cover_photo}}" class="img-rounded img-responsive">
                        </div>
                        <div class="form-group">
                            <label for="">Fecha Evento</label>
                            <input id="torneo_event_date" type="date" class="form-control" required>
                            <!--div class="input-group ui-datepicker">
                                <input type="text" 
                                       class="form-control"
                                       datepicker-popup="dd-MM-yyyy"
                                       ng-model="torneo.event_date" 
                                       is-open="opened" 
                                       min-date="minDate" 
                                       datepicker-options="dateOptions" 
                                       date-disabled="disabled(date, mode)" 
                                       ng-required="true" 
                                       close-text="Close">
                                <span class="input-group-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div-->
                        </div>
                        <div class="form-group">
                            <label for="">Nombre Establecimiento</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.place" >
                        </div>
                        <div class="form-group">
                            <label for="">Dirección</label>
                            <input id="torneo-location" class="form-control" type="text" placeholder="Ingresar dirección">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Establecer Limite de Participantes?</label>
                                    <md-switch class="md-primary" ng-model="torneo.users_limit" aria-label="Setear Límite" ng-true-value="1" ng-false-value="0"> {{ torneo.users_limit == 1 ? 'SI' : 'NO'}} </md-switch>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="torneo.users_limit">
                                <div class="form-group">
                                    <label for="">Cantidad Participantes</label>
                                    <input  type="number" class="form-control" required data-ng-pattern="/^[0-9]{1,}$/" data-ng-model="torneo.users_amount" >
                                </div>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label for="">Reglamento</label>
                            <textarea class="form-control" rows="10" required data-ng-model="torneo.rules"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="">Hashtag</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.hashtag" placeholder="#slam123">
                        </div>
                        <div class="form-group">
                            <label for="">Facebook ID</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.facebook" placeholder="slam.argentina">
                        </div>
                        <div class="form-group">
                            <label for="">Twitter ID</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.twitter" placeholder="@slam.argentina">
                        </div>
                        <div class="form-group">
                            <label for="">Instagram ID</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.instagram" placeholder="@islam.insta">
                        </div>
                        <div class="form-group">
                            <label for="">Youtube Id</label>
                            <input  type="text" class="form-control" required data-ng-model="torneo.youtube" placeholder="channel">
                        </div>


                        <button type="submit"
                                ui-wave
                                class="btn btn-primary btn-w-md"
                                data-ng-disabled="!canSubmit()"
                                >Guardar</button>
                        <button class="btn btn-default btn-w-md"
                                ui-wave
                                data-ng-click="revert()"
                        >Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

