<md-content class="acme-miembro" class="hide show-gt-sm">
  <div class="container">
    <h1 class="title">
      <md-icon md-svg-src="assets/images/icon-members.svg"></md-icon>
      {{ 'MIEMBROS' | translate }}
      <small>{{ 'Personas que crean y participan en acciones de consenso colectivo' | translate }}</small>
    </h1>
    <div layout="row" layout-align="center" layout-wrap>
      <div ng-repeat="item in vm.items" flex-gt-md="15">
          <div class="acme-miembro-thumb">
            <img ng-src="{{item.imagen}}" alt="{{item.nombre}}">
          </div>
      </div>
    </div>
    <div layout="column" layout-align="center center">
      <md-button class="md-raised md-primary md-right">{{'+ Ver todos los participantes' | translate }}</md-button>
      <h3>{{ 'Sólo faltas vos,' | translate }} <span>{{ 'sumate!' | translate }}</span></h3>
      <md-button class="md-raised md-green">{{'Comenzar' | translate }}</md-button>
    </div>
  </div>
</md-content>
