.acme-miembro {
  background:
    url('../assets/images/member-border-top.svg') repeat-x left top,
    url('../assets/images/member-border-bottom.svg') repeat-x left bottom;
  background-color: #fff;
  padding: 70px 0;
  margin-bottom: 30px;
  .title {
    color: rgb(239, 131, 65);
    margin: 20px 8px;
    md-icon {
      position: relative;
      top:-3px;
    }
    small {
      color: #a1a1a1;
      font-size: 15px;
    }
  }
  h3 {
    text-align: center;
    color: rgb(239, 131, 65);
  }
  .md-right {
    @media (min-width:960px) {
      position: absolute;
      right: 0;
      margin-top: 10px;
    }
    padding: 0 20px;
    background: #4a6dce;
    color: #fff;
    font-size: 17px;
    min-width: 285px;
    text-transform: initial;
  }
  md-card-avatar img {
    border-radius: 50%;
    margin: 6px;
    width: 100px;
    border: 6px solid #D0DBEB;
  }
  .md-green {
    background: #4cae4e;
    font-size: 25px;
    padding: 5px 30px;
    margin: 20px;
    color: white;
    &:not([disabled]):hover {
      background: #4cae4e;
    }
  }
}
