<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body" ng-show="!group.id">
                <h2 class="text-center">Group</h2>
                <form method="post" ng-submit="doSave()" name="groupForm">

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.title.$invalid && groupForm.title.$dirty }">
                        <input class="form-control input-lg" type="text" name="title" ng-model="group.title" placeholder="Title" required autofocus>
                        <div class="help-block text-danger" ng-if="groupForm.title.$dirty" ng-messages="groupForm.title.$error">
                            <div ng-message="required">You must enter your title.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.users_amount.$invalid && groupForm.users_amount.$dirty }">
                        <input class="form-control input-lg" type="text" name="users_amount" ng-model="group.users_amount" placeholder="Users Amount " required autofocus>
                        <div class="help-block text-danger" ng-if="groupForm.users_amount.$dirty" ng-messages="groupForm.users_amount.$error">
                            <div ng-message="required">You must enter an amount of users.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.what_we_do.$invalid && groupForm.what_we_do.$dirty }">
                        <input class="form-control input-lg" type="text" name="what_we_do" ng-model="group.what_we_do" placeholder="What We Do" required autofocus>
                        <div class="help-block text-danger" ng-if="groupForm.what_we_do.$dirty" ng-messages="groupForm.what_we_do.$error">
                            <div ng-message="required">You must enter What We Do.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.description.$invalid && groupForm.description.$dirty }">
                        <input class="form-control input-lg" type="text" name="description" ng-model="group.description" placeholder="Description" autofocus>
                    </div>

                    <div class="form-group has-feedback">
                        <div birth-day-picker birthday="group.closing_date" on-change="closingdatechange()"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="group.accept_terms"> He leido y aceptado los terminos y condiciones.
                            </label>
                        </div>
                    </div>


                    <button type="submit" ng-disabled="groupForm.$invalid" class="btn btn-lg btn-block btn-primary">Create Group</button>

                </form>
            </div>
            <div class="panel-body" ng-show="group.id">
                <h2 class="text-center">Dale identidad a tu Group</h2>
                <form method="post" ng-submit="doSave()" name="groupPlusForm">

                    <div class="form-group has-feedback">
                        <select class="form-control input-lg" ng-model="group.interest" ng-options="interest.description for interest in interests" placeholder="Category">
                        </select>
                    </div>


                    <div class="form-group has-feedback">
                        <select class="form-control input-lg" ng-model="group.scope" ng-options="scope for scope in scopes" placeholder="Scope">
                        </select>
                    </div>


                    <button type="submit" ng-disabled="groupPlusForm.$invalid" class="btn btn-lg btn-block btn-primary">Guardar</button>

                </form>
            </div>

        </div>
    </div>
</div>
