<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body" ng-show="!group.id">
                <h2 class="text-center">Group</h2>
                <form method="post" ng-submit="doSave()" name="groupForm">

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.name.$invalid && groupForm.name.$dirty }">
                        <input class="form-control input-lg" type="text" name="name" ng-model="group.name" placeholder="Name" required autofocus>
                        <div class="help-block text-danger" ng-if="groupForm.name.$dirty" ng-messages="groupForm.name.$error">
                            <div ng-message="required">You must enter your name.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : groupForm.description.$invalid && groupForm.description.$dirty }">
                        <input class="form-control input-lg" type="text" name="description" ng-model="group.description" placeholder="Description" required autofocus>
                        <div class="help-block text-danger" ng-if="groupForm.description.$dirty" ng-messages="groupForm.description.$error">
                            <div ng-message="required">You must enter a description.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" type="file" name="photo" ng-model="group.photo" placeholder="Photo" autofocus>
                    </div>

                    <div class="form-group ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="group.control_ww"> Control de Winwin
                            </label>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="group.private"> Private group?
                            </label>
                        </div>
                    </div>


                    <div class="form-group ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="group.accept_terms"> He leido y aceptado los terminos y condiciones.
                            </label>
                        </div>
                    </div>



                    <button type="submit" ng-disabled="groupForm.$invalid" class="btn btn-lg btn-block btn-primary">Create Group</button>

                </form>
            </div>

        </div>
    </div>
</div>
