<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Groups</div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-6 col-md-4" ng-repeat="group in groups">
                        <div class="thumbnail">
                            <img ng-src="{{group.image}}">
                            <div class="caption">
                                <h3>{{group.title}}</h3>
                                <h4>{{group.users_amount}}</h4>
                                <p>{{group.what_we_do}}</p>
                                <p><a ng-href="#/group-view/{{group.id}}" class="btn btn-primary" role="button">Ver</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

