
<div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
    <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-bell-o animated infinite wobble"></i></h1>
    <h4 class="white-text"> CAMPANADAS<H4>
</div>
      
<i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>
    
        <textarea class="form-control" rows="3" style="margin: 40px 0" ng-model="body"></textarea>
        <button ng-click="sentCampanada()" type="button" class="btn btn-default btn-sponsor btn-second" style="color:#FFF;">
            ENVIAR CAMPANADA!
        </button>
    </div>
    



