    <div class="col-xs-12 color-blue border-bottom mb-20">
        <h3>
            Configurar Notificaciones
        </h3>
    </div>
    <div class="col-xs-8 no-padding">
        <ul>
            <li class="color-blue mb-20">
                Notificar toda la actividad
            </li>
            <li class="color-blue mb-20">
                Solo la actividad más importante
            </li>
        </ul>
    </div>
    <div class="col-xs-4 no-padding">
        <ul>
            <li class="color-blue mb-20">
                Todas las notificaciones
            </li>
            <li class="color-blue">
                Posteos de Usuarios
            </li>
            <li class="color-blue">
                Nuevos Participantes
            </li>
            <li class="color-blue">
                Encuesta Activa
            </li>
            <li class="color-blue">
                Campanadas
            </li>
            <li class="color-blue">
                Nuevo Patrocinador
            </li>
            <li class="color-blue">
                Mensaje de Patrocinador
            </li>
        </ul>
    </div>
    <div class="col-xs-12 mb-20">
        <button type="button" class="btn btn-default text-white btn-sponsor btn-second" style="padding-top:20px; padding-bottom:20px">
        ACTUALIZAR COMFIGURACIÓN
        </button>
    </div>
    <div class="col-xs-12 mb-20">
        <h4 class="color-blue">
            Solicitar Baja Definitiva del WW
        </h4>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="col-xs-12">
        <button type="submit" class="btn btn-primary  pull-right">Enviar</button>
    </div>

