<div ng-show="first_stage">

    <form id="create-ww-form" class="no-padding" style="background:#f1f1f1;" ng-submit="persistBasic()" name="wwBasicForm">
        <div class="card-panel teal hoverable no-padding" >
            <div class="row">
                <div class="col-xs-12 create-title bubble-big"> 
                    CREA TU WINWIN <br> COMENZA UNA ACCION POSITIVA
                </div> 
            </div> 
        </div> 
    
        <div class="container" style="padding:20px;margin-top:-20px;">
            <div class="row">
                <div class="card-panel teal">
                    <label for="title"> Un nombre para tu Winwin*</label>   <a  data-position="bottom" data-delay="50" data-tooltip="Nombra tu Winwin con algo que lo represente."><i class="fa fa-question right" style="color: #FF8000;"></i></a>
                    <input name="title" class="input-field active"  type="text" length="120"  ng-model="winwin.title" required/>
                </div>
                <div class="pad-10"></div>
                <div class="card-panel teal">
                    <label> Planteá tu Winwins*</label>
                    <a data-position="bottom" data-delay="50" data-tooltip="Describí tu causa y definí cuántas personas se necesitan para concretarla.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> <br>
                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">¿Si supieras que somos </span>  
                    <input class="numero" type="number" placeholder="200"  style="width:20%;" ng-model="winwin.users_amount"  ng-required="true" ng-minlength="1"/>
                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">para</span>
                    <div class="pad-10"></div>

                    <textarea id="textarea1" class="materialize-textarea" length="120"  ng-model="winwin.what_we_do" required></textarea>
                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">te sumarías?</span>

                </div>
                <div class="pad-10">   </div>
                <div class="card-panel teal">
                    <label for="email"> Más detalles de Winwin*</label>  
                    <a type="button" data-position="bottom" data-delay="50" data-tooltip="Acá ingresa información detallada del WinWin, datos e información importante, lugares, fechas, acciones y toda lo que te resuelte relevante.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> 
                    <br>
                    <textarea id="textarea2" class="materialize-textarea" length="120" ng-model="winwin.description" required></textarea>
                 </div>

                <div class="pad-10">   </div>

                <div class="card-panel teal">
                    <label for="email"> Seleccioná una fecha límite.
                        <span style="color: #ddd; font-size:9px;"> (Si aplica a tu WinWin)</span>
                    </label>  
                    <a type="button" data-position="bottom" data-delay="50" data-tooltip="Algunos WinWins tienen una fecha límite para su concreción, si el tuyo es uno de ellos, ingresala aquí.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> 
                    <br>
                    <input type="date" class="datepicker">
                </div>
            </div>

            <input type="checkbox" id="test5" />

            <label for="test5" style="font-size:11px; font-family: montserrat;"> He leído y acepto los  <a class="modal-trigger" href="#modal1" style="color:grey;font-family:montserrat;font-size:11px;">Términos y Condiciones.</a></label>

            <div class="pad-10"></div>

            <div class="card-panel teal">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="width:100%; font-family: montserrat; text-align:center; height:60px;" ng-disabled="wwBasicForm.$invalid" ng-click="persistBasic()"> 
                    <i class="fa fa-play right"></i>Continuar
                </button>
               <div class="pad-10">   </div>
            </div>
          
        </div>

    </form>


  <!-- Modal -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Términos y condiciones</h4>
            <p style="font-family: verdana; font-size:11px;">1.- Lea cuidadosamente este documento: el mismo es un instrumento legal que refleja un acuerdo entre Ud. (el Usuario) y HUMANET S.A. , la sociedad operadora y explotadora del sitio winwins.org (la Operadora)
            1.1. Este documento se describe los términos y condiciones generales (los "Términos y Condiciones " o "TyC") aplicables al uso de los servicios ofrecidos en el sitio alojado bajo los nombres de dominio winwins.org y/o winwins.net y/o winwins.info (el “Sitio”).
            1.2. Los servicios ofrecidos a través del Sitio sólo podrán ser utilizados por aquellas personas (en adelante el Usuario, la Usuaria o los Usuarios en forma indistinta) que acepten los Términos y Condiciones que aquí se describen, y sujete su conducta a lo establecido en los mismos. El Usuario debe leer, entender y aceptar las condiciones establecidas en estos Términos y Condiciones, y podrá realizar cualquier consulta acerca de los mismos a legales@winwins.org.
            1.3. Si Ud. es padre, madre o tutor legal y brinda consentimiento para la utilización de los servicios ofrecidos en el Sitio por parte de su hijo o personas menores de edad a su cargo, acepta estos Términos y Condiciones y se compromete a monitorear y guardar el debido y razonable control sobre las actividades de los menores de edad a su cargo mientras que utilicen el Sitio.
            1.4. Cualquier persona que no acepte estos términos y condiciones generales, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio y/o los servicios ofrecidos en el mismo.
            1.5. Cualquier Usuario que pretendiera utilizar el Sitio en condiciones distintas a las que aquí se especifican o en términos diferentes deberá contactarse con la Operadora del sitio a través de la direccion legales@winwins.org a fin de negociar un acuerdo distinto.
            1.6. Los Términos y Condiciones que aquí se establecen podrán ser modificados por la Operadora en el momento en que ésta lo considere conveniente, consintiendo los Usuarios en que el aviso legible y destacado en la página de acceso sobre la existencia de nuevos términos y condiciones o, alternativamente, el aviso por correo electrónico configura un aviso suficiente y resulta vinculante para el Usuario en la medida en que éste utilice cualquier parte del Sitio y/o los servicios del Sitio con posterioridad a la publicación de los nuevos Términos y Condiciones.
2.- Servicios ofrecidos a través del Sitio
            2.1. La Operadora administra el “Sitio” de forma tal que los Usuarios del mismo puedan compartir intereses y proyectos comunes, crear vínculos de acción constructiva y creativa, sin tener ninguna injerencia de ningún tipo en el modo de relacionarse ni de los objetivos con los cuales los Usuarios se relacionan.
            2.2. A fin de promover diversos modos de relacionamiento, el Sitio provee espacios de interacción tecnológica, a través de la creación de “Grupos” y/o “Winwins”, dando también a algunos Usuarios la posibilidad de constituirse como “Patrocinadores” de cada uno de ellos.
            2.3. El Sitio es exclusivamente un lugar de encuentro, que actúa como un punto de reunión que permite a los Usuarios aprovechar su potencial colectivo y sumar esfuerzos para las causas que el Usuario considere pertinentes dentro de los límites de las normas de uso que se describen más abajo.
            2.4. La Operadora no produce ni edita los contenidos que son expuestos en el Sitio, no los promociona, ni patrocina, no apoya ni impulsa en modo alguno las distintas iniciativas que los Usuarios del Sitio pudieran expresar a través de los Grupos o Winwins. La Operadora tampoco interviene (salvo cuando lo anuncie expresamente) en los winwins o grupos, ni controla la calidad, seguridad o legalidad de las iniciativas que los Usuarios propongan.
            2.5. Sin perjuicio de lo expuesto en los párrafos anteriores, la Operadora se reserva el derecho de suspender temporaria o definitivamente cualquiera de estos espacios de interacción, sean Grupos o Winwins, patrocinados o no; en cualquier momento y sin aviso previo.
            3. Tratamiento de la Información Personal de los Usuarios
            3.1. Al registrarse y/o navegar el Sitio, el Usuario brinda información personal, prestando su consentimiento para que la misma sea almacenada en bases de datos administradas y/o controladoas por la Operadora, las que serán protegidas utilizando un estándar de seguridad informática de protección de la información que resulte razonablemente eficaz como para mantener dicha información en total confidencialidad, conforme a la Ley Nº 25.326 de Hábeas Data, pudiendo el Usuario puede acceder a esta información y solicitar su eliminación. El Usuario pordré efectuar consultas sobre los derechos que le asisten respecto de este punto a legales@winwins.org o al órgano de aplicación de la norma mencionada más arriba, la Dirección Nacional de Protección de Datos Personales, del Ministerio de Justicia, Seguridad y Derechos Humanos de la Nación (http://www.jus.gov.ar/datospersonales/).
            3.2. La dirección de e-mail informada por el Usuario en el acto del registro será utilizada solamente para los fines autorizados por los Usuarios, así como para enviar información sobre el Sitio y los Servicios del Sitio a los Usuarios y responder las dudas.
            4. Derechos de propiedad intelectual de la Operadora y los Usuarios
            4.1. Winwins es una marca registrada, y su uso se encunentra protegido por la ley 11.723 (modif. Ley 25.036) y por el Acuerdo Sobre los Aspectos de Los Derechos de Propiedad Intelectual Relacionados con el Comercio – ADPIC. Asimismo, la Operadora conserva los derechos de publicación del Sitio, conforme las normas que rigen el derecho de autor en la República Argentina. El nombre Winwins y el logo no pueden ser utilizados de ningún modo sin el previo consentimiento de la Operadora.
            4.2. El resto de los contenidos de la Operadora son licenciados en forma gratuita a quien los desee bajos los términos de la licencia Atribución 2.5 (Argentina) de Creative Commons, cuyo texto completo puede consultarse en http://creativecommons.org/licenses/by/2.5/ar/legalcode
            4.3. Al publicar en el Sitio textos, videos, fotografías, fonogramas o contenido de cualquier tipo, el Usuario conserva la propiedad de los mismos, otorgando al resto de los Usuarios una licencia gratuita bajos los términos de la licencia Atribución 2.5 (Argentina) de Creative Commons, cuyo texto completo puede consultarse en http://creativecommons.org/licenses/by/2.5/ar/legalcode
            4.4. Asimismo, al publicar en el Sitio textos, videos, fotografías, fonogramas o contenido de cualquier tipo el Usuario concede a la Operadora una licencia mundial para usar, alojar, almacenar, reproducir, modificar, crear obras derivadas (que resulten de la traducción o la adaptación de los contenidos), comunicar, publicar, difundir, ejecutar o mostrar públicamente y distribuir dicho contenido, aún con fines comerciales, siempre que tenga por objeto la promoción del Sitio y los servicios del Sitio. 5. Responsabilidad de la Operadora
            5.1. La Operadora efectuará esfuerzos razonables para mantener los servicios del Sitio on line durante el mayor tiempo posible. Sin perjuicio de ello, el Sitio y los servicios brindados a través del Sitio se proporcionan en el estado en que se encuentran, sin garantías de ningún tipo. La Operadora no garantiza la fiabilidad ni disponibilidad del contenido, ni la exactitud en los mismos ni la identidad de las personas, ni que sus servidores estén libres de virus o programas informáticos espía, limitándose a poner sus mejores esfuerzos en el mantenimiento y mejora de los espacios de interacción, sean Grupos, Winwins u otros que se desarrollen en el futuro.
            5.2. El Usuario asume la total responsabilidad por los contenidos descargados del Sitio y su relación con otros Usuarios, eximiendo expresamente a la Operadora de cualquier responsabilidad derivada de acciones, demandas o indemnizaciones por daños de cualquier clase o naturaleza, que sean resultado de, o tengan conexión alguna con enfrentamientos o disputas con otros Usuarios del Sitio.
            5.3. Los padres o tutores legales, al prestar su consentimiento para la participación de Usuarios menores de edad, declaran comprender los riesgos que entraña la utilización de servicios alojados en redes informáticas y la red Internet en general y el Sitio en modo particular, asumiendo la responsabilidad por eventuales daños directos o indirectos que los menores pudieran sufrir como consecuencia de la utilización de servicios del Sitio o de acceso a contenido no apto para los mismos.
            5.4. La Operadora ha diseñado un sistema de denuncias para reducir al menor grado posible la utilizacion y/o disponibilidad de contenidos contrarios a las normas de conducta del Sitio, limitándose su responsabilidad a asegurar el funcionamiento del sistema, pero sin garantizar resultados de ningún tipo. Los Usuarios aceptan que el rol de la Operadora del Sitio se limita a proveer las herramientas para la puesta a disposición y control del contenido, actividades que son realizadas por los propios Usuarios.
            5.5. La Operadora no asume ninguna obligación contractual en relación al sistema de denuncias, ni de indentificación de usuarios, ni tampoco respecto de la integridad de la información. No estará obligada por estos Términos y Condiciones a dar de baja o borrar del sitio contenido subido por los Usuarios, salvo orden judicial o mandato legal expreso.
            5.6. Sin perjuicio de lo expuesto en el punto anterior, la Operadora se reserva el derecho de excluir y/o suspender, a cualquier Usuario del Sitio; y borrar o suspender contenido de cualquier tipo del Sitio, cuando exista una clara violación a las normas de conducta del Sitio, o reciba denuncias que posean entidad suficiente a criterio de la Operadora.
            5.7. Los Usuarios aceptan que la Operadora no será considerada responsable por el ataque informático al sistema o uso indebido de las cuentas, ni de las contraseñas de los Usuarios o datos de acceso, salvo casos de grave negligencia por parte de la Operadora.
            6. Responsabilidad de los usuarios por los contenidos subidos al Sitio - Indemnidad
            6.1. El Usuario es responsable por el buen uso de los servicios ofrecidos a través del Sitio, comprometiéndose a evitar cualquier tipo de acción que pueda dañar a sistemas, equipos o servicios accesibles directa o indirectamente a través de Internet, incluyendo la congestión intencional de enlaces o sistemas y la utilización de software espía.
            6.2. El Usuario asume la responsabilidad total por los daños directos e indirectos que todos los textos, videos, fotografías, fonogramas, información y contenido de cualquier otro tipo que publique, promocione y/o difunda en el Sitio pudieran generar a otros Usuarios o a terceras partes.
            6.3. La Operadora no será responsable de ninguna manera por cualquier contenido de Usuario o de Terceros publicados por Usuarios en el Sitio, ya sea publicado o causado por los Usuarios del Sitio o por cualquiera de los equipos o programas asociados con o utilizados en el Sitio.
            6.4. Asimismo, la tampoco será considerada responsable por la publicación, veracidad y/o exactitud de la información que se ofrezcan en el Sitio, ni de los cambios que sobre la misma pudieran acontecer, o el uso inapropiado de este contenido por parte de terceros.
            6.5. El Usuario se obliga a mantener indemne a la Operadora por las consecuencias que se deriven de contenido ilegal, ofensivo, inapropiado, obsceno, ilegal o cuestionable judicialmente que el Usuario haya incorporado por cualquier medio al Sitio; como asi también por las consecuencias derivadas de acciones que pudieran dañar sistemas, equipos o servicios accesibles directa o indirectamente a través de Internet, incluyendo la congestión intencional de enlaces o sistemas y la utilización de software espía.
            7.- Normas de conducta
            7.1. Las normas de conducta que aquí se describen poseen carácter orientativo y no exhaustivo, y están destinadas a mejorar la experiencia general de los Usuarios en el Sitio y a limitar los riesgos que supone cualquier interacción social. Las Normas de conducta no han sido diseñadas ni incluidas aquí con el propósito de limitar la responsabilidad de los Usuarios por sus actos. Por el contrario, conforme lo establecido más arriba, el Usuario asume la responsabilidad total por los daños directos e indirectos que todos los textos, videos, fotografías, fonogramas, información y contenido de cualquier otro tipo que publique, promocione y/o difunda en el Sitio pudieran generar a otros Usuarios o a terceras partes, con independencia del cumplimiento o incumplimiento de estas normas de conducta.
            7.2. El Usuario acepta y declara que no publicará, enviará por ningún canal de comunicación, ni pondrá a disposición ningún contenido, ni usará el Sitio:
            - de forma discriminatoria por motivos de raza, color, sexo, religión, nacionalidad, origen étnico o nacional, estado civil, discapacidad, orientación sexual o de cualquier otro modo que pudiera resultar inadecuado o dañoso conforme las normas legales vigentes;
            - de forma injuriosa, difamatoria o de modo amenazante, abusivo, violento, acosador, malicioso o dañino para cualquier persona o entidad;
            - de cualquier manera que sea perjudicial para menores de edad;
            - para invadir la privacidad de otra persona o para suplantar a la identidad de cualquier otra persona, o afirmar falsamente o de otro hacer declaraciones falsas de su afiliación con otra persona o entidad o para obtener acceso a los servicios del Sitio sin autorización;
            - de una forma que sea falsa, engañosa o fraudulenta o de otro modo ilegal, o que promueva actividades ilegales, incluidas la suplantación de identidad u otro modo de obtener información personal o de otro tipo de forma maliciosa o con fines fraudulentos o engañosos;
            - para vehiculizar actividades de correo no deseado, cadena de mensajes, estafas de forma que infrinja, viole, distribuya ilegalmente o se apropie indebidamente de cualquier derecho de propiedad intelectual u otros derechos contractuales o de propiedad de terceros; piramidales, publicidad de productos o servicios ilegales o controlados, u otras actividades publicitarias o de marketing que infringen estos Términos y Condiciones, cualquier ley, reglamento o pautas de la industria publicitaria aplicables o generalmente aceptadas;
            - para interferir o intentar interferir con el funcionamiento correcto Winwins o impedir que otros usen esta red social, o de una manera que vulnere el flujo normal o el intercambio de Winwins o que de otro modo afecte la capacidad de otras personas de usar esta red social;
            - de forma que contenga virus de software o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software informático, hardware o equipo de telecomunicaciones; independientemente y sin exclusión de la responsabilidad que asume por los daños que esto pudiera generar y la obligación de indemnidad asociada a dicha responsabilidad.
            - para usar cualquier medio manual o automatizado -incluidos robots, secuencias de comandos o arañas- para tener acceso o administrar la cuenta de cualquier usuario o para supervisar o copiar esta red social o su contenido;
            - en una manera que utilice direcciones de correo electrónico o IP falsas o encabezados falsificados o identificadores manipulados de otro modo con el fin de ocultar el origen del contenido transmitido a través del Sitio o a los usuarios;
            7.3. El Usuario acepta y se compromete a:
            - mantener el intercambio con otros usuarios en términos de respeto y cordialidad, sin ofender, insultar ni maltratar.
            - no acechar o acosar a una persona por intermedio del Sitio;
            - no recopilar, usar o revelar datos -incluida información personal- sobre otros usuarios sin su consentimiento o con fines ilegítimos, o en violación de las leyes y reglamentos aplicables;
            - no publicar contenido que incluya pornografía infantil en el Sitio;
            - no publicar contenido que incite, represente o incluya discriminación, violaciones, violencia extrema, asesinatos, bestialidad, incesto u otro contenido similar.
            - Colaborar con la disponibilidad e integridad de los servicios del Sitio efectuando las denuncias que correspondan a través de los mecanismos previstos en el Sitio, sin perjuicio de la obligación legalmente impuesta a determinadas personas que por su profesión y oficio estén obligadas a efectuar las denuncias que correspondan ante la justicia.
            7.4. Determinados servicios ofrecidos a través del Sitio exigen la creación de una cuenta para poder participar y obtener otros beneficios. El Usuario se compromete a suministrar información exacta y verdadera, completa e íntegra, sobre su persona y sus descendientes o personas a su cargo, absteniéndose de suplantar a una tercera parte – salvo en el caso de los menores de edad – incluyendo el uso de nombre de usuario, la contraseña u otra información de la cuenta o el nombre o la imagen. No debe proporcionar detalles falsos para un padre o tutor. El Usuario reconoce que no puede sublicenciar, transferir, vender ni ceder su membresía ni la identificación de su cuenta. Todo intento de sublicenciar, transferir, subastar, vender o ceder la titularidad o la identificación de una cuenta es nulo y tales intentos, independientemente de si fueron realizados o no por el titular de la cuenta, serán causa de cancelación inmediata de la cuenta. 
            Usted también se compromete a notificar de inmediato a través del sistema de denuncias ofrecido por la Operadora sobre todo uso no autorizado de su nombre de usuario, contraseña, otra información de la cuenta o cualquier otra violación a la seguridad que detecte y que se relacione con el Sitio. Además, el Usuario se compromete a salir de su cuenta al finalizar cada sesión.
            La Operadora no será considerada responsable, en ningún caso, por el uso de la cuenta de usuario por terceras partes.
            8.- Menores de edad
            8.1. Los servicios del Sitio están dirigidos a personas de todas las edades. Sin perjuicio de ello, y en atención a que la Operadora no controla ni supervisa los contenidos y las iniciativas de los Usuarios, las personas menores de 14 años únicamente podrán utilizar los servicios del Sitio con autorización expresa de su padre, madre o tutor legal.
            8.2. Si Ud. es padre, madre o tutor legal y brinda consentimiento para la utilización de los servicios ofrecidos en el Sitio por parte de su hijo o personas menores de edad a su cargo, entiende que está a su cargo monitorear y guardar el debido y razonable control sobre las actividades de los menores de edad a su cargo mientras que utilicen el Sitio, que la Operadora no controla ni lleva un registro de las actividades del Sitio, y que, como todo espacio de interacción con personas extrañas la utilización del Sitio entraña un riesgo para determinadas personas. En función de ello, exime a la Operadora de cualquier responsabilidad que no sea derivada directamente de las acciones de la Operadora, en especial de los daños que pudieran provocarse o derivarse de la interacción del menor con otros Usuarios del Sitio.
            9.- Patrocinadores
            9.1. Los Usuarios que actúan como patrocinadores (los "Patrocinadores") de distintas iniciativas y/o servicios que se brinden a través del el Sitio, no asumen ninguna responsabilidad por el contenido puesto a disposición por el resto de los usuarios. Los contenidos patrocinados serán responsabilidad exclusiva del Usuario que los publica y/o sube al sitio y/o pone a disposición de otros usuarios.
            9.2. Sin perjuicio de lo expuesto en la cláusula anterior, los Patrocinadores y la Operadora colaborarán con la disponibilidad e integridad de los servicios del Sitio; los Patrocinadores efectuando las denuncias que correspondan a través de los mecanismos previstos en el Sitio, y la Operadora respondiendo a tales denuncias de manera rápida y expeditiva.
            10. Ley aplicable y jurisdicción
            10.1. Los Usuarios del Sitio reconocen expresamente que su relación con el Sitio y estos Términos y Condiciones como así también cualquier acuerdo que los complemente en el futuro se rigen y se regirán por las leyes de la República Argentina.
            10.2. Los Usuarios aceptan someter cualquier controversia que pudiera llegar a suscitarse como consecuencia del uso de los servicios del Sitio o en relación a los contenidos del mismo, a la jurisdicción de los Tribunales Nacionales en lo Civil, con asiento en la Capital Federal, sin reservas de ningún tipo.</p>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div ng-show="second_stage">
    <form data-ng-submit="doSave()" name="wwAdditionalForm">

        <div class="row">
                <div class="card-panel teal hoverable no-padding" >
            <div class="row">
                <div class="col-xs-12 create-title bubble-big"> 
                   <i class="fa fa-flag-o" style="font-size:2em;"></i> <br> Dale identidad a tu WinWin
                </div> 
            </div> 
        </div> 

        <div class="panel-body">
            <div class="col-xs-12  no-padding text-center" dynamic-background="" background-size="cover" background-image="{{preview_image}}" style="height: 240px; margin-top:-20px;">
                <div class="ww-title" style="margin-top:30px; color:#fff; font-size: 23px; text-transform: uppercase;">
                {{winwin.title}}</div>
            </div>
        </div>
         <div class="pad-10">    </div>
        <div class="container center">
            <h6 style="background: #f1f1f1; padding:10px; border-radius: 2px;" >CARGA UNA FOTO O ELEGI UN VIDEO</h6>
            <div class="row">
                <div style="cursor:pointer" name="uploader" ngf-max-size="8MB" ngf-select="uploadFiles($file)" accept="image/*" class="col-xs-4 uploaders card-panel teal" ngf-accept="'image/*'">
                    <i ng-show="!winwin.image && !uploading" class="fa fa-camera-retro" style="padding-top:0px;" ></i><br>
                    <img ng-show="uploading" src="/images/loading.gif" height="90" alt="loading">
                    <img ng-show="winwin.image" ng-src="http://images.dev-winwins.net/90x/smart/{{winwin.image}}" height="90" alt="loading">
                </div>
                <div style="cursor:pointer" class="col-xs-4 uploaders card-panel teal" ng-click="setVideoUrl()">
                    <i class="fa fa-youtube"></i> 
                </div>
                <div class="col-xs-4 uploaders card-panel teal" ng-click="select_gallery()" style="cursor:pointer">
                    <i class="fa fa-image"></i> 
                </div>
            </div>
        </div>

        <div class="container" ng-show="gallery_picker">
            <div class="row">
                <div class="col-xs-12 border-grey" style="min-height: 200px;">
                    <div class="picker no-padding">
                        <select id="image-gallery" class="image-picker"  ng-model="image_gallery_selected">
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-1.jpg" value="ww-default-1.jpg">Tierra</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-2.jpg" value="ww-default-2.jpg">Casas</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-3.jpg" value="ww-default-3.jpg">Manos</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-4.jpg" value="ww-default-4.jpg">Libros</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-5.jpg" value="ww-default-5.jpg">Juego</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-6.jpg" value="ww-default-5.jpg">Gente</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-7.jpg" value="ww-default-5.jpg">Trabajo</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-8.jpg" value="ww-default-5.jpg">Oficio</option>
                            <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-9.jpg" value="ww-default-5.jpg">Colaborar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-back create-id">
            <!-- Comentar hasta tanto lo resolvamos -->
            <!--
            <div class="card-panel teal">
                <div class="input-label">
                    Palabras Clave <i class="fa fa-question-circle" style="color: red;"></i>
                    <tags-input ng-model="winwin.tags" placeholder="Agrega palabras claves"></tags-input>
                </div>
            </div>
            <div class="pad-10"></div>
            -->
            <div class="card-panel teal">
                <div class="input-label">Escala del WinWin <i class="fa fa-question-circle" style="color: red;"></i></div>
                    <select ng-options="item as item for item in scopes track by item.id" ng-model="winwin.scope" class="form-control" placeholder="Seleccioná una escala territorial">
                    </select>
                </div>
            </div>
            <div class="pad-10"></div>
            <div class="card-panel teal">
                <div class="input-label">En que categoría? <i class="fa fa-question-circle" style="color: red;"></i></div>
                <select ng-options="item as item.description for item in interests track by item.id" ng-model="winwin.interest" class="form-control" placeholder="Seleccioná una categoría">
                </select>
            </div>
            <div class="pad-10"></div>
            <div class="form-back  create-id">
                <div class="pad-10"></div>
                <button class="btn waves-effect waves-light" type="submit" name="action" style="width:100%; font-family: montserrat; text-align:center; height:60px;" ng-disabled="wwAdditionalForm.$invalid">  
                    <i class="fa fa-play right"></i>Continuar
                </button>
                <div class="pad-10">   </div> 
            </div>
        </div>
    </form>

</div>

