<form role="form" ng-submit="submitPost()" name="wwFirstPost">
<div class="container">
    <div class="row">
        <div class="col-xs-12 create-title"> <i class="fa fa-comment"></i> <br> Haz tu post inaugural</div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="panel-body">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" class="col-xs-12 img-misc no-padding text-center padding-top-txt-sponsor" style="width:100%; max-height: 250px; font-size: 19px;">
                {{::winwin.title}}
                <div class="container" style="max-width:560px; padding-top: 0px;">
                    <div style="width: 30%; height: 3px; background-color: #1862C3; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 0px; font-size: 16px;"></div>
                    <div class="row">
                        <div class="col-xs-12"> 
                            <h5>Escribí el primer post de tu winwin</h5>
                            <div style="width: 10%; height: 3px; background-color: #1862C3; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 0px; font-size: 16px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            <div class="container" style="padding-top: 30px; padding-bottom: 70px; background-color: #1563C8; border-top: 3px solid #1A4D8F; border-bottom: 3px solid #FF8000;">

                <div class="row img-rounded " ng-show="post.media_type || uploading" style="min-height: 50px; margin-bottom: 30px; padding: 10px; background: #FFF;">

                    <div ng-show="uploading">
                        <img class="block-center img-responsive col-xs-offset-5 col-xs-2" ng-show="uploading" src="/images/loading.gif" height="75" style="padding:7px"/>
                    </div>
                    <div ng-if="post.media_type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/190x/{{::post.media_path}}" style="height:190px;">
                    </div>
                    <div ng-if="post.media_type == 'VIDEO'" dynamic-background="" background-size="cover" background-image="http://img.youtube.com/vi/{{post.media_path}}/default.jpg" style="height:190px;">
                    </div>
                </div>


                <div class="row">

                    <div class="col-xs-2" style="background-color: #1563C8; height: 20px; margin-left: -12px; margin-right: 10px;
        }"> 
                        <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38">
                    </div>
                    <div class="col-xs-7"  style="background-color:blue; height:20px; padding:0px;">
                        <div class="bubble">
                            <textarea class="form-control" placeholder="Escribí acá..." rows="2" style=" border-color: transparent; border-radius:5px;height:80px;padding-left:5px; border-radius: 3px; font-size:14px;"  ng-model="post.content" no-resize ng-required="true"></textarea> 
                        </div>
                    </div>
                    <div class="col-xs-1" style="background-color: #FFFFFF; border-radius: 2px;  text-align: center; margin-left: 10px; margin-top: 5px; color: #403B3B; font-size: 1.3em; padding: 3px;">
                        <i class="fa fa-youtube"  ng-click="setVideoUrl()" style="cursor: pointer;"></i>
                    </div>
                    <div class="col-xs-1" style="background-color: #FFFFFF; border-radius: 2px; text-align: center; margin: 5px; color: #403B3B; font-size: 1.3em; padding: 3px; cursor: pointer;" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB">
                        <i class="fa fa-camera-retro"></i>
                    </div>

                </div>
         



            </div>
        </div>
        
        <div class="pad-20"></div>

        <div class="container">

            <button name="crear-winwin" type="submit" ng-disabled="wwFirstPost.$invalid"  type="button" style="width:100%; background-color:#093; border-bottom: 3px solid darkgreen; border-radius: 5px; font-family:montserrat; font-size: 20px; padding:10px; color: white;">PUBLICAR Y ACTIVAR</button>
            <div style="text-align:center; background-color:#f1f1f1; padding:5px; font-family:montserrat; font-size: 10px;" ng-click="continue()">Activar luego</div>
        </div>

</div>
</form>

