
<style>
   #slider {
    position:fixed;
    left: 0px;
    margin-top: -300px;
    width: 100%;
    z-index:10;
}
    

</style>





<div id="slider">
    <nav style="max-height: 45px; overflow:hidden; border:transparent;">
        <div class="nav-wrapper">
            <ul id="nav-mobile blue darken-3">
                <li class="col-xs-3">
                    <a  data-toggle="tab" data-target="#home" ng-class="{active: current_view == 'home'}">
                        <img src="../images/ww.png" width="19px" class="no-padding" style=" margin:0px;margin-top:-17px;" />
                    </a>
                </li>
                <li  class="col-xs-3">
                    <a  data-toggle="tab" data-target="#sponsors" ng-class="{active: current_view == 'sponsors'}">                       
                        <img src="../images/sponsor.png" width="25px" class="no-padding" style=" margin:0px;margin-top:-17px;" />                   
                    </a>
                </li>
                <li  class="col-xs-3">
                    <a data-toggle="tab" data-target="#users" ng-class="{active: current_view == 'users'}">
                        <i class="fa fa-users"  style="font-size:1.3rem;padding:13px; padding-left:5px;"></i>
                    </a>
                </li>
                <li  class="col-xs-3" ng-show="isAdmin" ng-class="{active: current_view == 'admin'}">
                    <a ng-class="{active: current_view == 'users'}" href ng-click="setAdmin()">
                        <i class="fa fa-gear"  style="font-size:1.3rem;padding:13px;"></i>
                    </a>
                </li>
                <li  class="col-xs-3" ng-show="!isAdmin">    
                    <a class="h7" onclick="Materialize.toast('<p>Solo para el creador o activador del WW.</p>', 1000)">
                        <i class="fa fa-gear" style="font-size: 20px; padding:12px; opacity: .5;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        
        <div ng-show="is_admin" class="container no-padding">
            <a data-toggle="tab" data-target="#sponsors_requests">
                <div class="col-xs-2 submenu-icons" >
                 <img src="../images/sponsor.png" width="25">
                </div>
            </a>
            <a data-toggle="tab" data-target="#sponsors_to_request">
                <div class="col-xs-2 submenu-icons">
                    <i class="fa fa-share" style="font-size:12px;"></i><img src="../images/sponsor.png" width="17">
                </div>
            </a>
            <a data-toggle="tab" data-target="#campanada">
                <div class="col-xs-2 submenu-icons"  ng-class="{active: campanada_view}">
                    <i class="fa fa-bell"></i>
                </div>
            </a>
            <a data-toggle="tab" data-target="#poll">
                <div class="col-xs-2 submenu-icons">
                  <i class="fa fa-list-ol"></i>
                </div>
            </a>

            <a data-toggle="tab" data-target="#config">
                <div class="col-xs-2 submenu-icons active">
                    <i class="fa fa-bullhorn"></i>
                </div>
            </a>
               <a data-toggle="tab" data-target="#edit">
                <div class="col-xs-2 submenu-icons active">
                    <i class="fa fa-edit"></i>
                         </a>
                </div>
            </a>
        </div> 

    </div>
</div>

<div class="profile-tabs tab-content">
    <div id="home" role="tabpanel" class="tab-pane fade in active">
        <div ng-include="'/views/winwin-tabs/winwin_home.html'"></div>
    </div>
    <!--div id="wall" class="tab-pane">
        <div _ng-include="'/views/winwin-tabs/wall_component.html'"></div>
    </div-->
    <div id="sponsors" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-sponsors.html'"></div>
    </div>
    <div id="users" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-users.html'"></div>
    </div>

    <div ng-if="is_admin" id="sponsors_requests" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-sponsors-requests.html'"></div>
    </div>
    <div ng-if="is_admin" id="sponsors_to_request" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-sponsors-to-request.html'"></div>
    </div>
    <div ng-if="is_admin" id="campanada" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-campanada.html'"></div>
    </div>
    <div ng-if="is_admin" id="config" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-config.html'"></div>
    </div>
    <div ng-if="is_admin" id="poll" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/ww-poll.html'"></div>
    </div>
    <div ng-if="is_admin" id="edit" class="tab-pane">
        <div ng-include="'/views/winwin-tabs/edit.html'"></div>
    </div>


</div>

<script>

$(document).ready(function () {
    slider();
});

$(window).scroll(function () {
    slider();
});

function slider() {
    if (document.body.scrollTop > 50) {
        $('#slider').stop().animate({"margin-top": '0'})>10;
    } else {
        $('#slider').stop().animate({"margin-top": '0'})>10;
    }
}

</script>
