<div  data-ng-controller="winwin-config">
    <div class="pad-30"></div>

    <div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
        <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-bell-o animated infinite wobble"></i></h1>
        <h4 class="white-text"> Configurar Notificaciones </h4>
    </div>
      
    <i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>
        
        <!--div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Todas las Notificaciones</div>
                <div class="col-xs-3">
                   
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div-->
    
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12">Seleccionar Notificaciones</div>
            </div>
        </div>
 

        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Post de Usuarios</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_user_post"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Nuevos Participantes</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_participant"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Encuesta Activa</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_poll"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Campanadas</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_announce"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Nuevo Sponsor</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_sponsor"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Notificar a punto de terminar</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_closing_date"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="pad-50"></div>
    <div class="col-xs-1"></div>
    <a href ng-click="updateNotifications()" role="button" class="col-xs-10 btn-join" style="background-color: #f5f5f5; border-color: transparent; color: #333;"> Actualizar Notificaciones</a>
    <div class="col-xs-1"></div>


    <div class="pad-50"></div>
    <div class="col-xs-1"></div>
    <a href ng-click="closeWinwin()" role="button" class="btn-danger col-xs-10 btn"> Dar de Baja el Winwin</a>
    <div class="col-xs-1"></div>

</div>
