<div class="container">
   <div class="row">
      <div class="container col-xs-12 no-padding">
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-users"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-comments"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-star"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20 active">
               <i class="fa fa-comment"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-bars"></i>
            </div>
         </a>
      </div>
      <div class="container no-padding">
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-star"></i>
         </div>
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-bell"></i>
         </div>
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-server"></i>
         </div>
         <div class="col-xs-3 submenu-icons active">
            <i class="fa fa-bullhorn"></i>
         </div>


<div class="grid">
  <div class="grid-item">
      
            <!-- sponsors-->
         
         <div class="col-xs-12 no-padding">
        <div  style="background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/cocacola.jpg);
  background-size: cover;
  height: 220px;
  ">
              
               <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
               <img src="img/coca2.jpe" class="img-responsive img-circle"  style="margin-left: auto; margin-right:auto; dislay:block; width:100px;"/></div>
                    <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">The Coca-Cola Co </h4>
                  
                </div>
            </div>
         </div>
      </div>
   </div>
   
   
      <div class="container">
      <div class="row">
         <div class="buttons-profile">
               <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">120</a>
             
<!-- Trigger the modal with a button -->
  <a href="#" role="button" class="col-xs-6 btn-join"  data-toggle="modal" data-target="#myModal"> Solicitar Sponsoreo</a>
         
               <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">239</a>
            </div>
          
         </div>
      </div>
   </div>
</div>
    

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Solicitar Sponsoreo</h4>
      </div>
      <div class="modal-body">
        <p>Envía un mensaje de solicitud al sponsor.</p>
              
      <textarea class="form-control" name="" cols="" rows=""></textarea>
      <a href="#" role="button" class="col-xs-12 btn-join" data-toggle="modal" data-target="#myModal"> Solicitar Sponsoreo</a>

	      </div>

      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
