
<div data-ng-controller="winwin-sponsors-to-request">
    <div ng-if="!request_success">

    <div class="grid grid-sponsors">
        <div class="grid-item sponsor-item"  ng-repeat="sponsor in sponsors">

    
            <div class="col-xs-12 no-padding">
                <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{sponsor.cover_photo}}" style="height: 220px;">
              
                    <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                        <img ng-src="http://images.dev-winwins.net/x100/{{::sponsor.photo}}" class="img-responsive img-circle"  style="margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                    </div>
                    <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                        <h4> 
                            {{::sponsor.name}} 
                        </h4>
                  
                    </div>
                </div>

   
   
                <div class="container">
                    <div class="row">
                        <div class="buttons-profile">
                            <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                            <a role="button" class="col-xs-6 btn-join"  ng-click="requestSponsor(sponsor)"> SOLICITAR SPONSOREO</a>
                            <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
                        </div>
          

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div ng-if="request_success">
        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> Perfecto!</h2>
                        <h5 style="font-family: montserrat; color:#444;"> Tu solicitud se ha enviado a {{sponsor_name}}</h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>

    </div>



</div>
