<div data-ng-controller="winwin-members">
    <div ng-if="!in_message">
      <div class="grid grid-sponsors ">
            <div class="grid-item participante-item {{classType(participante)}}"  ng-repeat="participante in winwin.users" >
                     <div style="margin-top:40px;"></div>
                     <div class="col-xs-12 no-padding">
                    <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{participante.cover_photo}}" style="height: 220px;" ng-click="view(participante.id)">
                  
                        <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                            <img ng-src="http://images.dev-winwins.net/smart/{{::participante.photo}}" class="img-circle"  style="min-height: 95px;margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                        </div>  {{::participante.displayname}} 
                        <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                            <h4> 
                                 {{::participante.username}} 
                            </h4>
                      
                        </div>
                    </div>

       
       
                    <div class="container no-padding">
               
                            <div class="buttons-profile">
                                <a href="#" class="col-xs-2 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::participante.winwins_amount}}</a>
                                <div class="col-xs-6">
                                    <a ng-show="!participante.my_self && !participante.following" role="button" class="col-xs-12 btn-join" style="margin-left:17px;"  ng-click="follow(participante)"> SEGUIR</a>
                                    <a ng-show="!participante.my_self && participante.following" role="button" class="col-xs-12 btn-join"  ng-click="unfollow(participante)"> SIGUIENDO</a>
                                    <a ng-show="isAdmin && participante.pivot.moderator == 0" role="button" class="col-xs-12 somos"  ng-click="makeActivator(participante)">ACTIVADOR</a>
                                    <a ng-show="isAdmin && participante.pivot.moderator == 1" role="button" class="col-xs-12 somos"  ng-click="makeNormal(participante)">NORMAL</a>
                                </div>
                                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{participante.followers_amount}}</a>
                            </div>
              

                      
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div ng-if="activator_success">
        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> ¡GENIAL!</h2>
                        <h5 style="font-family: montserrat; color:#444;">Nombraste activador a {{activated_name}}</h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>   
                    <div class="col-xs-2"></div>
                </div>
            </div>

        </div>
    </div>
  

    <div ng-if="normal_success">

        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> OK</h2>
                        <h5 style="font-family: montserrat; color:#444;">Nombraste usuario regular a {{activated_name}} </h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
   
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        window.scrollTo(0,0);
    });
</script>
