<div data-ng-controller="winwin-members">
    <div ng-if="!in_message">
        <div class="grid grid-participantes no-padding" style="margin-top:55px;">
            <div class="grid-item participante-item {{classType(participante)}}"  ng-repeat="participante in winwin.users">

        
                <div class="col-xs-12 no-padding">
                    <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{participante.cover_photo}}" style="height: 220px;">
                  
                        <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                            <img ng-src="http://images.dev-winwins.net/smart/{{::participante.photo}}" class="img-responsive img-circle"  style="margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                        </div>
                        <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                            <h4> 
                                {{::participante.displayname}} 
                            </h4>
                      
                        </div>
                    </div>

       
       
                    <div class="container">
                        <div class="row">
                            <div class="buttons-profile">
                                <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::participante.winwins_amount}}</a>
                                <div class="col-xs-6">
                                    <a ng-show="!participante.my_self && !participante.following" role="button" class="col-xs-12 btn-join"  ng-click="follow(participante)"> SEGUIR</a>
                                    <a ng-show="!participante.my_self && participante.following" role="button" class="col-xs-12 btn-join"  ng-click="follow(participante)"> SEGUIR</a>
                                    <a ng-show="isAdmin && participante.pivot.moderator == 0" role="button" class="col-xs-12 somos"  ng-click="makeActivator(participante)">ACTIVADOR</a>
                                    <a ng-show="isAdmin && participante.pivot.moderator == 1" role="button" class="col-xs-12 somos"  ng-click="makeNormal(participante)">NORMAL</a>
                                </div>
                                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::participante.followers_amount}}</a>
                            </div>
              

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div ng-if="activator_success">
        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center; padding-bottom:50px;    "> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:150px; height: 150px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> ¡GENIAL!</h2>
                        <h5 style="font-family: montserrat; color:#444;">Nombraste activador a {{activated_name}}</h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>   
                    <div class="col-xs-2"></div>
                </div>
            </div>

        </div>
    </div>
  

    <div ng-if="normal_success">

        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> OK</h2>
                        <h5 style="font-family: montserrat; color:#444;">Nombraste usuario regular a {{activated_name}} </h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
   
    </div>
</div>





<div id="footer">
    <div id="panel" >
        <div class="col-sm-6 col-sm-offset-3" style="background-color:#1762C3; padding:13px;">
            <div id="imaginary_container"> 
                <h1 ng-show="asynSelected">{{asyncSelected}}</h1>
                <div class="input-group stylish-input-group" style="height:39px; font-size: 12px;">
                    <input id="query" type="text" class="form-control" placeholder="Busca Winwins, Personas, Grupos o Sponsors" ng-model="term" aria-describedby="search-lbl" ng-enter="search()"  style="height:39px; border-radius:1px; font-size:10px;">
                    <!--input type="text" ng-model="asyncSelected" placeholder="Busca Winwins, Personas, Grupos o Sponsors" uib-typeahead="entity for entity in getEntities($viewValue)" typeahead-loading="searching" typeahead-no-results="noResults" class="form-control" style="height:39px; border-radius:1px; font-size:10px;"-->

                    <span class="input-group-addon">
                        <button type="submit" style="background-color: #FF8000; box-shadow: none; background-color: #FF8000; box-shadow: none; border: 0px; font-size: 1.6rem; height: 39px; margin-top: -7px; margin-left: -12px; padding: 10px; padding-right: 15px; padding-left: 15px;" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
