<div class="panel panel-default">
    <div class="panel-heading no-padding">
        <div class="col-xs-12 no-padding">
            <div ng-show="!editing_conversation" class="col-xs-offset-9">
                <span class="btn btn-success block-right" ng-click="newConversation()">Nueva Conversación</span> 
            </div>
            <div ng-show="editing_conversation" class="new-conversation col-xs-12 no-padding">
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                    <input type="text" ng-model="conversation.title" ng-required="true" style="width:100%" placeholder="Titulo"/>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                    <textarea class=""  rows="2" ng-model="conversation.content" no-resize ng-required="true" style="width:100%" placeholder="">
                    </textarea>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                   <span class="btn btn-success pull-right"  ng-click="submitConversation()" style="font-size:10px!important;">ENVIAR</span>
                   <span class="btn pull-right"  ng-click="cancelConversation()" style="font-size:10px!important;">CANCELAR</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body no-padding col-xs-12">
        <ul ng-repeat="comment in comments" class="media-list no-padding col-xs-12" style="padding-top: 30px;">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{comment.photo}}" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.title}}</h4>
                    <p>{{comment.content}}</p>
                    <p class="small">
                        {{comment.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                    </p>

                    <div ng-show="comment.replies.length" class="media" ng-repeat="reply in comment.replies">
                        <div class="media-left">
                            <a href="#">
                                <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{reply.photo}}" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                            </a>
                        </div>
                        <div class="media-body">
                            <p>{{reply.content}}</p>
                            <p class="small">
                                {{reply.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 no-padding">
                    <div ng-if="!comment.editing_reply" class="col-xs-offset-9">
                        <span class="btn btn-success pull-right" ng-click="newReply(comment)">Responder</span> 
                    </div>
                    <div ng-if="comment.editing_reply" class="new-conversation col-xs-12 no-padding">
                        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                            <textarea class=""  rows="2" ng-model="reply.content" no-resize ng-required="true" style="width:100%" placeholder="">
                            </textarea>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                           <span class="btn btn-success pull-right"  ng-click="submitReply(comment)" style="font-size:10px!important;">ENVIAR</span>
                           <span class="btn pull-right"  ng-click="cancelReply(comment)" style="font-size:10px!important;">CANCELAR</span>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>

