<div ng-show="third_stage">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 create-title bubble-md"> 
                <i class="fa fa-bullhorn"></i> <br>INVITA  AL MUNDO 
            </div>
        </div>
    </div>
       
    <div class="container">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::group.photo}}" style="height: 250px;">
                    <div style="margin-left:auto; margin-right: auto; padding-top:50px;display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                        <h4>{{group.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container no-padding">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div style=" font-family: montserrat; background-color: #1862C3; padding: 20px; font-size: .9em; color: #fff; text-align: center; ">Compartí tu Grupo e invitá a tus amigos, familiares, colegas, compañeros y  todo el mundo! </div>  
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <a href="#" class="col-xs-3 btn btn-fbk-big" role="button" style="width:100%; height: 100%; border: 4px solid #2A51A2;"><i class="fa fa-facebook"></i></a>
            <a href="#" class="col-xs-3 btn btn-twitter-big" role="button" style="width:100%; height: 100%; border: 4px solid #0EB5C3;"><i class="fa fa-twitter"></i></a>
            <a href="#" class="col-xs-3 btn btn-google-big" role="button" style="width:100%; height: 100%; border:4px solid #CC2424;"><i class="fa fa-google"></i></a>
            <a href="#" class="col-xs-3 btn btn-yahoo-big" role="button" style="width:100%; height: 100%; border: 4px solid #25375D;"><i class="fa fa-yahoo"></i></a>
        </div>
    </div>

    <div class="container no-padding">

        <input name="crear-winwin" ng-click="goToView()" value="IR A MI GRUPO" type="button" style="width:100%; background-color:#093; border-bottom: 3px solid darkgreen; border-radius: 5px; font-family:montserrat; font-size: 20px; padding:10px; color: white;"> 
    </div>

</div>

<div ng-show="four_stage">

    <div class="container">
        <div class="row">
            <div class="pad-50"> </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div style="text-align: center;"> 
                    <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                    <h1 style="font-family: montserrat;"> ¡GENIAL! </h1>
                    <h4 style="font-family: montserrat;"> Vamos a tu Grupo.</h4>
                    <div class="pad-80"></div>
                    <img src="/images/loading.gif" width="110" height="80" alt="loading"> </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    </div>

</div>
