<div ng-controller="NavController" id="winwin-menu">
    <div class="navbar-fixed no-padding iso-width" style="height:56px;">
        <nav>
            <a class="brand-logo center" style="width:112px;" ng-href="/#/main"><img src="images/logo-winwins.png" alt="winwins"></a>

            <ul id="slide-out" class="side-nav left" style="margin-top:56px;">
                <li><a ng-href="/#/signin" ng-if="!isAuthenticated()"><i class="fa fa-sign-in"></i> Ir a mi cuenta</a></li>
                <li><a ng-href="/#/winwin-list"><i class="fa fa-comments"></i><span> Winwins</span></a></li>
                <li><a ng-href="/#/winwin-new" ng-if="isAuthenticated()"><i class="fa fa-plus-circle"></i> Crear un WinWin</a></li>
                <li><a ng-href="/#/group-list" ng-if="isAuthenticated()" ><i class="fa fa-users"></i><span> Grupos</span></a></li>
                <li><a ng-href="/#/group-new" ng-if="isAuthenticated()" ><i class="fa fa-plus-circle"></i> Crear un Grupo</a></li>
                <li><a ng-href="/#/user-list" ng-if="!isAuthenticated()"><i class="fa fa-user"></i> Miembros </a></li>
                 <li><a ng-href="/#/user-list" ng-if="isAuthenticated()"><i class="fa fa-user"></i> Miembros </a></li>
                <li><a ng-href="/#/sponsor-list" ng-if="!isAuthenticated()"><i class="fa fa-star"></i> Sponsors</a></li>
                <li><a ng-href="/#/sponsor-list" ng-if="isAuthenticated()"><i class="fa fa-star"></i> Sponsors</a></li>
                <li><a ui-sref="how" ng-if="!isAuthenticated()"><i class="fa fa-fw fa-cogs"></i>¿Cómo Funciona?</a></li>
                <li><a ng-click="goProfile()" ng-if="isAuthenticated()" > <i class="fa fa-user"></i> Mi perfil</a></li>
                <li><a ng-href="/#/logout" ng-if="isAuthenticated()"><i class="fa fa-fw fa-sign-out"></i><span> Salir</span></a></li>
                <li><a ng-href="/#/signup" ng-if="!isAuthenticated()"><span style="background-color: #FF8000  ; padding:7px; padding-left:12px; padding-right:12px; border-radius:1px;">Registrate</span></a></li>
            </ul>

            <div class="right" style="padding-right:20px; z-index:999; height: 50px;">
                                    <a ng-href="/#/signin" style="font-size: 20px; padding-top:3px;" ng-if="!isAuthenticated()"><i class="fa fa-sign-in sign-btn"></i></a>

                <a href data-activates="slide-out" class="button-collapse right"><i class="fa fa-bars" style="font-size:23px;z-index"></i></a>
                <span style="padding-right:20px;" ng-click="goProfile()">
                    <img  ng-if="is_logged"  ng-click="goProfile()" ng-show="profile" ng-src="http://images.dev-winwins.net/30x30/{{profile_photo}}" class="img-circle img-no-border" alt="profile" style="margin-top:-2px;cursor: pointer;" ng-cloak/>
                </span>
            </div>
            <div class="left" style="margin-left:10px;">
                <i class="fa fa-chevron-left fa-lg imenu" ng-click="do_back()"></i>    
                <i class="fa fa-bell-o fa-lg imenu" style="padding-left: 20px; font-size:1.3em;"  ng-if="is_logged" ng-click="goNotifications()"></i>
                <span class="notificaciones" style="background-color:red; width:5px; height:5px;" ng-if="unreadNotifications > 0">{{unreadNotifications}}</span>   
            </div>
        </nav>
    </div>
</div>
