<style>
   body {
   background-color: #fff;
   background-color: #1976D2;
   }
</style>
<div ng-show="show_login">
   <form method="post" ng-submit="login()" name="loginForm">
      <div class="container">
         <div class="320hide" >
            <H4 class="white-text text-lighten-6 320hide" style="text-align:center;"><i class="fa fa-sign-in"></i>
               VAMOS A TU CUENTA 
            </h4>
         </div>
      </div>
      <div class="row">
         <div class="container 320" style="max-width: 300px; 
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+23,ffffff+99,ffffff+100&0.98+24,0.74+71 */
            background: -moz-linear-gradient(top, rgba(255,255,255,0.98) 23%, rgba(255,255,255,0.98) 24%, rgba(255,255,255,0.74) 71%, rgba(255,255,255,0.74) 99%, rgba(255,255,255,0.74) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.98) 23%,rgba(255,255,255,0.98) 24%,rgba(255,255,255,0.74) 71%,rgba(255,255,255,0.74) 99%,rgba(255,255,255,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0.98) 23%,rgba(255,255,255,0.98) 24%,rgba(255,255,255,0.74) 71%,rgba(255,255,255,0.74) 99%,rgba(255,255,255,0.74) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffffff', endColorstr='#bdffffff',GradientType=0 ); /* IE6-9 */
            padding: 30px;
            box-shadow: 3px 3px 10px black;
            border-radius: 5px;">
            <div class="row">
               <div class="input-field col s12" >
                  <input id="email" type="email" length="30"  ng-model="email"  class="validate" required="required">
                  <label for="email" >Email</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <input id="password" type="password" length="12"  class="validate"  ng-model="password" required="required">
                  <label for="password">Password</label>
               </div>
            </div>
            <button class="col s12 waves-effect waves-light btn-large" type="submit" ng-disabled="loginForm.$invalid" name="action">Ingresar
            </button>
         </div>
   </form>
   <!-- /Signup Form -->   
   <div class="container">
   <H6 class="white-text text-lighten-6" style="text-align:center;"><i class="fa fa-sign-in"></i>
  <span stlye="font-size: 19px;"> ¿No tenes cuenta? </span><br>Ingresa con un clic con red social preferida:
   </h6>
   </div>
   <!-- social login -->   
   <div class="container no-padding">
   <div class="col-md-offset-4 col-md-1 col-xs-2 col-xs-offset-2 col-sm-offset-2"><a class="i" ng-click="authenticate('facebook')" ><i class="fa fa-facebook" style="background-color: #3B5998;
      font-size: 2rem;
      padding: 15px 20px;
      border-radius: 50%;
      "></i></a></div>
   <div class="col-md-1 col-xs-2"><a class="i" ng-click="authenticate('twitter')" ><i class="fa fa-twitter" style="background-color:  #54ABEE;
      font-size: 2rem;
      padding: 15px 15px;
      border-radius: 50%;
      "></i></a></div>
   <div class="col-md-1 col-xs-2"><a class="i" ng-click="authenticate('google')" ><i class="fa fa-google" style="background-color: #D50F25;
      font-size: 2rem;
      padding: 15px 20px;
      border-radius: 50%;
      "></i></a></div>
   <div class="col-md-1 col-xs-2 "><a class="i" ng-click="authenticate('yahoo')" ><i class="fa fa-yahoo" style="background-color: #7B0099;
      font-size: 2rem;
      padding: 15px 17px;
      border-radius: 50%;
      "></i></a></div>
   <div class="col-md-offset-3"></div>

   </div>

   <div class="container">
   <H6 class="white-text text-lighten-6" style="text-align:center;"><i class="fa fa-sign-in"></i>
  <span stlye="font-size: 19px;"> O registrate haciendo <span style="background-color: #FF8000; padding:3px; border-radius:2px;">clic aquí:</span>
   </h6>
   </div>

   <!--  footer -->  
   <div class="footer-copyright center">
   <h6 style="font-size:10px; color: orange;">   © 2015 - Humanet - WinWins.Org- </span> Acuerdos en Acción</h6>
   </div>
   <div class="container">
   <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
   <h6 style="text-align: center; font-family: montserrat; font-size: 9px;">Winwins 2.0 - <a style="color: #FFF; padding-top: 3px;"  ui-sref="terms">Política de Privacidad</a> </h6>
   </div>
   <div class="col-sm-4"></div>
   </div>
   </div>
   <!--/ footer -->
   </div>
</div>
</div>
<div class="pad-100"></div>
</form>
</div>
<div class="container" ng-show="redirect_message">
   <div class="row">
      <div class="pad-20"> </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
         <div style="text-align: center;">
            <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
            <h1 style="font-family: montserrat; letter-spacing: -3px; color:#fff;" ng-if="!provider"> ¡Genial! </h1>
            <h1 style="font-family: montserrat; letter-spacing: -3px; color:#fff;" ng-if="provider"> ¡Ingresaste con {{provider}}! </h1>
            <h4 style="font-family: montserrat; letter-spacing: -1px; color:#fff;"> Vamos a tu cuenta</h4>
            <div class="pad-80"></div>
            <div class="spinner"></div>
            <div class="col-xs-2"></div>
         </div>
      </div>
   </div>
</div>
<script>
   $(document).ready(function() {
      $('input#input_text, textarea#textarea1').characterCounter();
    });
          
          
</script>
