<div class="container">
    <div class="row" style="margin-top:55px;">

        <header>
            <iframe width="100%" height="280" src="https://www.youtube.com/embed/i0z606_lgOQ?autoplay=0" frameborder="0" ></iframe>
        </header>
    </div>
</div>    
  

<div class="container pseudo-header">
    <div class="row" style="margin-top: 195px;"> 
       <div ng-click="goControlPanel()" style="cursor: pointer;">
            <button type="button" class="btn btn-default btn-lg comenzar">
<i class="fa fa-chevron-right"></i> COMENZA AHORA </div></button>

    </div>
</div> 

<div class="container">
    <div class="row">
     <div class="dropdown col-xs-12 col-sm-12 no-padding">
        <button class="btn col-xs-12 col-sm-12 " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
            WinWins Destacados
            <span class="caret pull-right caret-middle"></span>
        </button>
        <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
            <li><a ng-click="doFilter('popular')">WinWins Populares</a></li>
            <li><a ng-click="doFilter('last')">Últimos WinWins Creados</a></li>
                <li><a ng-click="doFilter('popular')">WinWins Destacados</a></li>
            <li><a  ng-click="doFilter('next_to_close')">Por concretarse</a></li>
            <!--li><a href="#">Solidaridad / Cooperación</a></li-->
        </ul>
    </div>
</div>

    </div>
</div>
   

<div class="container" ng-repeat="winwin in winwins">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
            <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
                <div class="ww-featured featured"> <i class="fa fa-bookmark"></i></div>
            </div>

            <div class="ww-popular" ng-if="winwin.mark == 'popular'"> 
                <div class="ww-popular pop"> Pop</div>
            </div>
            <div class="ww-finishing" ng-if="winwin.mark == 'finishing'"> 
                <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
            </div>
        </div>
        <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" style="height: 220px; cursor:pointer; box-shadow: 5px  #999; rgb(212, 206, 206);"  ng-click="view(winwin.id)">
            <div class="username-cards text-uppercase">{{::winwin.title}}</div>
            <div class=" col-xs-12" style="padding-top:80px;">
    <div class=" col-xs-2">      <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">  </div>
    <div class=" col-xs-2">      <img ng-repeat="sponsor in winwin.sponsors" ng-src="http://images.dev-winwins.net/40x40/{{::sponsor.photo}}"  class="img-circle"  ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer">   </div>
    <div class=" col-xs-2">      </div>

      </div>
        </div>

         <!--    <div class=" col-xs-1 profile">

                <div style="margin-top:-40px;">

                <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer">
                  <img ng-repeat="sponsor in winwin.sponsors" ng-src="http://images.dev-winwins.net/40x40/{{::sponsor.photo}}"  class="img-circle"  ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer">
            </div>

    </div>
</div>--> 

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><div class="bubble-md create-title"><i class="fa fa-thumbs-o-up"></i><br>Compartir es sumar!</div></h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <a href="#" class="col-xs-3 btn btn-fbk-big" role="button" style="width:100%; height: 100%;box-shadow: NONE; font-size: 2em; padding-top: 15PX; margin-top: -15px;" socialshare 
                    socialshare-provider="facebook" 
                    socialshare-text="{{::toShare.title}}" 
                    socialshare-url="http://dev-winwins/ww/winwin/{{::toShare.id}}">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="col-xs-3 btn btn-twitter-big" role="button" style="width:100%; height: 100%;box-shadow: NONE; padding:10px;" socialshare 
                    socialshare-provider="twitter" 
                    socialshare-text="{{::toShare.title}}" 
                    socialshare-url="http://dev-winwins/ww/winwin/{{::toShare.id}}" >
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="col-xs-3 btn btn-google-big" role="button" style="width:100%; height: 100%; box-shadow: NONE;" socialshare socialshare-provider="google" 
                    socialshare-text="{{::toShare.title}}" 
                    socialshare-url="http://dev-winwins/ww/winwin/{{::toShare.id}}" >
                    <i class="fa fa-google"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
    </div>
</script>


<div id="footer">
    <div id="panel" >
        <div class="col-sm-6 col-sm-offset-3" style="background-color:#1762C3; padding:13px;">
            <div id="imaginary_container"> 
                <h1 ng-show="asynSelected">{{asyncSelected}}</h1>
                <div class="input-group stylish-input-group" style="height:39px; font-size: 12px;">
                    <input id="query" type="text" class="form-control" placeholder="Busca Winwins, Personas, Grupos o Sponsors" ng-model="term" aria-describedby="search-lbl" ng-enter="search()"  style="height:39px; border-radius:1px; font-size:10px;">
                    <!--input type="text" ng-model="asyncSelected" placeholder="Busca Winwins, Personas, Grupos o Sponsors" uib-typeahead="entity for entity in getEntities($viewValue)" typeahead-loading="searching" typeahead-no-results="noResults" class="form-control" style="height:39px; border-radius:1px; font-size:10px;"-->

                    <span class="input-group-addon">
                        <button type="submit" style="background-color: #FF8000; box-shadow: none; background-color: #FF8000; box-shadow: none; border: 0px; font-size: 1.6rem; height: 39px; margin-top: -7px; margin-left: -12px; padding: 10px; padding-right: 15px; padding-left: 15px;" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--div class="container">
    <div class="row">
        <div class="sponsor-image">
            <img src="img/coca-cola.jpg" width="533" height="222" class="img-responsive" /> 
        </div>
    </div>
</div--> 
