<form method="post" ng-submit="signup()" name="signupForm">
<div class="container" style="margin-top:55px;">
   <div class="row">
      <div class="login-txt"> REGISTRATE </div>
   </div>
</div>
<div class="container">
<div class="row">
   <div class="col-xs-12">
      <div class="form-back">
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon1" ng-model="name" required>
         </div>
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Apellido" aria-describedby="sizing-addon1" ng-model="lastname">
         </div>
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope-o"></i></span>
            <input type="text" class="form-control" placeholder="Tu e-mail" aria-describedby="sizing-addon1"  ng-model="email"  ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
         </div>
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1" ng-model="password" required>
         </div>
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Confirma Contraseña" aria-describedby="sizing-addon1" ng-model="confirmPassword" required  compare-to="password">
         </div>
        <div class="pad-10"></div>
         <button type="submit"  ng-disabled="signupForm.$invalid" class="btn btn-register">REGISTRAR</button>
      </div>
   </div>
</div>


<!-- /Signup Form -->   
<div class="container">
   <div class="row">
      <div class="login-txt"> O INGRESA CON </div>
   </div>
</div>
<!-- social login -->   
<div class="container social">
   <div class="row">
      <div class="col-xs-3"><a href="#" class="btn btn-fbk-big" role="button" style="border-radius: 5px;"  ng-click="authenticate('facebook')"><i class="fa fa-facebook"></i></a></div>
      <div class="col-xs-3"><a href="#" class="btn btn-twitter-big"  style="border-radius: 5px;"role="button"  ng-click="authenticate('twitter')"><i class="fa fa-twitter"></i></a></div>
      <div class="col-xs-3"><a href="#" class="btn btn-google-big" role="button" style="border-radius: 5px;"   ng-click="authenticate('google')"><i class="fa fa-google-plus"></i></a></div>
      <div class="col-xs-3"><a href="#" class="btn btn-yahoo-big" role="button" style="border-radius: 5px;"  ng-click="authenticate('yahoo')"><i class="fa fa-yahoo"></i></a></div>
   </div>
</div>
<!--  / social login -->  







<div class="pad-100"></div>
<div class="container">
   <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
         <h6 style="text-align: center; font-family: montserrat; font-size: 9px;">Winwins 2.0 - <a style="color: #06C; padding-top: 3px;"  href="file:///C|/Users/LinkWay/Desktop/WinWins/Guest User/pages/terms-and-conditions.html">Política de Privacidad</a> </h6>
      </div>
      <div class="col-sm-4"></div>
   </div>
</div>


