<div class="container">
    <div class="row">
        <div class="pad-50"> </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><div style="text-align: center;"> 
        <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
        <h1 style="font-family: montserrat;"> Te vamos a extrañar </h1>
       <h4 style="font-family: montserrat;"> Has abandonado WinWins</h4>   
       <div class="pad-80"></div>
       <img src="/images/loading.gif" width="110" height="80" alt="loading"> </div>
        <div class="col-xs-2"></div>
    </div>
</div>

