<div class="container no-padding" ng-if="!users.length">

        
    <h5 class="black-text card-panel" style="margin-top:70px;" class="animated  wobble">No encontramos resultados<br> para tu búsqueda!<br> </h5>
     
    <div class="container">
  
        <nav>
            <div class="nav-wrapper  white" data-ng-controller="main-search-controller">
              <form>
                <div class="col-xs-12">
                      <div class="input-field">
                          <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="searchUsers()">
                          <i class="fa fa-search right black-text"id="query" ng-click="searchUsers()" style="padding-top:15px; font-size: 20px;"></i>
                          <label for="query"></label>
                      </div>
                 </div>
              </form>
            </div>
          </nav>
    </div>
</div>

<div ng-if="users.length">

    <div class="col-xs-12 no-padding card-panel teal hoverable" ng-repeat="user in users">

        <div class="container no-padding">

            <div class="col-xs-12 no-padding">
                <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::user._source.cover_photo}}" style="height: 220px;">
                    <div class="profile-avatar avatar">
                        <img ng-src="http://images.dev-winwins.net/smart/{{::user._source.photo}}" class="img-responsive img-circle center"/>
                    </div>
                    <div class="username"> {{::user._source.name}} </div>
                </div>

                <div class="container no-padding">

                    <div class="buttons-profile">
                        <a href class="col-xs-3 ww-somos"> </a> 
                        <a role="button" class="col-xs-5 btn-join" ng-show="user._source.already_following" ng-click="unfollow(user._id)"> DEJAR DE SEGUIR</a>
                        <a role="button" class="col-xs-5 btn-join" ng-show="!user._source.already_following" ng-click="follow(user._id)"> SEGUIR</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="footer" data-ng-controller="main-search-controller">

    <nav>
        <div class="nav-wrapper  blue darken-4">
          <form>
            <div class="col-xs-12">
              <div class="input-field">
              <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="searchUsers()">
              <!-- I've put "red-text" class to emphasize -->
              <i class="fa fa-search right" id="query" ng-click="searchUsers()" style="padding-top:10px; font-size: 20px;"></i>
                          <label for="query"></span></label>

            </div>
          </form>
        </div>
         </nav>
      </div>
    </div>
     
</div>
        

<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer').addClass("show");
}
else
{
    $('#footer').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>

<script>

  $(document).ready(function() {
    $('select').material_select();
  });

  </script>



