section.acme-video {
  background: black;
  @media (min-width: 960px) {
    height: 435px;
    background: url('../assets/images/home-video-desktop.png') no-repeat right center;
    background-size: cover;
  }
  max-width: 1280px;
  margin: 0 auto;
  .share {
    background: url('../assets/images/arrow-share.svg') no-repeat 80% 60px;
    h1 {
      font-size: 21px;
      font-family: 'Pacifico', cursive;
      color: #fff;
      font-weight: normal;
      margin: 20px
    }
    md-icon {
      width: 51px;
      height: 47px;
      cursor: pointer;
    }
    .share-social-media {
      position: fixed;
      top: 115px;
      right: 0;
      z-index: 100;
    }
  }
  .social-media {
    margin-bottom: 20px;
    p {
      font-size: 22px;
      font-family: 'Pacifico', cursive;
      color: #5d5d5d;
      margin:0 0 5px 0;
    }
    .md-button.md-icon-button {
      padding:0;
      margin: 0;
    }
    md-icon {
      width: 38px;
      height: 38px;
      cursor: pointer;
    }
  }
  .md-green {
    background: #4cae4e;
    font-size: 46px;
    padding: 4px 30px 0 20px;
    margin: 20px;
    line-height: 60px;
    font-weight: 700;
    color: white;
    transform: rotate(-7deg);
    &:not([disabled]):hover {
      background: #4cae4e;
    }
    .material-icons {
      color: #fff;
      position: relative;
      font-size: 55px;
      top: -4px;
    }
  }
}

.acme-recientes {
  .title {
    color: #ed7932;
    margin: 20px 8px;
    font-size: 28px;
    md-icon {
      position: relative;
      top:-3px;
      width: 60px;
      height: 53px;
    }
    small {
      color: #a1a1a1;
      font-size: 12px;
      font-weight: normal;
      position: relative;
      bottom: 5px;
    }
  }
}
.menu-caterogias {
  position: relative;
  .md-button {
    font-size: 12px;
    text-transform: inherit;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    margin: 0;
  }
  @extend .container;
  .menu-caterogias-btn {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    color: #fff;
    margin: 0;
    padding: 0;
    .material-icons {
      color: #fff;
    }
  }
}

md-tabs.acme-tabs {
  md-tabs-wrapper {
    background: #0d47a1;
    md-tabs-canvas {
      @extend .container;
      height: 45px;
      md-pagination-wrapper {
        height: 45px;
      }
      md-icon {
        display: block;
        height: 16px;
        &.material-icons {
          color: #fff;
          position: relative;
          top: -2px;
        }
      }
    }
    span.ng-scope {
      color: #fff;
    }
  }
  md-ink-bar {
    color: #fff;
    background: #ec6b25;
  }
  .md-tab {
    text-transform: initial;
    font-size: 12px;
    padding: 5px 24px;
    .md-ripple-container {
      color: #ec6b25;
    }
    &:hover {
      background: #1b3089;
    }
  }
}
md-menu-content {
  padding: 0;
  md-checkbox {
    margin-bottom: 0;
  }
}
.tabs-login {
  md-dialog-content {
    max-width:800px;
    @media (min-width: 600px) {
      min-width: 430px;
    }
  }
}