section.acme-video {
  background: black;
}

.acme-recientes {
  .title {
    color: #ed7932;
    margin: 20px 8px;
    md-icon {
      position: relative;
      top:-3px;
      width: 74px;
      height: 65px;
    }
    small {
      color: #a1a1a1;
      font-size: 15px;
    }
  }
}

md-tabs.acme-tabs {
  md-tabs-wrapper {
    background: #0d47a1;
    md-tabs-canvas {
      @extend .container;
    }
  }
  span.ng-scope {
    color: #fff;
  }
  md-ink-bar {
    color: #ec6b25;
    background: #ec6b25;
  }
  .md-tab .md-ripple-container {
    color: #ec6b25;
  }
}
