<section class="acme-video" layout ng-if="!main.isAuthenticated()">
  <div class="signup" flex="30" layout="column" layout-align="center center" hide show-gt-sm>
    <img src="assets/images/home-video-login.svg" alt="" />
    <md-button class="md-raised md-green"><md-icon>play_arrow</md-icon> {{ 'Sí!' | translate }}</md-button>
  </div>
  <div class="login" flex="40" layout="column" layout-align="space-around center" hide  show-gt-sm>
    <div ng-click="main.showVideoDialog()" class="play-video"></div>
    <div class="social-media">
      <p translate>Ingresa con: </p>
      <md-button class="md-icon-button" ng-click="main.showLoginDialog()" aria-label="facebook">
        <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="main.showLoginDialog()" aria-label="twitter">
        <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="main.showLoginDialog()" aria-label="google">
        <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="main.showLoginDialog()" aria-label="yahoo">
        <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="main.showLoginDialog()" aria-label="winwin">
        <md-icon md-svg-src="assets/images/icon-ww.svg"></md-icon>
      </md-button>
    </div>
  </div>
  <div class="share" flex="30" layout="column" layout-align="start end" hide show-gt-sm>
    <h1 translate>compartir es sumar</h1>
    <div class="share-social-media">
      <div><md-icon md-svg-src="assets/images/icon-facebook-share.svg" ng-href="#" target="_blank"></md-icon></div>
      <div><md-icon md-svg-src="assets/images/icon-twitter-share.svg" ng-href="#" target="_blank"></md-icon></div>
      <div><md-icon md-svg-src="assets/images/icon-google-share.svg" ng-href="#" target="_blank"></md-icon></div>
    </div>
  </div>

  <video width="100%" poster="assets/images/home-video.png" controls hide-gt-sm>
      <source src="assets/videos/winwins.m4v" type="video/mp4"> {{'Your browser does not support HTML5 video' | translate }}
  </video>
</section>

<acme-highlighted items="main.destacados" hide-gt-sm></acme-highlighted>

<div class="menu-caterogias">
  <md-menu md-offset="0 0" md-position-mode="target-right target" class="menu-caterogias-btn">
    <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
      {{'Ver winwins por categoria' | translate }} <md-icon md-menu-origin>arrow_drop_down</md-icon>
    </md-button>
    <md-menu-content width="7">
      <md-menu-item ng-repeat="item in main.interests">
        <md-button ng-click="main.doCategories($index)">
          <span md-menu-align-target></span> {{item.description}}
<!--           <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
            <span md-menu-align-target></span> {{item.description}}
          </md-checkbox> -->
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<md-tabs md-dynamic-height class="acme-tabs hide show-gt-sm">
  <md-tab id="tab1" ng-click="main.doFilter('select')">
    <md-tab-label><md-icon md-svg-src="assets/images/icon-tab-highlighted.svg"></md-icon>{{'Destacados' | translate }}</md-tab-label>
    <md-tab-body>
      <acme-highlighted items="main.destacados" title="main.tdestacados" icon="'icon-highlighted'"></acme-highlighted>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab2" ng-click="main.doFilter('popular')">
    <md-tab-label><md-icon>whatshot</md-icon>{{'Populares' | translate }}</md-tab-label>
    <md-tab-body>
      <acme-highlighted items="main.destacados" title="main.tpopulares" icon="'icon-highlighted'"></acme-highlighted>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab3" ng-click="main.doFilter('finishing')">
    <md-tab-label><md-icon>access_time</md-icon>{{ 'Recientes' | translate }}</md-tab-label>
    <md-tab-body>
      <acme-highlighted items="main.destacados" title=" main.trecientes" icon="'icon-highlighted'"></acme-highlighted>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab4" ng-click="main.doFilter('last')">
    <md-tab-label><md-icon md-svg-src="assets/images/icon-tab-por-terminar.svg"></md-icon>{{' Por terminar' | translate }}</md-tab-label>
    <md-tab-body>
      <acme-highlighted items="main.destacados" title="main.tterminar" icon="'icon-highlighted'"></acme-highlighted>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab5" ng-click="main.doFilter('success')">
    <md-tab-label><md-icon md-svg-src="assets/images/icon-tab-concretados.svg"></md-icon>{{'Concretados' | translate }}</md-tab-label>
    <md-tab-body>
      <acme-highlighted items="main.destacados" title="main.tconcretados" icon="'icon-highlighted'"></acme-highlighted>
    </md-tab-body>
  </md-tab>
</md-tabs>

<acme-miembro items="main.miembros"></acme-miembro>
<acme-partner items="main.partners"></acme-partner>
<acme-sponsor items="main.sponsors" url="{{imageServer}}"></acme-sponsor>

<div class="container acme-recientes">
  <h1 class="title">
    <md-icon md-svg-src="assets/images/icon-recientes-title.svg"></md-icon>{{'WINWINS RECIENTES' | translate }}
    <small translate>Últimos winwins creados</small>
  </h1>
</div>
<acme-highlighted items="main.recientes"></acme-highlighted>

<acme-contador items="main.contador"></acme-contador>
<acme-footer items="main.footer"></acme-footer>
