
    <div class="container">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::user_detail.cover_photo}}" style="height: 220px;">
                    <div class="profile-avatar avatar"> 
                        <img src="http://images.dev-winwins.net/smart/{{user_detail.photo}}" class="img-responsive img-circle img-no-border" style="margin:5px auto" />
                    </div>
                    <div class="username">{{::user_detail.name}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="buttons-profile">
                <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{user_detail.winwins.length}}</a>
                <span class="col-xs-6" ng-show="user_detail.myself"> </span>
                <a href="#" role="button" class="col-xs-6 btn-join" ng-click="follow()" ng-show="!user_detail.myself && !user_detail.already_following"> SEGUIR</a>
                <a href="#" role="button" class="col-xs-6 btn-join" ng-click="unfollow()" ng-show="user_detail.already_following"> DEJAR DE SEGUIR</a>
                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{user_detail.followers.length}}</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"><i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> SOBRE MI <i class="fa fa-caret-down" style="float:right;"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="user-desc">
                                <p class="text-destacados lista" style="margin-top:10px">
                                    {{user_detail.about}}
                                </p>
                                <p class="text-destacados lista" style="margin-top:10px">
                                    Soy usuario de Winwins desde el {{user_detail.created_at |moment: 'DD/MM/YYYY'}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading-b">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"><i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> MIS WINWINS <i class="fa fa-caret-down" style="float:right;"></i></a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding"> 
                                <div ng-repeat="ww in user_detail.winwins | filter: {user_id: user_detail.user_id} " class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/64x45/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"><i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> WINWINS EN QUE PARTICIPO <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding">
                                <div ng-repeat="ww in user_detail.winwins | filter: {user_id: '!user_detail.user_id'} " class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/64x45/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading-b">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour"><i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> SEGUIDORES <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding acordeon">
                                <div class="col-xs-2 followers no-padding" ng-repeat="follower in followers" >
                                    <img ng-src="http://images.dev-winwins.net/35x35/smart/{{follower.photo}}" width="35" height="35"  class="img-responsive img-circle"  alt="{{follower.name}}"  title="{{follower.name}}" style="cursor:pointer;" ng-click="viewUser(follower.user_id)">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive"> <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> SIGUIENDO <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding acordeon">
                                <div class="col-xs-2 followers no-padding" ng-repeat="followed in following" >
                                    <img ng-src="http://images.dev-winwins.net/35x35/smart/{{followed.photo}}" class="img-responsive img-circle" alt="{{followed.name}}"  title="{{followed.name}}" width="35" height="35" style="cursor:pointer;"  ng-click="viewUser(followed.user_id)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading-b">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix"> <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> MIS GRUPOS <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding">
                                <div ng-repeat="group in user_detail.groups" class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/64x45/smart/{{group.photo}}" width="auto" class="img-responsive" height="auto" style="cursor: pointer;" ng-click="viewGroup(group.id)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven"> <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> TIMELINE <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="col-xs-12 no-padding" ng-repeat="activity in user_detail.notifications | filter: {is_activity: 1}">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-comments" ng-if="activity.type == 'WW_CREATED'"></i>
                                        <i class="fa fa-comments" ng-if="activity.type == 'WW_JOIN'"></i>
                                        <i class="fa fa-comments" ng-if="activity.type == 'WW_LEFT'"></i>
                                        <i class="fa fa-users" ng-if="activity.type == 'GROUP_CREATED'"></i>
                                        <i class="fa fa-users" ng-if="activity.type == 'GROUP_JOIN'"></i>
                                        <i class="fa fa-users" ng-if="activity.type == 'GROUP_LEFT'"></i>
                                    </div>
                                    <div class="media-body">
                                        {{activity.body}}  
                                        <span class="date"> <i class="fa fa-clock-o"></i>
                                            {{activity.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading-b">
                        <h4 class="panel-title">
                            <a accordion-transclude="heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight"> <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i> COMENTARIOS <i class="fa fa-caret-down" style="float:right;"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-xs-12 no-padding" ng-repeat="comment in comments">

                                <div class="media">
                                    <div class="media-left">
                                        <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{comment.photo}}" class="media-object img-circle" width="30" height="30"  style="cursor:pointer;" ng-click="viewUser(follower.user_id)">
                                    </div>
                                    <div class="media-body">
                                        {{comment.content}} 
                                        <span class="date">    <i class="fa fa-clock-o"></i>{{comment.created_at | moment: 'DD/MM/YYYY HH:mm'}}</span>
                                    </div>
                                </div>

                            </div>



                            <div ng-if="!user_detail.myself" class="user-comentario col-xs-12">
                        
                                <div class="col-xs-1 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/38x38/{{user_detail.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                                </div>
                                <div class="col-xs-9">
                                    <textarea class=""  rows="2" ng-model="comment.content" no-resize ng-required="true" style="width:100%" placeholder="">
                                    </textarea>
                                </div>
                                <div class="col-xs-2 no-padding">
                                   <span class="btn btn-success "  ng-click="submitComment()" style="font-size:10px!important;">ENVIAR</span>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>





