<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body" ng-show="!winwin.id">
                <h2 class="text-center">Winwin</h2>
                <form method="post" ng-submit="doSave()" name="winwinForm">

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : winwinForm.title.$invalid && winwinForm.title.$dirty }">
                        <input class="form-control input-lg" type="text" name="title" ng-model="winwin.title" placeholder="Title" required autofocus>
                        <div class="help-block text-danger" ng-if="winwinForm.title.$dirty" ng-messages="winwinForm.title.$error">
                            <div ng-message="required">You must enter your title.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : winwinForm.users_amount.$invalid && winwinForm.users_amount.$dirty }">
                        <input class="form-control input-lg" type="text" name="users_amount" ng-model="winwin.users_amount" placeholder="Users Amount " required autofocus>
                        <div class="help-block text-danger" ng-if="winwinForm.users_amount.$dirty" ng-messages="winwinForm.users_amount.$error">
                            <div ng-message="required">You must enter an amount of users.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : winwinForm.what_we_do.$invalid && winwinForm.what_we_do.$dirty }">
                        <input class="form-control input-lg" type="text" name="what_we_do" ng-model="winwin.what_we_do" placeholder="What We Do" required autofocus>
                        <div class="help-block text-danger" ng-if="winwinForm.what_we_do.$dirty" ng-messages="winwinForm.what_we_do.$error">
                            <div ng-message="required">You must enter What We Do.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : winwinForm.description.$invalid && winwinForm.description.$dirty }">
                        <input class="form-control input-lg" type="text" name="description" ng-model="winwin.description" placeholder="Description" autofocus>
                    </div>

                    <div class="form-group has-feedback">
                        <div birth-day-picker birthday="winwin.closing_date" on-change="closingdatechange()"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="winwin.accept_terms"> He leido y aceptado los terminos y condiciones.
                            </label>
                        </div>
                    </div>


                    <button type="submit" ng-disabled="winwinForm.$invalid" class="btn btn-lg btn-block btn-primary">Create Winwin</button>

                </form>
            </div>
            <div class="panel-body" ng-show="winwin.id">
                <h2 class="text-center">Dale identidad a tu Winwin</h2>
                <form method="post" ng-submit="doSave()" name="winwinPlusForm">

                    <div class="form-group has-feedback">
                        <select class="form-control input-lg" ng-model="winwin.interest" ng-options="interest.description for interest in interests" placeholder="Category">
                        </select>
                    </div>


                    <div class="form-group has-feedback">
                        <select class="form-control input-lg" ng-model="winwin.scope" ng-options="scope for scope in scopes" placeholder="Scope">
                        </select>
                    </div>


                    <button type="submit" ng-disabled="winwinPlusForm.$invalid" class="btn btn-lg btn-block btn-primary">Guardar</button>

                </form>
            </div>

        </div>
    </div>
</div>
