<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Winwins</div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-6 col-md-4" ng-repeat="winwin in winwins">
                        <div class="thumbnail">
                            <img ng-src="{{winwin.image}}">
                            <div class="caption">
                                <h3>{{winwin.title}}</h3>
                                <h4>{{winwin.users_amount}}</h4>
                                <p>{{winwin.what_we_do}}</p>
                                <p><small>{{winwin.description}}</small></p>
                                <p><a ng-href="#/winwin-view/{{winwin.id}}" class="btn btn-primary" role="button">Ver</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

