<!--
 <div class="container no-padding">
 <div class="input-field col s12 no-padding">
    <select>
      <option value="" disabled selected><i class="fa fa-star">Seleccioná..</option>
      <option value="1">Populares</option>
      <option value="2"><i class="fa fa-bookmark"></i>Destacados</option>
      <option value="3">Nuevos</option>
    </select>
  </div>
</div>-->
    <div infinite-scroll='sponsors.nextPage()' style="margin-top:-25px;">
        <div class="col-xs-12 no-padding card-panel hoverable" style="margin-top:10px;" ng-repeat="sponsor in sponsors.items">

          <div class="col-xs-12 no-padding" ng-click="view(sponsor.id)">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; 
    background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(154, 148, 120, 0.0980392)), ">

              
                </div>
    
            </div>
   <div class="col s12 no-padding">

            <div class="col s12 no-padding">
              
            </div>
        
    </div>
</div>
    </div>
 

            
</div>


</div>

</div>

<div id="footer" data-ng-controller="main-search-controller">

<nav>
    <div class="nav-wrapper  blue darken-4">
      <form>
        <div class="col-xs-12">
          <div class="input-field">
          <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
          <!-- I've put "red-text" class to emphasize -->
          <i class="fa fa-search right" id="query" ng-click="search()" style="padding-top:10px; font-size: 20px;"></i>
                      <label for="query"></span></label>

        </div>
      </form>
    </div>
     </nav>
  </div>
</div>
 
        

<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer').addClass("show");
}
else
{
    $('#footer').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>

