
 <div class="container no-padding">
 <div class="input-field col s12 no-padding">
    <select>
      <option value="" disabled selected><i class="fa fa-star">Seleccioná..</option>
      <option value="1">Populares</option>
      <option value="2"><i class="fa fa-bookmark"></i>Destacados</option>
      <option value="3">Nuevos</option>
    </select>
  </div>
</div>
    <div infinite-scroll='sponsors.nextPage()' style="margin-top:-25px;">
        <div class="col-xs-12 no-padding card-panel hoverable" style="margin-top:10px;" ng-repeat="sponsor in sponsors.items">

          <div class="col-xs-12 no-padding ng-click="view(sponsor.id)"">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}" style="height: 220px;">
                <div class="profile-avatar avatar">
                    <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="img-responsive" />
                </div>
                <div class="username">{{::sponsor.name}}</div>
            </div>
   <div class="container no-padding">
        <div class="row no-padding">
            <div class="buttons-profile" style="margin-top:-70px;">
                <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="sponsor.already_following" ng-click="unfollow()"> DEJAR DE SEGUIR</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="!sponsor.already_following" ng-click="follow()"> SEGUIR</a>
                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
            </div>
        </div>
    </div>
</div>
    </div>
 

            
</div>


</div>

</div>

<!--

     

   
   
                <div class="container no-padding">
                                          <div class="buttons-profile">
                            <a href="#" class="col-xs-2 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                            <a ng-show="!sponsor.following" role="button" class="col-xs-6 btn-join"  ng-click="follow(sponsor)"> SEGUIR</a>
                            <a ng-show="sponsor.following" role="button" class="col-xs-6  btn-join"  ng-click="follow(sponsor)"> SIGUIENDO </a>
                            <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
                        </div>
          

                    </div>
                </div>
            </div>

        </div>

    </div>-->

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
      </script>