<div class="container no-padding">

        <div class="col-xs-12 no-padding">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::sponsor.cover_photo}}" style="height: 220px;">
                <div class="profile-avatar avatar">
                    <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="img-responsive"/>
                </div>
                <div class="username">{{::sponsor.name}}</div>
            </div>

    </div>
    <div class="container no-padding">

            <div class="buttons-profile">
                <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="sponsor.already_following" ng-click="unfollow()"> DEJAR DE SEGUIR</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="!sponsor.already_following" ng-click="follow()"> SEGUIR</a>
                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
            </div>
        </div>

</div>


      <!-- Accordion -->

<ul class="collapsible" data-collapsible="accordion">

     <!-- Sponsor about -->

    <li>
      <div class="collapsible-header active  light-blue darken-2 white-text active" ><i class="fa fa-chevron-right"></i>Bio</div>
      <div class="collapsible-body"><p>    Somos <span style="text-transform: capitalize;"> {{::user_detail.name}} {{::user_detail.lastname}} </span>         {{::sponsor.about}}  </br>
                                          </p></div>
    </li>

      <!--  Winwins Patrocinados-->

      <li>
      <div class="collapsible-header active  light-blue darken-2 white-text active" ><i class="fa fa-chevron-right"></i>WinWins Patrocinados</div>
      <div class="collapsible-body"> <div ng-repeat="ww in sponsor.winwins" class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/64x45/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div></div>
    </li>

       <!--  Grupos Patrocinados-->

      <li>
      <div class="collapsible-header active  light-blue darken-2 white-text active" ><i class="fa fa-chevron-right"></i>Grupos Patrocinados</div>
      <div class="collapsible-body"> <div ng-repeat="ww in sponsor.winwins" class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/70x50/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div></div>
    </li>

       <!--  Grupos Patrocinados-->

      <li>
      <div class="collapsible-header active      darken-2 white-text active" ><i class="fa fa-chevron-right"></i>Seguidores</div>
      <div class="collapsible-body"> <div ng-repeat="ww in sponsor.winwins" class="col-xs-2 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/64x45/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div></div>
    </li>

          
              



            </div>

        </div>
    </div>
</div>

<script>
         $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
        
</script>   

<script>

 $(document).ready(function(){
    $('ul.tabs').tabs('select_tab', 'tab_id');
  });
        
</script>   
        <!--