
    <div class="row" style="margin-top:55px;"></div>
    
      <div class="container card-panel teal hoverable s12" ng-repeat="winwin in sponsor.winwins" style="padding:0px; padding-bottom:10px;">

       <!-- labels -->
        <div class="container no-padding" ng-if="!winwin.is_sponsor">
            <div class="col-xs-12 no-padding">
                <div class="ww-featured-m" ng-if="winwin.remarkable">
                    <div class="ww-featured-m right z-depth-2"><img src="images/postit.png">
                    </div>
                    <span class="popular p right z-depth-2" ng-if="winwin.popular"> <i class="fa fa-fire"></i></span>
                    <span class="finishing m right z-depth-2" ng-if="winwin.finishing"> <i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
   <!-- WW Img -->
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/{{::winwin.image}}" style="height: 220px; cursor: pointer;" ng-click="view(winwin.id)">
                <div class="username-cards text-uppercase" style="padding-top:70px;">{{::winwin.title}}</div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-4 "></div>
                    <div class="col-xs-2 center "></div>
                    <div class="col-xs-2 center grey-text"></div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
            <!-- Info Bar -->
     <div class="col-xs-12" style="margin-top: 10px;">
                <div class="col-xs-2 no-padding">
                    <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">
                </div>

                <div class="col-xs-6 no-padding">
                    <img ng-repeat="sponsor in winwin.sponsors | limitTo: 2" class="responsive-img" ng-src="http://images.dev-winwins.net/40x/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer; border-radius:2px; margin:5px;">
                </div>

                <!-- somos -->

                <div class="col-xs-2 no-padding" style="margin-top:-3px;">
                    <span style="font-size:9px;" translate="home.test" translate-default="SOMOS">SOMOS</span>
                    <br>
                    <span class="somoscards"> {{::winwin.users_already_joined}}</span>
                </div>
                <!-- share button -->
                <button class="col-xs-2 waves-effect grey-text fa fa-share-alt animated infinite pulse waves-light btn white z-depth-0" ng-click="openSocialModal(winwin)" style="font-size:20px;"></button>
         
    </div>

   </div>







<!-- search -->
<div id="footer-s" data-ng-controller="main-search-controller">

    <nav>
        <div class="nav-wrapper  blue darken-4">
            <form>
                <div class="col-xs-12">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." style="margin-top:10px;" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
                        <!-- I've put "red-text" class to emphasize -->
                        <i class="fa fa-search bar right" style="font-size: 19px; padding-top:10px;" id="query" ng-click="search()"></i>


                    </div>
            </form>
            </div>
        </div>
    </nav>
</div>


<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer-s').addClass("show");
}
else
{
    $('#footer-s').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>


       <!--     <div class="username-cards grey-text">"<h5 style="text-decoration: italic;">{{::winwin.pivot.sponsor_text}} {{::winwin.pivot.sponsor_message}}"</h5><br>
                <p class="small">Avatar - Juan W Perez / Creador</p></div>



    <div class="row" ng-if="sponsor.myself">
        <div class="block-center center-block"> 
            <span class="btn-large green col-xs-6" ng-click="cancelSponsored(winwin)">Cancelar Sponsoreo</span>
             <span class="btn-large grey col-xs-6" ng-click="ModificarLeyendadeSponsoreo(winwin)">Modificar Leyenda</span>
        </div>
</div>











