<div class="row" style="margin-top: 50px; margin-bottom:-9px;" >
      <!-- Header Sponsor -->

         <div class="container no-padding" ng-click="view(sponsor.id)">       
    <div class="image">
        
         <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; max-width:100%; ">
             
             </div>
                    
        <div class="col-xs-12 no-padding">
                 
                   <!--     <div class="animated fadeInTop col-xs-3 no-padding left white hoverable z-depth-3 card-panel teal" style="height:100px; width:120px; left: 20px; bottom: -20px; position: absolute;"> 
                      <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="img-responsive " > 
            </div>  -->
            <div class="animated fadeInTop col-xs-3 no-padding left" style="left: 20px; bottom: 30px; position: absolute;"> 
              <img  class="animated fadeInTop" ng-src="http://images.dev-winwins.net/x60/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left;
              border-radius: 3px;
              height: 99%;
              box-shadow: 2px 2px 3px #9DA09F;
              margin-bottom:10px;
              border: 3px solid #F1F1F1; bottom: -10px;" class="responsive-image">
        
        </div> 
            
            <div class="col-xs-12"></div>
           <div style="col-xs-6 text-transform: capitalize; font-size:16px;position: absolute; bottom:10px; color: white; left:15px;">  {{::sponsor.name}} 
        </div>
               
          
             </div>
              </div>
         
            <div class="col-xs-12 no-padding" style="height: 45px;">
                
                     
                          <div class="col-xs-3"> 
                                 <!--winwins sponsor count -->
                               <span class="h8 grey-text  center " style="padding-top:5px;">Winwins</span>
                             <p class=" green-text  center"><strong>{{::sponsor.winwins_count}}</strong> </p> 
                </div>
                              <!--followers sponsor count -->
                               <div class="col-xs-3 " style="padding-top:5px;"> 
                                   <span class="h8 grey-text  center">Seguidores</span>
                              <p class=" blue-text  center" > <strong>2</strong>  </p>   
                               </div>
                          <!--Seguir -->
                <div ng-if="!sponsor.myself">
                <button ng-if="!sponsor.already_following" class="col-xs-4 white-text right waves-effect waves-light green  btn z-depth-1" style="height:100%; margin-top:-1px;" ng-click="follow()"> <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-o-right white-text animated infinite pulse"></i> <span style="font-size:14px;">SEGUIR</span> </p> </button>
                <button ng-if="sponsor.already_following" ng-if="user_already_following" class="col-xs-4 white-text right waves-effect waves-light white  btn z-depth-0" style="height:100%; margin-top:-1px;" ng-click="unfollow()"> <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-paper-o grey-text"></i> <span style="font-size:14px; color: #999;">DEJAR SEGUIR</span> </p> </button>
                </div>
           </div>

            
       
        </div>
                 

         </div>       
   
        


 


        
        
         <!-- Accordion -->
         <ul class="collapsible" data-collapsible="accordion">
            <!-- Sponsor about -->
            <li>
               <div class="collapsible-header active light-blue white-text " >
                  <i class="fa fa-chevron-right"></i>Info
               </div>
               <div class="collapsible-body">
                  <p> Somos <span style="text-transform: capitalize;"> {{::user_detail.name}} {{::user_detail.lastname}} </span> {{::sponsor.about}}   </p>
               </div>
            </li>
            <!--  Winwins Patrocinados-->
            <li>
               <div class="collapsible-header active light-blue darken-2 white-text " ><i class="fa fa-chevron-right"></i>WinWins Patrocinados</div>
               <div class="collapsible-body">
                  <div class="container no-padding">
                     <div ng-repeat="ww in sponsor.winwins" class="col-xs-3 no-padding" ng-if="ww.pivot.ww_accept == 1 && ww.pivot.sponsor_accept == 1">
                        <img ng-src="http://images.dev-winwins.net/100x70/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                     </div>
                  </div>
               </div>
            </li>
            <!-- Grupos Patrocinados-->
            <li>
               <div class="collapsible-header active light-blue white-text " ><i class="fa fa-chevron-right"></i>Grupos Patrocinados</div>
               <div class="collapsible-body">
                  <div class="container no-padding">
                     <div ng-repeat="gg in sponsor.groups" class="col-xs-3 no-padding">
                        <img ng-src="http://images.dev-winwins.net/100x70/smart/{{gg.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewGroup(gg.id)" alt="{{gg.title}}" title="{{gg.title}}" style="cursor:pointer">
                     </div>
                  </div>
               </div>
            </li>
            <!--Seguidores-->
            <li>
               <div class="collapsible-header active light-blue darken-2 white-text " ><i class="fa fa-chevron-right"></i>Seguidores</div>
               <div class="collapsible-body">
                  <div class="container no-padding">
                     <div ng-repeat="uu in sponsor.followers" class="col-xs-3 no-padding">
                        <img ng-src="http://images.dev-winwins.net/70x70/smart/{{uu.photo}}" width="auto" height="auto" class="img-responsive" ng-click="viewUser(uu.id)" alt="{{uu.name}}" title="{{uu.name}}" style="cursor:pointer">
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>

<script>
   $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false 
        });
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>
