<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.photo || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> User Name</label>
          <input type="text" class="form-control" ng-model="user.name" disabled />
        </div>
    </div>
  </div>

</div>
