      
<div ng-controller="NavController" id="winwin-menu" ng-class="{'show-menu': isOpen}">
      <div class="navbar-fixed">



<nav>
                 <div class="container">
    <a href="#" class="brand-logo center"><img src="../images/logo-winwins.png"></a>
  <ul class="right hide-on-med-and-down">
      <li><a ng-href="/#/winwin-list"><i class="fa fa-plus-circle"></i><span>WinWins</span></a></li>
    <li> <a ng-href="/#/signin"><i class="fa fa-fw fa-sign-in"></i><span>Ingresar</span></a></li>
  </ul>
  <div class="right">
        <form>
          <div class="input-field">
            <input type="search" id="search-field" class="field" required maxlength="">
            <label for="search-field"><i class="mdi-action-search"></i></label>
            <i class="mdi-navigation-close close"></i>
          </div>
        </form>
      </div>
  <ul id="slide-out" class="side-nav">
    <li><a ng-href="/#/winwin-list"><i class="fa fa-plus-circle"></i><span>Mira los Winwins y sumate</span></a></li>
    <li> <a ng-href="/#/signin"><i class="fa fa-fw fa-sign-in"></i><span>Ingresar</span></a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<script>
// Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();


