<md-content class="acme-contador" class="hide show-gt-sm">
  <div class="container">
    <div layout-gt-xs="row" layout-align="space-around center">
      <div flex>
        <md-icon md-svg-src="assets/images/icon-winwins-big.svg"></md-icon>
        <h2 class="orange">WINWINS</h2>
        <p>ACCIONES DE
        <span class="light-orange">CONSENSO COLECTIVO</span>
        PARA CAMBIAR EL MUNDO</p>
      </div>
      <div flex>
        <md-icon md-svg-src="assets/images/icon-miembros-big.svg"></md-icon>
        <h2 class="violet">MIEMBROS</h2>
        <p>PERSONAS <span class="light-violet">COMO VOS</span>
        QUE HACEN POSIBLE
        SUS IDEAS </p>
      </div>
      <div flex>
        <md-icon md-svg-src="assets/images/icon-winwins-concretados.svg"></md-icon>
        <h2 class="orange">WINWINS</h2>
        <p>CONCRETADOS <span class="light-orange">QUE
          IMPACTAN</span> EN NUESTRA
          VIDA COTIDIANA.
          </p>
      </div>
      <div flex>
        <md-icon md-svg-src="assets/images/icon-sponsors-big.svg"></md-icon>
        <h2 class="orange">SPONSORS</h2>
        <p><span class="light-violet">COMPROMETIDOS</span> CON
        LAS CAUSAS DE NUESTROS
        MIEMBROS
          </p>
      </div>
    </div>
  </div>
</md-content>
