<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-md">
            <i class="fa fa-comments"></i><br>ACERCA DE WINWINS
        </div>
    </div>
</div>

<div class="container como-funciona"> 
    <div class="pad-30"></div>

    <div class="col-xs-12">  

Winwins es una plataforma abierta y una estrategia para la facilitación de acuerdos de mutuo beneficio entre personas, grupos y/o organizaciones con el objetivo de construir bienestar sustentable individual y colectivo. Funciona como una red social que se organiza alrededor de acciones cooperativas específicas a las que llamamos Winwins o en Grupos con intereses comunes.

Un winwin es una propuesta de acción colectiva a través de la cual se busca adhesiones para materializar la idea. A través de la red winwins constatamos la reciprocidad y compromiso de otras personas para hacerla realidad, dos cuestiones indispensables para que nos animemos a cambiar el estado de las cosas que no nos gustan y empezar a construir un mundo mejor.

Las Acciones Cooperativas (nuestros winwins) son viralizables porque pueden compartirse a través de otras redes sociales e integrarse en otros entornos de la web, por ejemplo en tu blog.

Se trata, en definitiva, de herramienta y una metodología para la construcción de consensos y cohesión social, que celebra y pone en primer lugar la proactividad de las personas.


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-md">
            PARA QUE WINWINS
        </div>
    </div>
</div>

<div class="container como-funciona"> 
    <div class="pad-30"></div>

        Para promover un cambio social a partir de la construcción de confianza, consensos y acciones mancomunadas que nos permitan sortear la competencia y convertirnos en una verdadera sociedad colaborativa orientada al compromiso social y al bienestar general.

</div>

