<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-md" style="margin-top:55px;">
            <i class="fa fa-comments"></i><br>CREÁ TU WINWIN 
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >

    <p> 
        <span> Sube tu desafío de acción cooperativa (tu winwin)</span> y explica para qué es, cómo se logra y cuántos se necesitan para hacerlo realidad. Una acción cooperativa es una propuesta de beneficio mutuo que busca construir confianza colectiva y bienestar sustentable.
    </p>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12  create-title bubble-md-b">
            <i class="fa fa-users"></i><br>SUMA PERSONAS 
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >

    <p>
    Cada persona que se suma puede invitar a otros, y así sucesivamente. Todos pueden participar de las conversaciones, subir imágenes y videos para promover el winwin, etc. El creador y los activadores del winwin pueden llamar la atención mediante Campanadas y dejar noticias en el Muro. Recibirás notificaciones para mantenerte al tanto de estas novedades.
    </p>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 create-title bubble-md">
            <i class="fa fa-star"></i><br>CONSEGUI SPONSORS
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >
    <p>
        El sistema de Winwins avisa periódicamente cuántas personas faltan para completar el quórum establecido originalmente. Cuando se alcanza esta meta, les avisa a todos que estén listos para arrancar y concretar su winwin!
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 create-title bubble-md-b">
            <i class="fa fa-star"></i><br>SÉ SPONSOR
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >

    <p>
        El sistema de Winwins avisa periódicamente cuántas personas faltan para completar el quórum establecido originalmente. Cuando se alcanza esta meta, les avisa a todos que estén listos para arrancar y concretar su winwin!
    </p>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 create-title bubble-md">
            <i class="fa fa-users"></i><br>CREA UN GRUPO
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >

    <p>El sistema de Winwins avisa periódicamente cuántas personas faltan para completar el quórum establecido originalmente. Cuando se alcanza esta meta, les avisa a todos que estén listos para arrancar y concretar su winwin!</p>

</div>

