.acme-terms {
  h1 {
    font-size: 21px;
    color: #ec6b25;
    position: relative;
    margin: 20px 0;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      top: 13px;
      left: 0;
      width: 100%;
      height: 4px;
      background: #ec6b25;
    }
    span {
      background: #f1f1f1;
      padding: 0 25px;
      margin-left: 20%;
      position: relative;
      z-index: 1;
    }
  }
  .container {
    max-width: 700px;
  }
  ul {
    list-style: none;
    margin: 10px 30px;
    padding: 0;
    li {
      font-size: 12px;
    }
  }
}