<md-toolbar md-scroll-shrink lg="true" layout="row" layout-align="center center">
	<div ng-if="!vm.isAuthenticated()" flex layout-fill layout="row" layout-align="center center" class="menu hide show-gt-md">
		<div layout="row" layout-align="center center">
			<div>
				<span>ES</span>
			</div>
			<div>
				<md-switch ng-model="vm.langState" aria-label="Switch 1" ng-change="vm.onChange('changeLang', vm.langState)"></md-switch>
			</div>
			<div>
				<span>ENG</span>
			</div>
		</div>
		<div class="seccion"><md-button class="md-primary" ng-href="#"><translate>Cómo funciona</translate></md-button></div>
		<div class="seccion"><md-button class="md-primary" ng-href="#"><translate>Winwins</translate></md-button></div>
		<div class="seccion"><md-button class="md-primary" ng-href="#"><translate>Miembros</translate></md-button></div>
		<div class="seccion"><md-button class="md-primary" ng-href="#"><translate>Sponsors</translate></md-button></div>
		<div class="logo"><a href="#"><img src="../assets/images/logo.png" alt="" /></a></div>
		<div class="seccion"><md-button class="md-primary" ng-href ng-click="vm.showLoginDialog()"><translate>Ir a mi cuenta</translate></md-button>
		</div>
		<div class="crear"><md-button class="md-primary" ng-href="#"><translate>+ Crear Winwin</translate></md-button></div>
		<div class="menu-search">
			<md-input-container md-no-float class="md-block">
		  	<input ng-model="user.address2" placeholder="{{ 'Buscar' | translate }}">
		  	<md-icon>search</md-icon>
			</md-input-container>
		</div>
  </div>
  <div class="menu hide {{ vm.isAuthenticated()?'show-gt-sm':'show-md' }}">
  	<div layout="row" layout-align="center center">
		  <div flex="30">
		  	<div layout="row" layout-align="center center">
					<div>
						<span>ES</span>
					</div>
					<div>
						<md-switch ng-model="vm.langState" aria-label="Switch 1" ng-change="vm.onChange('changeLang', vm.langState)"></md-switch>
					</div>
					<div>
						<span>ENG</span>
					</div>
					<div>
						<md-input-container md-no-float class="md-block">
					  	<input ng-model="user.address2" placeholder="{{ 'Buscar' | translate }}">
					  	<md-icon>search</md-icon>
						</md-input-container>
					</div>
				</div>
			</div>
		  <div flex="45"><a href="#" class="logo-md"><img src="../assets/images/logo.png" alt="" /></a></div>
			<div flex="25" layout="row" layout-align="space-around center center">
		  		<div class="menu-notifications">
					<md-icon>notifications</md-icon>
					<span class="badge">1</span>
				</div>
				<md-card-header>
					<md-card-avatar ng-if="vm.isAuthenticated()">
						<img class="md-user-avatar" src="{{vm.imageServer}}/80x80/{{vm.account.photo}}">
					</md-card-avatar>
					
					<md-button class="md-icon-button" aria-label="Login" ng-click="vm.showLoginDialog()" ng-if="!vm.isAuthenticated()">
		        		<md-icon md-svg-src="assets/images/icon-salir.svg"></md-icon>
			      	</md-button>
				</md-card-header>
				<md-button ng-click="vm.openLeftMenu()" class="md-primary menu-toggle">
	        <md-icon>menu</md-icon>
	      </md-button>
	    </div>
		</div>
  </div>
  <div class="menu hide show-xs show-sm">
  	<div layout="row" layout-align="space-between center">
		  <div>
		  	<md-icon>keyboard_arrow_left</md-icon>
			</div>
			<div class="menu-notifications">
				<md-icon>notifications</md-icon>
				<span class="badge">1</span>
			</div>
		  <div><a href="#" class="logo-md"><img src="../assets/images/logo.png" alt="" /></a></div>
		  <div>
				<md-card-header>
					<md-card-avatar ng-if="vm.isAuthenticated()">
						<img class="md-user-avatar" src="{{vm.imageServer}}/80x80/{{vm.account.photo}}">
					</md-card-avatar>

					<md-button class="md-icon-button" aria-label="Login" ng-click="vm.showLoginDialog()" ng-if="!vm.isAuthenticated()">
		        		<md-icon md-svg-src="assets/images/icon-salir.svg"></md-icon>
			      	</md-button>
				</md-card-header>
			</div>
			<div>
				<md-button ng-click="vm.openLeftMenu()" class="md-primary menu-toggle">
	        <md-icon>menu</md-icon>
	      </md-button>
	    </div>
		</div>
  </div>
</md-toolbar>
<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-disable-backdrop
    md-whiteframe="4">
  <md-toolbar class="md-theme-indigo" layout-align="center center" ng-if="vm.isAuthenticated()">
		<md-card-avatar>
			<img class="md-user-avatar" src="{{vm.imageServer}}/{{vm.account.photo}}">
		</md-card-avatar>
		<md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{'Hola,'| translate}} {{vm.account.name}}!</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-content layout-padding>
    <div layout="column" class="menu">
    	<div class="hide-gt-sm"><md-input-container md-no-float>
          <input ng-model="user.address2" placeholder="{{'Buscar' | translate}}">
          <md-icon>search</md-icon>
        </md-input-container></div>
			<div><md-button class="md-primary" ng-href ng-click="vm.showLoginDialog()"><md-icon md-svg-src="assets/images/icon-cuenta.svg"></md-icon><translate> Ir a mi cuenta</translate></md-button></div>
			<div><md-button class="md-primary" ng-href="#"><md-icon md-svg-src="assets/images/icon-mis-winwins.svg"></md-icon><translate> Mis Winwins</translate></md-button></div>
			<div><md-button class="md-primary" ng-href="#"><md-icon md-svg-src="assets/images/icon-crear-winwins.svg"></md-icon><translate> Crear Winwin</translate></md-button></div>
			<div><md-button class="md-primary" ng-href="#"><md-icon md-svg-src="assets/images/icon-miembros.svg"></md-icon><translate> Miembros</translate></md-button></div>
			<div><md-button class="md-primary" ng-href="#"><md-icon md-svg-src="assets/images/icon-sponsors.svg"></md-icon><translate> Sponsors</translate></md-button></div>
			<div><md-button class="md-primary" ng-href="#"><md-icon md-svg-src="assets/images/icon-perfil.svg"></md-icon><translate> Mi perfil</translate></md-button></div>
			<div ng-if="vm.isAuthenticated()"><md-button class="md-primary" ng-href="#" ng-click="vm.openLeftMenu(); vm.logout();"><md-icon md-svg-src="assets/images/icon-salir.svg"></md-icon><translate> Salir</translate></md-button></div>
	  </div>
  </md-content>
</md-sidenav>
