.acme-navbar-text{
  color: white;
}
header {
	md-toolbar {
		z-index: 50;
	}
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #0d47a1;
  min-height: 50px;
	font-size: 14px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.4);
  position: fixed;
	.seccion {
		line-height: 50px;
	}
  .menu-notifications {
  	position: relative;
	  .badge {
	  	position: absolute;
	  	width: 15px;
	  	height: 15px;
	  	border-radius: 100px;
	  	color: #fff;
	  	text-align: center;
	  	background: #e5452e;
			right: -5px;
			top: -2px;
			font-weight: 700;
			font-size: 11px;
	  }
  }
  .md-primary.menu-toggle {
  	min-width: 48px;
  }
}
header {
	.menu {
		>div {
			a {
				color: #fff;
				text-decoration:none;
				display: block;
				padding: 0 15px;
				border-radius: 0;
				text-transform: inherit;
				margin: 0;
				line-height: inherit;
				min-height: inherit;
				.md-ripple-container {
					border-radius: 0;
				}
				&.logo-md {
					text-align: center;
				}
			}
			&.crear {
				margin: 0 15px;
				line-height: 14px;
				margin-top: 4px;
				a {
					background: #e5452e;
					border-radius: 3px;
					display: inline-block;
					padding: 5px 8px;
					font-weight: 700;
					&:hover {
						background: #fb3e22;
					}
				}
			}
			&.logo {
				a:hover {
					background: none;
				}
			}
			md-card-avatar {
				margin: 0 15px;
			}
		}
		.md-primary.md-button.menu-toggle {
			.ng-scope {
				color: #fff;
			}
		}
		md-switch {
    	margin: 0 0 0 10px;
    	.md-bar {
    		background: #4a6dce;
    	}
    	.md-thumb {
    		background: #d9dadb;
    	}
		}
		md-input-container {
			margin: 0;
			@media (min-width: 960px) {
				padding-left: 0;
				margin-left: 15px;
			}
			.md-input {
				background: none;
				border:none;
				border-bottom: solid 2px #eb6a24;
				color: #99bce4;
				font-family: 'Montserrat', serif;
			}
			.md-input::-webkit-input-placeholder { color: #99bce4; }
			.md-input:-moz-placeholder { color: #99bce4; }
			.md-input::moz-placeholder { color: #99bce4; }
			.md-input:-ms-input-placeholder { color: #99bce4; }
			&.md-input-has-placeholder .md-input {
				color: #99bce4;
			}
			.md-errors-spacer {
				display: none;
			}
			.ng-isolate-scope.material-icons {
				left: inherit;
				cursor: pointer;
			}
			&.md-input-has-placeholder .md-input {
				border-bottom: solid 2px #eb6a24;
			}
			&.md-input-has-placeholder .material-icons {
				color: #fff;
			}
		}
	}
	.md-user-avatar {
		width: 36px;
		height: 36px;
		border-radius: 100px;
	}
	.menu.show-sm, .menu.show-gt-sm, .menu.show-md {
		width: 100%;
	}
	.menu.show-md .flex-45 {
		text-align: center;
	}
	.md-sidenav-left {
		background: #1565c0;
		.layout-padding {
			background: #1565c0;
			padding: 0;
			.menu {
				padding: 25px 0 0 0;
				>div {
					md-icon {
						margin: -3px 20px 0 0;
					}
					a {
						text-align: left;
						color: #fff;
						padding: 17px 25px;
						font-weight: 700;
						&:hover {
							background: #eb6a24;
						}
					}
				}
			}
		}
	}
}

md-sidenav {
	md-toolbar.md-theme-indigo {
		box-shadow: none;
		height: 190px;
		border-bottom: solid 3px #eb6a24;
		position: relative;
		.md-user-avatar {
			width: 100px;
			height: 100px;
		}
		.md-headline {
			font-weight: 700;
		}
		.card-wrap {
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: #fff;
	    right: 0;
	    height: 187px;
      .card-opacity {
        background: rgba(34,35,38,.4);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    md-card-avatar, md-card-title {
    	z-index: 30;
    }
	}
}