    <div class="container no-padding">
        <div class="dropdown col-xs-12 no-padding">
            <button class="btn col-xs-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
               Sponsors Destacados
                <span class="caret pull-right caret-middle"></span>
            </button>
            <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
                <li><a href="#">Sponsors Populares</a></li>
            </ul>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="col-xs-4 no-padding">
                <img src="images/img-refe.jpg" class="img-circle" />
                <div class="somos-grupo">
                    <span class="title-somos sponsor">WW Patrocinados</span>
                    <span class="num-somos sponsor">20</span>
                </div>
            </div>
            <div class="col-xs-6 no-padding-left">
                <h5 class="title-destacados sponsor">
                    Coca-cola co.
                </h5>
                <p class="text-destacados">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de<br>
                     <img src="images/grupos/logos/coca-cola.jpg" style="bottom: 0" />
                </p>
            </div>
            <div class="col-xs-2 no-padding">
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-4 no-padding btn-somos">
                    </div>
                    <div class="col-xs-4 no-padding btn-somos">
                        <button type="button" class="twitter no-padding">
                            <i class="fa fa-twitter fa-6"></i>
                        </button>
                    </div>
                    <div class="col-xs-4 no-padding btn-somos">
                        <button type="button" class="facebook no-padding">
                            <i class="fa fa-facebook fa-6"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 no-padding me-sumo text-right">
                    <button type="button" class="btn btn-unirme sponsor">solicitar<br>sponsoreo</button>
                </div>
                <div class="col-xs-12 no-padding me-interesa">
                    <button type="button" class="btn btn-sponsor sponsor">
                        FOLLOW
                    </button>
                </div>
            </div>
        </div>
        <div class="container container-search">
            <i class="search fa fa-search search-fa"></i>
        </div>


