    <div class="container no-padding">
        <div class="dropdown col-xs-12 no-padding">
            <button class="btn col-xs-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
               Participantes
                <span class="caret pull-right caret-middle"></span>
            </button>
            <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
                <li><a href="#">Creador</a></li>
                <li><a href="#">Activadores</a></li>
            </ul>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="col-xs-4 no-padding">
                <img src="../images/placeholder-square.jpg" class="img-responsive img-circle" />
            </div>
            <div class="col-xs-6 no-padding-left">
                <h5 class="title-destacados sponsor">
                    Bill Evans
                </h5>
                <p class="text-destacados lista">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    <br><br>
                    <a href="#" class="no-link">Contános tu causa!</a>
                </p>
            </div>
            <div class="col-xs-2 no-padding">
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-4 no-padding btn-somos hidden-xs">
                    </div>
                    <div class="col-xs-4 no-padding btn-somos">
                        <button type="button" class="twitter no-padding">
                            <i class="fa fa-twitter fa-6"></i>
                        </button>
                    </div>
                    <div class="col-xs-4 no-padding btn-somos">
                        <button type="button" class="facebook no-padding">
                            <i class="fa fa-facebook fa-6"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 no-padding blank-space">
                    <span class="title-somos title-main-sponsor" style="font-size:8px">WinWins</span>
                    <span class="num-somos sponsor back-winwin num-somos-seguidore-main" style="font-size:8px; top:-5px!important; left:-25px!important">10</span>
                </div>
                <div class="col-xs-12 no-padding me-interesa">
                    <button type="button" class="btn btn-sponsor sponsor btn-second text-white">
                        FOLLOW
                    </button>
                </div>
            </div>
        </div>
        <div class="container container-search">
            <i class="search fa fa-search search-fa"></i>
        </div>

