    <div class="col-xs-12 text-center">
        <i class="fa fa-bell img-circle icon-bell"></i>
        <h3>
            ENVIAR UNA CAMPANADA
            <h4 style="color:#2e7dcc">
                Envia un mensaje importante a todos los miembros de tu WinWins!
            </h4>
        </h3>
        <textarea class="form-control" rows="3" style="margin: 40px 0"></textarea>
            <button type="button" class="btn btn-default btn-sponsor btn-second" style="color:#FFF;">
            ENVIAR CAMPANADA!
            </button>
    </div>


