<div ng-show="first_stage">
    <form role="form" ng-submit="persistBasic()" name="wwBasicForm">
        <div class="container">

            <div class="col-xs-12 msj-bienvenida back-winwin mb-20">
                <h1 class="txt-welcome text-center">
                    COMENZÁ TU <span style="color: orange;">WIN</span>WIN
                    <p class="bajada-winwin"><i>Comenzá una acción positiva, por más chica que sea que sientas que úede llegar a mejorar aunque sea algo. Algo que te inspire y te motive. Por más pequeño o GIGANTESCO que sea!</i></p>
                </h1>            
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12 no-padding">
                    <div ng-class="{active: !wwBasicForm.title.$invalid}" class="input-group col-xs-12" style="margin:20px 0">
                      <input type="text" name="title" ng-model="winwin.title" class="form-control" placeholder="Un Nombre para tu WinWin" aria-describedby="basic-addon1" ng-required="true">
                    </div>
                </div>
                Plantea tu WinWin <i class="fa fa-question-circle" style="color:red;"></i>
                <div class="col-xs-12 no-padding te-sumarias">
                    ¿Si supieras que somos <input type="number" ng-model="winwin.users_amount" class="form-control" aria-describedby="basic-addon1" style="width:50px; display:inline" ng-required="true" ng-minlength="1"> para
                </div>
                <div class="col-xs-12 no-padding">
                    <div ng-class="{active: !wwBasicForm.what_we_do.$invalid}" class="input-group col-xs-12" style="margin:20px 0">
                      <textarea  name="what_we_do" ng-model="winwin.what_we_do" class="form-control" rows="3" no-resize></textarea>
                    </div>
                </div>
                <div class="col-xs-12 no-padding te-sumarias mb-20">
                    te sumarías?
                </div>
                <div class="col-xs-12 no-padding">
                    <textarea ng-model="winwin.description" class="form-control" rows="2" no-resize placeholder="Más detalles del WinWin"></textarea>
                </div>

                <div class="col-xs-12 no-padding">
                    <h5 class="text-center" style="color:#9f9f9f;">
                        Fecha limite si aplica
                    </h5>

                    <div class="col-xs-12 no-padding mb-20">

                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1">
                                <input type="text" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="col-xs-10 text-center mb-20" style="margin-top:10px;">
            <input type="checkbox" ng-model="winwin.accept_terms" aria-label="Checkbox for following text input" style="width:15px; height:15px;">
            <span style="font-size:9px;">He leido y acepto los <a href="#">terminos y condiciones</a></span>
        </div>


        <button type="submit" ng-disabled="wwBasicForm.$invalid || !winwin.accept_terms"  class="btn btn-default btn-sponsor btn-second mb-20" style="color:#FFF; text-transform:uppercase;" ng-click="persistBasic()">
            Crear winwin
        </button>   

    </form>
</div>

<div ng-show="second_stage">
    <form role="form" data-ng-submit="doSave()" name="wwAdditionalForm">
        <div class="container">
            <div class="col-xs-12 msj-bienvenida back-winwin mb-20">
                <h1 class="txt-welcome text-center">
                    DALE INDENTIDAD A TU WINWIN
                    <p class="bajada-winwin"><i>Comenzá una acción positiva, por más chica que sea que sientas que úede llegar a mejorar aunque sea algo. Algo que te inspire y te motive. Por más pequeño o GIGANTESCO que sea!</i></p>
                </h1>            
            </div>
            <div class="col-xs-12 icons-id text-center mb-20">
                <div class="col-xs-4 border-grey">
                    <i style="cursor:pointer" class="fa fa-arrow-circle-o-up"  ng-click="setVideoUrl()"></i><br>
                    <i style="cursor:pointer" ng-show="!winwin.video" class="fa fa-youtube-play" ng-click="setVideoUrl()"></i>
                    <a ng-show="winwin.video" href="https://www.youtube.com/watch?v={{winwin.video}}" target="_blank">
                        <img src="http://img.youtube.com/vi/{{winwin.video}}/default.jpg" height="75" />
                    <a/>
                </div>
                <div style="cursor:pointer" ngf-select ng-model="files" ngf-multiple="true" class="col-xs-4 border-grey" ngf-accept="'image/*'">
                        <div>
                            <i class="fa fa-arrow-circle-o-up"></i><br>
                            <i ng-show="!winwin.image && !uploading" class="fa fa-camera"></i>
                        </div>
                        <img ng-show="uploading" src="/images/loader.gif" height="75" />
                        <img ng-show="winwin.image" ng-src="http://images.dev-winwins.net/smart/{{winwin.image}}" height="75px">
                </div>

                <div class="col-xs-4 border-grey">
                    <i class="fa fa-arrow-circle-o-up"></i><br>
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>
            <div class="col-xs-10 col-xs-push-1 mb-20">

                <select ng-options="item as item.name for item in interests track by item.id" ng-model="winwin.interest" class="form-control" placeholder="Seleccioná una categoría">
                </select>

            </div>
            <div class="col-xs-10 col-xs-push-1 mb-20">

                <select ng-options="item as item for item in scopes track by item.id" ng-model="winwin.scope" class="form-control" placeholder="Seleccioná una escala territorial">
                </select>

            </div>

            <div class="col-xs-10 col-xs-push-1 mb-20">
                 <tags-input  class="bootstrap" ng-model="winwin.tags" placeholder="Ingresa palabras claves"></tags-input>
            </div>

            <div class="col-xs-10 col-xs-push-1">
                <button type="submit" ng-disabled="wwAdditionalForm.$invalid" class="btn btn-default btn-sponsor btn-second mb-20" style="color:#FFF; text-transform:uppercase;">
                    ir a mi winwin!
                </button>   
            </div>
        </div>
    </form>

</div>
