    <div class="col-xs-12 no-padding portada" style="background-color:red">
        <div class="col-xs-12 mb-20">
            <div class="col-xs-12 no-padding home text-center text-white">
                <h3>ESCRIBI TU PRIMER POST Y ACTIVA TU WINWINS</h3>
                <h4>
                    Es necesario publicar el post inaugural para activar tu winwins!
                </h4>
            </div>
        </div>
    </div>


    <form role="form">
        <div class="col-xs-12 compartir-comentario winwin mb-20">
            <div class="col-xs-2 text-center fix-comment">
                <img src="http://images.dev-winwins.net/38x38/{{user.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
            </div>
            <div class="col-xs-10 fix-comment-textarea ">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" no-resize></textarea>
                        <div class="col-xs-4 btn-camera">
                            <i class="fa fa-arrow-circle-o-up"></i><br>
                            <i class="fa fa-youtube-play"></i><br><br>
                            <i class="fa fa-arrow-circle-o-up"></i><br>
                            <i class="fa fa-camera"></i>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-xs-10 col-xs-push-1 mb-20">
            <h5 class="text-center te-sumarias">
                LO PODES COMPARTIR
            </h5>
            <div class="col-xs-12">
                <button type="button" class="btn-social facebook fix-social-landscape">
                    <i class="fa fa-facebook fa-6"></i>
                </button>
                <button type="button" class="btn-social twitter">
                    <i class="fa fa-twitter"></i>
                </button>
                <button type="button" class="btn-social mail">
                    <i class="fa fa-envelope-o"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-10 col-xs-push-1">
            <button type="button" class="btn btn-default btn-sponsor btn-second mb-20 ir-winwin" style="color:#FFF; text-transform:uppercase;">
                ACTIVAR WINWIN!
            </button>   
        </div>
    </form>

