<div class="container no-padding" style="position:fixed; padding:8px; z-index:99; ">
    

 
    <button ng-click="doFilter('select')" class="col-xs-3 blue darken-3" style="border:transparent; padding-top:3px; height:45px;"><i class="fa fa-bookmark white-text"></i> <p class="h8 white-text">Destacados</p> </button>
    <button ng-click="doFilter('popular')" class="col-xs-3 blue darken-3 " style="border:transparent; padding-top:3px; height:45px;"><i class="fa fa-fire white-text"></i> <p class="h8 white-text"> Populares</p></button>
    <button ng-click="doFilter('next_to_close')"  class="col-xs-3 blue darken-3" style="border:transparent; padding-top:3px; height:45px;"><i class="fa fa-clock-o white-text"></i> <p class="h8 white-text">Terminando</p></button>
    <button class="col-xs-3 blue darken-3" ng-click="doFilter('all')"  style="border:transparent; padding-top:3px; height:45px;"><i class="fa fa-calendar-o white-text"></i> <p class="h8 white-text">Recientes</p></button> 

</div>

<div class="container no-padding" style="position:fixed; margin-top:45px; z-index:99; ">
    <select ng-model="interests" multiple>
      <option value="" disabled selected><p class="h7"><i class="fa fa-list-ul"></i>Ver Winwins por categorias</p></option>
      <option ng-repeat="item in interests track by item.id" value="{{item.id}}"><p class="h7">{{item.description}}</p></option>
    </select>


    
<!--TODO: filtrar por categorias con select multiple 

 <div class="input-field col-xs-12 no-padding white">
    <select class="white"> 
      <option value="" disabled selected>Intereses</option>
      <option value="1">Solidaridad / Cooperación</option>
      <option value="2">Solidaridad / Cooperación</option>
      <option value="3">Solidaridad / Cooperación</option>
    </select>
  </div>

-->
  
</div>


<div infinite-scroll='winwins.nextPage()' style="padding-top: 80px;">

         <!-- WW Cards-->
    <div class="container card-panel teal hoverable s12" ng-repeat="winwin in winwins.items" style="padding:0px; padding-bottom:10px;">
    <div ng-if="winwin.is_sponsor" class="container">
       <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.cover_photo}}" style="max-height: 200px; cursor: pointer;" class="responsive-img" ng-click="viewSponsor(winwin.id)">
       </div>
    </div>
    <!-- labels -->
    <div class="container no-padding" ng-if="!winwin.is_sponsor">
       <div class="col-xs-12 no-padding">
 <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
     <div class="ww-featured right"><img src="../images/postit.png"></div>
           </div>
          <div class="ww-popular" ng-if="winwin.mark == 'popular'">
             <div class="ww-popular pop right"><i class="fa fa-fire"></i></div>
          </div>
          <div class="ww-finishing" ng-if="winwin.mark == 'finishing'">
             <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
          </div>
       </div>
       <!-- WW Img -->
       <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/{{::winwin.image}}" style="height: 220px; cursor: pointer;" ng-click="view(winwin.id)">
          <div class="username-cards text-uppercase" style="padding-top:50px;">{{::winwin.title}}</div>
       </div>
       <!-- Info Bar -->
       <div class="col-xs-12" style="margin-top: 10px;">
          <div class="col-xs-2 no-padding">      
             <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">  
          </div>
          <div class="col-xs-6 no-padding">  
             <img ng-repeat="sponsor in winwin.sponsors |limitTo: 2" class="responsive-img" ng-src="http://images.dev-winwins.net/40x/{{::sponsor.photo}}"   ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer; border-radius:2px; margin:5px;">   
          </div>
          <!-- somos -->
          <div class="col-xs-2 no-padding" style="margin-top:-3px;"> 
             <span style="font-size:9px;">SOMOS </span> <br>
             <span style="color:#26a69a; margin-top:0px;padding-left:3px;padding-right:3px;border-radius:2px; font-weight:bold; text-align:center; background-color: #eee;"> {{::winwin.users_already_joined}}</span> 
          </div>
          <!-- share button -->
          <div class="col-xs-2"  ng-click="openSocialModal(winwin)"><i class="fa fa-share animated infinite pulse" style="font-size:16px; color:#555; padding-top:10px;"></i></a>
          </div>
       </div>
    </div>

             
<div id="footer-s" data-ng-controller="main-search-controller">

<nav>
    <div class="nav-wrapper  blue darken-4">
      <form>
        <div class="col-xs-12">
          <div class="input-field">
          <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
          <!-- I've put "red-text" class to emphasize -->
          <i class="fa fa-search right" id="query" ng-click="search()" style="padding-top:10px; font-size: 20px;"></i>
                      <label for="query"></span></label>

        </div>
      </form>
    </div>
</div>
  </nav>
  </div>
        

<script type="text/ng-template" id="winwinShareModal.html">
   <div class="container center">
   
        <i class="fa fa-elipsis" style="font-size: 2rem;color:#3B5998;"></i>
        <i class="fa fa-bullhorn " style="font-size: 50px; background-color:  #3B5998; color: #FFF; padding: 20px; width:101%;"></i> 
        <i class="fa fa-caret-down " style="font-size: 3rem;margin-top:-23px; color:#3B5998;"></i>
    </div>
   
     <div class="container no-padding">
        <div class="col-xs-1 no-padding"></div>
        <div style="cursor:pointer; background-color:#3b5998; color:#fff;  margin-top:1px;margin-right:3px;"  class="col-xs-3 animated  wobble uploaders card-panel circle"  
            socialshare
            socialshare-provider="facebook" 
            socialshare-text="{{::toShare.content}}" 
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}"  
            socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}"
            socialshare-via="1082199191794840">
            <i class="fa fa-facebook" style="padding-top:0px;" ></i><br>
        </div>
        <div style="cursor:pointer ;background-color:#1dcaff; color:#fff;margin:3px;"  class="col-xs-3  animated  wobble uploaders card-panel"  
            socialshare  
            socialshare-text="{{::toShare.content}}" 
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" 
            socialshare-provider="twitter">
            <i class="fa fa-twitter" style="padding-top:0px;" ></i><br>
        </div>
        <div style="cursor:pointer;background-color:#EA4235; color:#fff; margin:3px;"  class="col-xs-3 animated  wobble uploaders card-panel"  
            socialshare 
            socialshare-provider="google+" 
            socialshare-text="{{::toShare.content}}" 
            socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}"
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}">
   
            <i class="fa fa-google" style="padding-top:0px;"></i><br>
        </div>
    </div>
   
   
   
</script>




<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer-s').addClass("show");
}
else
{
    $('#footer-s').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>
