<div class="col-xs-12 no-padding" style="position:fixed;  z-index:99; top:54px; ">

 <nav>
    <div class="nav-wrapper">
      <ul>
          <!-- Destacados -->
        <li class="col-xs-5-"><a ng-click="doFilter('select')"> <h6 style="font-size:8px; margin-top:5px;"><i class="fa fa-bookmark white-text"></i>Destacados</h6> </a></li>
          <!-- Destacados -->
        <li class="col-xs-5-"> <a ng-click="doFilter('popular')"><h6 style="font-size:8px; margin-top:5px;"><i class="fa fa-star white-text"></i>Populares</h6> </a></li>
          <!-- Destacados -->
        <li class="col-xs-5-"><a ng-click="doFilter('finishing')"><h6 style="font-size:8px; margin-top:7px;"><img src="../images/sandclock.png" width="23" height="27"><br>Terminando</h6> </a></li>
          <!-- Destacados -->
        <li class="col-xs-5-"><a ng-click="doFilter('all')"><h6 style="font-size:8px; margin-top:7px;"><img src="../images/recientes.png" width="23" height="27"><br>Recientes</h6> </a></li>
          <!-- Concreatados // TODO:FALTA EL FILTRO. -->
         <li class="col-xs-5-"><a ng-click="doFilter('all')"><h6 style="font-size:8px; margin-top:3px; text-align:center;"><img src="../images/concretados.png" width="30" height="33"><br>Concretados</h6> </a></li>
      </ul>
    </div>
  </nav>
<div class="container no-padding">
    <select ng-model="interests" multiple ng-change="doCategoryFilter()">
      <option value="" disabled selected><p class="h7"><i class="fa fa-list-ul"></i>Ver Winwins Por Intereses</p></option>
      <option ng-repeat="item in interests" value="{{item.name}}" ><p class="h7">{{item.description}}</p></option>
    </select>
</div>
</div>

<div class="grid-winwins">

<div infinite-scroll='winwins.nextPage()' style="margin-top: 95px;">

    <div ng-if="winwins.items.length == 0">
        <div class="container card-panel teal hoverable s12 "style="margin:10px;">
           <p class="small"> No se encuentran resultados para los filtros aplicados</p>
        </div>
    </div>

         <!-- WW Cards-->
    <div class="container card-panel teal hoverable s12" ng-repeat="winwin in winwins.items" style="padding:0px; padding-bottom:10px;">
    <div ng-if="winwin.is_sponsor" class="container">
       <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.cover_photo}}" style="max-height: 200px; cursor: pointer;" class="responsive-img" ng-click="viewSponsor(winwin.id)">
       </div>
    </div>
    <!-- labels -->
    <div class="container no-padding" ng-if="!winwin.is_sponsor">
       <div class="col-xs-12 no-padding">
 <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
     <div class="ww-featured right"><i class="fa fa-fire"></i></div>
           </div>
          <div class="ww-popular" ng-if="winwin.mark == 'popular'">
             <div class="ww-popular pop right"><i class="fa fa-fire"></i></div>
          </div>
          <div class="ww-finishing" ng-if="winwin.mark == 'finishing'">
             <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
          </div>
       </div>
       <!-- WW Img -->
       <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/{{::winwin.image}}" style="height: 220px; cursor: pointer;" ng-click="view(winwin.id)">
          <div class="username-cards text-uppercase" style="padding-top:50px;">{{::winwin.title}}</div>
       </div>
       <!-- Info Bar -->
       <div class="col-xs-12" style="margin-top: 10px;">
          <div class="col-xs-2 no-padding">      
             <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">  
          </div>
          <div class="col-xs-6 no-padding">  
             <img ng-repeat="sponsor in winwin.sponsors |limitTo: 2" class="responsive-img" ng-src="http://images.dev-winwins.net/40x/{{::sponsor.photo}}"   ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer; border-radius:2px; margin:5px;">   
          </div>
          <!-- somos -->
          <div class="col-xs-2 no-padding" style="margin-top:-3px;"> 
             <span style="font-size:9px;">SOMOS </span> <br>
             <span style="color:#26a69a; margin-top:0px;padding-left:3px;padding-right:3px;border-radius:2px; font-weight:bold; text-align:center; background-color: #eee;"> {{::winwin.users_already_joined}}</span> 
          </div>
        <!-- share button -->
             <!-- share button -->
                <button class="col-xs-2 waves-effect grey-text fa fa-share-alt waves-light btn white z-depth-0" data-toggle="modal" data-target="#share" style="font-size:20px;"></button>
          </div>
       </div>
    </div>

</div>

    <div class="pad-50"></div>
             
<!-- search -->
<div id="footer-s" data-ng-controller="main-search-controller">
   <a class="scrollup to-top center orange darken-4 z-depth-0">
      <i class="fa fa-arrow-up" style="margin-top:5px;" ></i>
    </a>
    <nav>
        <div class="nav-wrapper  blue darken-4 z-depth-3">
            <form>
                <div class="col-xs-12">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." style="margin-top:5px;" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
                        <!-- I've put "red-text" class to emphasize -->
                        <button class="fa fa-search bar right blue darken-3 waves-effect btn clean z-depth-0" style="font-size: 19px; padding:15px;" id="query" ng-click="search()"></i>


                    </div>
            </form>
            </div>
        </div>
    </nav>
</div>


        <!-- Modal Sharer-->
    <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="share" style="display:none;">
      <div class="modal-dialog" role="document">
    <div class="container center">
        <i class="fa fa-elipsis" style="font-size: 2rem;color:#3B5998;"></i>
        <i class="fa fa-bullhorn " style="font-size: 50px; background-color:  #3B5998; color: #FFF; padding: 20px; width:101%;"></i>
        <i class="fa fa-caret-down " style="font-size: 3rem;margin-top:-23px; color:#3B5998;"></i>
    </div>

    <div class="container no-padding">
        <div class="col-xs-1 no-padding"></div>
        <div style="cursor:pointer; background-color:#3b5998; color:#fff;  margin-top:1px;margin-right:3px;" class="col-xs-3 animated  wobble uploaders card-panel circle" socialshare socialshare-provider="facebook" socialshare-text="{{::toShare.content}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}" socialshare-via="1082199191794840">
            <i class="fa fa-facebook" style="padding-top:0px;"></i>
            <br>
        </div>
        <div style="cursor:pointer ;background-color:#1dcaff; color:#fff;margin:3px;" class="col-xs-3  animated  wobble uploaders card-panel" socialshare socialshare-text="{{::toShare.content}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" socialshare-provider="twitter">
            <i class="fa fa-twitter" style="padding-top:0px;"></i>
            <br>
        </div>
        <div style="cursor:pointer;background-color:#EA4235; color:#fff; margin:3px;" class="col-xs-3 animated  wobble uploaders card-panel" socialshare socialshare-provider="google+" socialshare-text="{{::toShare.content}}" socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}">

            <i class="fa fa-google" style="padding-top:0px;"></i>
   
        </div>
        <div class="col-xs-12">
    <p class="grey-text small center">Difunde este Winwin en las redes sociales.</p>    
        
       <button type="button" class="btn-large green waves-effect" style="width:100%;" data-dismiss="modal" >Listo </button></div>

    </div>        </div>
    </div>





<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer-s').addClass("show");
}
else
{
    $('#footer-s').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>


<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });

    $('.scrollup').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});</script>