<div class="subview-body no-padding">

    <div class="row">
        <div class="col-xs-12 text-center bajada-onscroll">
            Última Actividad: Hay <a href="#">{{posts.length}} post </a>. Último post enviado por <a ng-href="#">{{::last.user.username}}</a> el {{::last.created_at}}
        </div>
    </div>

    <div class="row container text-destacados">
        <ul class="media-list">
            <li ng-repeat="item_post in posts" class="border-orange container">
                <div class="row container">
                    <div ng-show="item_post.media.type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/190x/smart/{{::item_post.media.id}}.{{::item_post.media.ext}}" style="height:190px;">
                    </div>
                    <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(item_post.media.path)}}" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img ng-src="http://images.dev-winwins.net/38x38/{{::item_post.user.detail.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                        </a>
                    </div>
                    <div class="media-body">
                        <p>
                            {{::item_post.content}}
                        </p>

                    </div>
                </div>
                <div class="row containeri mb10">
                        <span class="pull-right"><i class="glyphicon glyphicon-calendar"></i> {{::item_post.created_at | moment: 'DD/MM/YYYY'}}</span>
                        <!--span class="btn pull-right small"><i class="glyphicon glyphicon-comment"></i> Comentar </span>
                        <span class="btn pull-right small"><i class="glyphicon glyphicon-share"></i> Compartir</span-->
                </div>

            </li>
        </ul>
    </div>


    <div class="new-comentario container">
        
        <div class="post-winwin compartir-comentario col-xs-12">

            <div class="row" ng-show="post.media_type">

                <div ng-show="uploading" style="height:190px;">
                    <img class="img-responsive col-xs-12" ng-show="uploading" src="/images/loader.gif" height="75" style="padding:30px"/>
                </div>
                <div ng-show="post.media_type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/190x/{{::post.media_path}}" style="height:190px;">
                </div>
                <div ng-show="post.media_type == 'VIDEO'" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(post.media_path)}}" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-center fix-comment" ng-show="normal_size">
                    <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                </div>

                <div ng-class="{'col-xs-10': normal_size , 'col-xs-12': !normal_size}" class="form-group">
                    <textarea class="form-control" rows="{{normal_size ? 3 : 8}}" ng-model="post.content" no-resize ng-required="true" ng-focus="max_size()" style="padding: 0px;" placeholder="Comparte lo que piensas... ">

                    </textarea>
                </div>

            </div>
            <div class="row" ng-show="editing" >
                <span class="btn center-block btn-default col-xs-3 pull-left" ng-click="setVideoUrl()"><i class="fa fa-youtube-play"></i> Video</span>
                <button type="file" class="btn center-block btn-default col-xs-3 pull-left" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB"><i class="fa fa-camera"></i> Imagen</button>
                <span type="button" class="btn btn-success col-xs-3 pull-right"  ng-click="submitPost()">ENVIAR</span>
                <span type="button" class="btn btn-default col-xs-3 pull-right"  ng-click="cancelEditing()">Cancel</span>
            </div>

        </div>
    </div>

</div>
