<!-- status winwin -->
    <div class="col-xs-12 text-center bajada-onscroll">
        Última Actividad: Hay <a href="#">3 post nuevos</a>. Último post enviado por <a href="#">Lao Tsé el 19/09/2015</a> a las 16:00
    </div>


    <div class="col-xs-12 no-padding">
        <div class="col-xs-2 no-padding pull-right">
            <div class="col-xs-4 no-padding btn-somos">
                <a href="#" class="no-padding postit-onscroll">
                    <img src="../images/postit.png" />
                </a>
            </div>
            <div class="col-xs-4 no-padding btn-somos fix-twitter-btn">
                <button type="button" class="twitter no-padding">
                    <i class="fa fa-twitter fa-6"></i>
                </button>
            </div>
            <div class="col-xs-4 no-padding btn-somos">
                <button type="button" class="facebook no-padding">
                    <i class="fa fa-facebook fa-6"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 no-padding border-orange">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-3 no-padding text-center">
                <img src="../images/placeholder-square.jpg" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                <p>
                    Lao Tse<br>
                    <span class="bajada-onscroll" style="line-height: 1px; margin:0">el 19/07/2017</span>
                </p>
            </div>
            <div class="col-xs-9 no-padding-left">
                <p class="text-destacados lista">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    <br><br>
                    <a href="#" class="no-link">Contános tu causa!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 no-padding">
        <img src="../images/winwins_on_scroll.jpg" width="100%" class="img-responsive" />
    </div>
    <div class="col-xs-12 comentario">
        <div class="col-xs-3 text-center">
            <img src="../images/placeholder-square.jpg" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
        </div>
        <div class="col-xs-9">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Escribi un comentario">
                    <button class="btn btn-default btn-inner">IMG</button>
                    <button class="btn btn-default btn-inner">VIDEO</button>
                </div>
            </form>
        </div>
    </div>

<div>
<!-- Social share -->
    <div class="col-xs-12 no-padding">
        <div class="col-xs-2 no-padding pull-right">
            <div class="col-xs-4 no-padding btn-somos">
                <a href="#" class="no-padding postit-onscroll">
                    <img src="../images/postit.png" />
                </a>
            </div>
            <div class="col-xs-4 no-padding btn-somos fix-twitter-btn">
                <button type="button" class="twitter no-padding">
                    <i class="fa fa-twitter fa-6"></i>
                </button>
            </div>
            <div class="col-xs-4 no-padding btn-somos">
                <button type="button" class="facebook no-padding">
                    <i class="fa fa-facebook fa-6"></i>
                </button>
            </div>
        </div>
    </div>

<!-- Post -->
    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-3 no-padding text-center">
                <img src="../images/placeholder-square.jpg" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                <p>
                    Lao Tse<br>
                    <span class="bajada-onscroll" style="line-height: 1px; margin:0">el 19/07/2017</span>
                </p>
            </div>

            <div class="col-xs-9 no-padding-left">
                <p class="text-destacados lista">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    <br><br>
                    <a href="#" class="no-link">Contános tu causa!</a>
                </p>
            </div>
        </div>
    </div>




<!-- Comentario -->
    <div class="col-xs-12 compartir-comentario">
        <div class="col-xs-2 text-center">
            <img src="../images/placeholder-square.jpg" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
        </div>
        <div class="col-xs-10">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control ctrl-compartir-novedades" type="text" placeholder="Compartir">
                    <button class="btn btn-default btn-inner-compartir">IMG</button>
                    <button class="btn btn-default btn-inner-compartir">VIDEO</button>
                    <button type="button" class="btn btn-success btn-inner-enviar">ENVIAR</button>
                </div>
                
            </form>
        </div>
    </div>

</div>
