        <div class="dropdown col-xs-12 no-padding">
            <button class="btn col-xs-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
               Participantes
                <span class="caret pull-right caret-middle"></span>
            </button>
            <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
                <li><a href="#">Creador</a></li>
                <li><a href="#">Activadores</a></li>
            </ul>
        </div>

        <div class="col-xs-12 no-padding">
        <table>
            <tr ng-repeat="user in winwin.users">
                <td>

                    <div class="col-xs-12 no-padding" style="margin:12px 0;">
                        <div class="col-xs-4 no-padding">
                            <img ng-src="http://images.dev-winwins.net/120x106/{{::user.detail.photo}}" class="img-responsive img-circle img-no-border" />
                        </div>
                        <div class="col-xs-6 no-padding-left">
                            <h5 class="title-destacados sponsor">
                                {{::user.detail.name}} {{::user.detail.lastname}}
                            </h5>
                            <p class="text-destacados lista">
                                {{::user.about}}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding shadow-border">
                        <div class="col-xs-3 col-xs-push-2 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                            <span style="background-color:#000; color:#FFF; padding: 2px 3px">Win Wins</span><br>
                            <span>{{::user.winwins_involved}}</span>
                        </div>
                        <div class="btn col-xs-3 col-xs-push-3 btn5 btn-follow no-padding" style="padding-top: 12px!important;"  ng-click="follow(user.detail.id)">
                            Follow
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        </div>
