        <div class="dropdown col-xs-12 no-padding">
            <button class="btn col-xs-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
               Participantes
                <span class="caret pull-right caret-middle"></span>
            </button>
            <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
                <li><a href="#">Creador</a></li>
                <li><a href="#">Activadores</a></li>
            </ul>
        </div>


        <div class="col-xs-6 no-padding" ng-repeat="user in winwin.users">
            <div class="col-xs-4 img-misc no-padding"  style="padding-top:20px!important; height:140px" >
                <img src="http://images.dev-winwins.net/120x106/{{::user.detail.photo}}" class="img-circle">
                {{::user.detail.name}} {{::user.detail.lastname}}
            </div>
            <div class="col-xs-12 no-padding shadow-border">
                <div class="col-xs-2 no-padding btn5 btn-share">
                    <a href="#" class=" no-padding">
                        <i class="fa fa-share-alt"></i>
                    </a>
                </div>
                <div class="col-xs-6 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    <span style="color:#1862c3">123</span> Follower
                </div>
                <div class="col-xs-4 no-padding btn5" style="text-align:center; background-color:#17aa73; color:#FFF; font-size:6px; padding-top: -2px!important;" >
                    <span class="btn" ng-click="follow(user.detail.id)">
                        <h5 style="padding-top:2px;">Follow</h5>
                    </span>
                </div>
            </div>
        </div>

