<div class="winwin" zum-waypoint="wpPreview" down="name.down" up="name.up" offset="-200px" _ng-swipe-right="previous()"  _ng-swipe-left="next()" >
    <a id="winwin-top"></a>

    <div ng-show="wpPreview.name.down">
        <div id="menu-winwin" class="col-xs-12 no-padding navbar navbar-fixed-top">
            <div class="col-xs-20">
                <span class="btn" ng-click="goWinwin()"><i class="fa fa-comments"></i></span>
            </div>
            <div class="col-xs-20 {{current_subview == 'members' ? 'active' : ''}} ">
                <span class="btn" ng-click="goMembers()"><i class="fa fa-users"></i></span>
            </div>
            <div class="col-xs-20 {{current_subview == 'sponsors' ? 'active' : ''}} ">
                <span class="btn" ng-click="goSponsors()"><i class="fa fa-star"></i></span>
            </div>
            <div class="col-xs-20 {{current_subview == 'muro' ? 'active' : ''}} ">
                <span class="btn" ng-click="goMuro()"><i class="fa fa-comment"></i></span>
            </div>

            <div ng-show="isSponsor" class="col-xs-20 {{current_subview == 'sponsor' ? 'active' : ''}} " >
                <span class="btn" ng-click="goRequestPatrocinio()"><i class="fa fa-star"></i></span>
            </div>

            <div class="col-xs-20 {{current_subview == 'admin' ? 'active' : ''}} " >
                <span class="btn" ng-click="goAdmin()" ng-show="winwin.is_moderator"><i class="fa fa-gear"></i></span>
            </div>
        </div>

        <div ng-show="isAdmin" id="menu-winwin-admin" class="no-padding navbar navbar-fixed-top">
            <div class="col-xs-3  submenu-icons {{current_subadmin == 'patrocinio' ? 'active' : ''}} ">
                <span class="btn" ng-click="goRequestPatrocinio()"><i class="fa fa-star"></i></span>
            </div>
            <div class="col-xs-3  submenu-icons {{current_subadmin == 'miembros' ? 'active' : ''}} ">
                <span class="btn" ng-click="goMiembros()"><i class="fa fa-users"></i></span>
            </div>
            <div class="col-xs-3  submenu-icons {{current_subadmin == 'campanada' ? 'active' : ''}} ">
                <span class="btn" ng-click="goCampanada()"><i class="fa fa-bell"></i></span>
            </div>
            <div class="col-xs-3  submenu-icons {{current_subadmin == 'configuracion' ? 'active' : ''}} ">
                <span class="btn" ng-click="goConfiguracion()"><i class="fa fa-server"></i></span>
            </div>
        </div>
    </div>



    <section id="winwin-view" ng-show="!wpPreview.name.down" class="cssFade">

        <div class="col-xs-12 no-padding">

            <div class="img-misc no-padding"  style="padding-top: 20px!important;"  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{winwin.image}}">
                <div class="winwin-title" style="padding: 5px;position: absolute;margin-right:auto; margin-left:auto; display:block; width: 99%; z-index: 999; cursor:pointer" ng-click="view(winwin.id)"> 
                    {{::winwin.title}}
                </div>

            </div>
            <div class="col-xs-12 no-padding shadow-border">
                <div class="col-xs-3 no-padding btn5 btn-share">
                    <a href="#" class=" no-padding">
                        <i class="fa fa-share-alt share4"></i>
                    </a>
                </div>
                <div class="col-xs-3 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    <span>Somos</span><br>
                    <span>{{::winwin.users_already_joined}}</span>
                </div>
                <div class="col-xs-3 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    <span>Faltan</span><br>
                    <span>{{::winwin.users_left}}</span>
                </div>
                <div ng-show="show_closing_date" class="col-xs-3 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    <span>Termina en</span><br>
                    <span> {{duration_days}}</span>D <span>{{duration_hours}}</span>H <span>{{duration_minutes}}</span>M
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center"  style="padding-top: 20px!important;">
            <span class="orange">¿Si supieras </span> que somos <span  class="backorange">{{::winwin.users_amount}}</span> para {{::winwin.what_we_do}}  <span class="orange">te sumarías?</span>
        </div>
        <div class="col-xs-12 no-padding caret-middle" style="height:75px"  ng-show="!winwin.already_joined">
            <div class="col-xs-7 no-padding btn4 btn-share like" style="background-color:#5aad07!important; height: 55px; margin-top:15px;border-bottom: 4px solid green;"> 
                <a href="#" class="no-padding" ng-click="join()">
                    <h5 style="padding-top:8px;">SI! ME SUMO</h5>
                </a>
            </div>
            <div class="col-xs-5 no-padding btn4 btn-share like" style="background-color:grey!important; height: 55px; margin-top:15px;border-bottom: 5px solid #666;"> 
                <a href="#" class="no-padding" ng-click="pass()">
                    <h5 style="padding-top:8px;">LA PROXIMA</h5>
                </a>
            </div>
        </div>


        <div class="col-xs-12 mb-20" style="background-color: #f1f1f1; padding: 10px 10px 20px;"> 
            <div class="col-xs-6 no-padding" style="cursor: pointer" ng-click="viewProfile(winwin.user.id)"> 
                <img ng-src="http://images.dev-winwins.net/42x42/{{::winwin.user.detail.photo}}" class="img-responsive img-circle profile">
                <h5 style="padding: 10px 10px 10px 10px;">{{::winwin.user.detail.name}} {{::winwin.user.detail.lastname}}</h5>
            </div>
            <div class="col-xs-6">
                <img  alt="{{::member.detail.name}}" title="{{::member.detail.name}}" ng-src="http://images.dev-winwins.net/42x42/{{::member.detail.photo}}" src="images/profile.png" class="img-responsive img-circle-second"  ng-repeat="member in winwin.users" ng-show="member.id != winwin.user.id"  style="cursor: pointer" ng-click="viewProfile(member.id)">
            </div>
        </div>
        <div class="col-xs-12 mb-20">
            <div class="col-xs-4" ng-repeat="sponsor in winwin.sponsors">
                    <img alt="{{::sponsor.name}}" title="{{::sponsor.name}}" ng-src="http://images.dev-winwins.net/42x42/{{::sponsor.photo}}" width="100" height="42">
            </div>
        </div>

    </section>

    <!-- menu scroll -->
    <section ng-show='wpPreview.name.down' class="winwin-body col-xs-12">
        <a id="winwin-subview"></a>
        <div class="col-xs-12" style="height: 115px; display: block"></div>
        <div ng-show="isAdmin" class="col-xs-12" style="height: 45px; display: block"></div>

        <div ui-view autoscroll="false" class="no-padding winwin-scroll-view {{isAdmin ? 'admin' : ''}}"></div>

    </section>
</div>
