    <div class="row winwin-navbar" ng-controller="winwin-navbar">
        <div class="container col-xs-12 no-padding">
            <div class="col-xs-20" ng-click="goWinwin()">
                <i class="fa fa-comments"></i>
            </div>
            <div class="col-xs-20"  ng-click="goMuro()" ng-class="{active: muro_view}">
                <i class="fa fa-comment"></i>
            </div>
            <div class="col-xs-20"  ng-click="goSponsors()" ng-class="{active: sponsors_view}">
                <i class="fa fa-star"></i>
            </div>
            <div class="col-xs-20" ng-click="goMembers()" ng-class="{active: members_view}">
                <i class="fa fa-users" ></i>
            </div>

            <div ng-show="isSponsor" class="col-xs-20"  ng-click="goRequestPatrocinio()"  ng-class="{active: request_sponsor_view}">
                <i class="fa fa-star"></i>
            </div>

            <div class="col-xs-20" >
                <i class="fa fa-gear"  ng-click="goAdmin()" ng-show="winwin.is_moderator"></i>
                <i class="fa fa-gear"  ng-show="!winwin.is_moderator" ng-disabled="winwin.is_moderator"></i>
            </div>
        </div>

        <div  ng-show="isAdmin" class="container no-padding">
            <div class="col-xs-3 submenu-icons" >
                <i class="fa fa-star" ng-click="goRequestesPatrocinio()"></i>
            </div>
            <div class="col-xs-3 submenu-icons"  ng-class="{active: campanada_view}">
                <i class="fa fa-bell" ng-click="goCampanada()"></i>
            </div>
            <div class="col-xs-3 submenu-icons">
                <i class="fa fa-server" ng-click="goConfiguracion()"></i>
            </div>
            <div class="col-xs-3 submenu-icons active">
                <i class="fa fa-bullhorn"></i>
            </div>
        </div> 
    </div> 
