  
   
   <div class="container">
   <div class="row">
      <div class="container col-xs-12 no-padding">
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-users"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-comments"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-star"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20 active">
               <i class="fa fa-comment"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-bars"></i>
            </div>
         </a>
      </div>
      
     
<!-- Winwin Activity Wall-->            
<div class="container">
<div class="row">
<div class="panel-body post">
   <div class="col-xs-12 no-padding">
      <div class="col-xs-12 no-padding">
         <div class="col-xs-3 no-padding text-center">
            <img src="img/sponsor_img.png" class="img-circle-simple" width="38" height="38">
            <span class="nombre">
            Leonardo </span>
            <span class="date" style="font-size:7px;"> 12/12/12 21:30</span>
         </div>
         <div class="col-xs-9 no-padding-left">
            <span class="p-lista" style="">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.<br> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            </p>
         </div>
      </div>
   </div>
</div>
<div class="media-post"> </div>
<img src="img/africa.jpg" class="img-circle-simple" width="100%" max-height="220"> 
<!-- Winwin Buttons-->
<div class="container  buttons-post">
   <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-2"> <i class="fa fa-thumbs-o-up"></i> <span class="post-likes"> 10</span></div>
      <div class="col-xs-2"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"></i><span class="post-likes-"> 10</span></div>
      <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
      <div class="col-xs-2"><span class="comments-ico"> <i class="fa fa-comment"></i></span></div>
      <div class="col-xs-1"></div>
   </div>
</div>
<!-- Commments PostBox-->
<div class="container comments-box">
   <div class="col-xs-2 post-image"><img src="img/profile.png" class="img-circle-simple" width="38" height="38"></div>
   <div class="col-xs-6 ">
      <div class="bubbles">
         <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
      </div>
   </div>
   <a href="#" role="button" class="col-xs-2 button-send"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
   <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-youtube"></i></a>
   <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-camera-retro"></i></a>
</div>
<!-- Post-->
<div class="container">
<div class="row">
<div class="panel-body post">
   <div class="col-xs-12 no-padding">
      <div class="col-xs-12 no-padding">
         <div class="col-xs-3 no-padding text-center">
            <img src="img/sponsor_img.png" class="img-circle-simple" width="38" height="38">
            <span class="nombre">
            Leonardo </span>
            <span class="date"> 12/12/12 21:30</span>
         </div>
         <div class="col-xs-9 no-padding-left">
            <span class="p-lista" style="">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            </p>
         </div>
      </div>
   </div>
</div>
<!-- Winwin-->
<div class="container  buttons-post">
   <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-2"> <i class="fa fa-thumbs-o-up"></i><span class="post-likes"> 10</span></div>
      <div class="col-xs-2"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"></i><span class="post-likes-"> 10</span></div>
      <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
      <div class="col-xs-2"><span class="comments-ico"><i class="fa fa-comment"></i></span></div>
      <div class="col-xs-1"></div>
   </div>
</div>
<div class="container comments-box">
   <div class="col-xs-2 post-image"><img src="img/profile.png" class="img-circle-simple" width="38" height="38"></div>
   <div class="col-xs-6 ">
      <div class="bubbles">
         <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
      </div>
   </div>
   <a href="#" role="button" class="col-xs-2 button-send" ng-click="submitPost()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
   <a href="#" role="button" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB"><i class="fa fa-youtube"></i></a>
   <a href="#" role="button" type="file" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB"><i class="fa fa-camera-retro"></i></a>
</div>
   
      
      
      
