    <form role="form" ng-submit="doSave()" name="groupForm">
        <div class="container">

            <div class="col-xs-12">
                <div class="col-xs-12 no-padding">
                    <div ng-class="{active: !groupForm.name.$invalid}" class="input-group col-xs-12" style="margin:20px 0">
                      <input type="text" name="title" ng-model="group.name" class="form-control" placeholder="Un Nombre para tu Grupo" aria-describedby="basic-addon1" ng-required="true">
                    </div>
                </div>
                <div class="col-xs-12 no-padding group-description">
                    <div ng-class="{active: !groupForm.description.$invalid}" class="input-group col-xs-12" style="margin:20px 0">
                        <textarea ng-model="group.description" class="form-control" rows="2" no-resize placeholder="Danos una descripción breve de tu grupo" ng-required="true"></textarea>
                    </div>
                </div>

                <div class="col-xs-12 no-padding">
                    <h5 class="text-center" style="color:#9f9f9f;">
                        Palabras claves y etiquetas
                    </h5>
                    <div class="col-xs-10 col-xs-push-1 mb-20">
                         <tags-input ng-model="group.tags"></tags-input>
                    </div>

                </div>

                <div class="col-xs-12 no-padding">
                    Control de Winwin <i class="fa fa-question-circle" style="color:red;"></i>
                    <input type="checkbox" class="pull-right" ng-model="group.control_ww" aria-label="Control de Winwin" style="width:15px; height:15px;">
                </div>

            </div>
        </div>



        <div class="container">
            <h5 class="text-center" style="color:#9f9f9f;">
                Subí el avatar de tu grupo
            </h5>

            <div class="col-xs-12 icons-id text-center mb-20">
                <div ngf-select ng-model="files" ngf-multiple="true" class="col-xs-6 border-grey" ngf-accept="'image/*'">
                        <div ng-show="!group.image">
                            <i class="fa fa-arrow-circle-o-up"></i><br>
                            <i class="fa fa-camera"></i>
                        </div>
                        <img ng-show="group.image" ng-src="http://images.dev-winwins.net/232x154/smart/{{group.image}}" >
                </div>

                <div class="col-xs-6 border-grey">
                    <i class="fa fa-arrow-circle-o-up"></i><br>
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>

        </div>



        <div class="col-xs-10 text-center mb-20" style="margin-top:10px;">
            <input type="checkbox" ng-model="group.accept_terms" aria-label="Checkbox for following text input" style="width:15px; height:15px;">
            <span style="font-size:9px;">He leido y acepto los <a href="#">terminos y condiciones</a></span>
        </div>


        <button type="submit" ng-disabled="groupForm.$invalid || !group.accept_terms"  class="btn btn-default btn-sponsor btn-second mb-20" style="color:#FFF; text-transform:uppercase;">
            Crear Grupo
        </button>   

    </form>

