<div zum-waypoint="groupScroll" down="name.down" up="name.up" offset="-200"></div>
<div class="container no-padding">

    <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::group.photo}}" class="col-xs-12 no-padding portada" style="background-color:red">
        <div class="col-xs-12 mb-20">
            <div class="col-xs-12 no-padding home text-center">
                <h3 class="text-white">{{::group.name}}</h3>
                <div class="btn-group mb-20">
                    <button ng-show="!group.already_joined" type="button" class="btn btn-warning btn-unite"  ng-click="join()">Unirse</button>
                    <button ng-show="group.already_joined" type="button" class="btn btn-warning btn-unite"  ng-click="left()">Dejar</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="col-xs-4 col-sm-4">
                <span class="title-somos title-main-sponsor">WW Unidos</span>
                <span class="num-somos sponsor back-winwin num-somos-seguidore-main">{{::group.winwins.length}}</span>
            </div>
            <div class="col-xs-4 col-sm-4 no-padding">
                <div class="col-xs-12 no-padding">
                    <span class="title-somos title-main-sponsor compartir" style="margin-right:5px">COMPARTIR</span>
                    <button type="button" class="btn-social btn-home facebook compartir">
                        <i class="fa fa-facebook fa-6"></i>
                    </button>
                    <button type="button" class="btn-social btn-home twitter">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button type="button" class="btn-social btn-home google">
                        <i class="fa fa-google-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 no-padding">
                <span class="title-somos title-main-sponsor" style="margin-left:5px">MIEMBROS</span>
                <span class="num-somos sponsor back-winwin num-somos-sponsor-main">{{::group.members_count}}</span>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse0" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            Acerca del Grupo
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p class="text-destacados lista" style="margin-top:10px">
                        {{::group.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="menu-profile" class="menu-profile col-xs-12 no-padding navbar" ng-show="groupScroll.name.down" ng-class="{fixed: groupScroll.name.down}">
    <ul class="nav nav-tabs" role="tablist" id="menu-profile-tabs">
        <li class="col-xs-20">
            <a data-toggle="tab" data-target="#home">
                <i class="fa fa-comments"></i>
            </a>
        </li>
        <li class="col-xs-20">
            <a data-toggle="tab" data-target="#users">
                <i class="fa fa-users"></i>
            </a>
        </li>
        <li class="col-xs-20">
            <a data-toggle="tab" data-target="#winwins">
                <i class="fa fa-star"></i>
            </a>
        </li>
        <li class="col-xs-20">
            <a data-toggle="tab" data-target="#notificaciones">
                <i class="fa fa-comment"></i>
            </a>
        </li>
        <li class="col-xs-20">
            <a  ng-if="user_detail.myself" data-toggle="tab" data-target="#config">
                <i class="fa fa-gear"></i>
            </a>
        </li>

    </ul>
</div>


<div class="profile-tabs tab-content">
    <div id="home" role="tabpanel" class="tab-pane fade in active">

        <div ng-include="'/views/group/group_home.html'"></div>

    </div>
    <div id="users" class="tab-pane">

        <div ng-include="'/views/group/group_users.html'"></div>

    </div>
    <div id="winwins" class="tab-pane">

        <div ng-include="'/views/group/group_winwins.html'"></div>


    </div>
    <div id="notificaciones" class="tab-pane">

        <div ng-include="'/views/group/group_forum.html'"></div>

    </div>
    <div id="config" class="tab-pane">

        <div ng-include="'/views/group/group_config.html'"></div>

    </div>
</div>




