<md-dialog class="tabs-login">
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="one">
          <md-tab-label>{{ 'Ir a mi cuenta' | translate }} {{hola}}</md-tab-label>
          <md-tab-body>
            <md-content layout-padding class="section-login">
              <form method="post" ng-submit="login.login()" name="loginForm" ng-show="login.login_status == 'login'">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Email</label>
                    <input id="email" name="email" type="email" length="30"  ng-model="login.login.email" class="validate" required>
                    <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched" class="help-block">
                      <p class="small" ng-message="required" translate>Email invalido.</p>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Password</label>
                    <input id="password" name="password" type="password" length="12"  class="validate"  ng-model="login.login.password" required="required">
                    <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched" class="help-block">
                      <p class="small" ng-message="required" translate>Contraseña incorrecta.</p>
                    </div>
                  </md-input-container>
                </div>
                <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary bt-default">{{ 'Ingresar' | translate }}
                </button>
              </form>
              <div layout="row" layout-align="center center" layout-padding class="section-login" ng-show="login.login_status == 'login'">
                <div flex><small translate>Ingresá con un clic con tu red social:</small></div>
                <div flex><md-button class="md-icon-button" ng-click="login.authenticate('facebook')" aria-label="Facebook">
                  <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="login.authenticate('twitter')" aria-label="Twitter">
                  <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="login.authenticate('google')" aria-label="Google">
                  <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="login.authenticate('yahoo')" aria-label="Yahoo">
                  <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
                </md-button></div>
              </div>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.login_status == 'success'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-ok.svg"></md-icon></md-button></div>
                <div flex><h2 class="gray" translate>Genial!</h2></div>
                <div flex><p class="violet" translate>Vamos a tu cuenta.</p></div>
              </div>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.login_status == 'error'" ng-click="login.login_status = 'login'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-error.svg" class="s44"></md-icon></md-button></div>
                <div flex><p class="gray" translate>Usuario/password no correctos<br /></div>
              </div
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab label="two">
          <md-tab-label translate>Registrarme</md-tab-label>
          <md-tab-body>
            <md-content layout-padding class="section-login">
              <form method="post" ng-submit="login.signup()" name="registerForm" ng-show="login.register_status == 'register'">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Nombre</label>
                    <input id="name" required ng-model="login.register.name" name="name">
                    <div ng-messages="registerForm.name.$error" ng-if="registerForm.name.$touched" class="help-block">
                      <p class="small" ng-message="required" translate>Ingresa tu nombre.</p>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Apellido</label>
                    <input id="lastname" required ng-model="login.register.lastname" name="lastname">
                    <div ng-messages="registerForm.lastname.$error" ng-if="registerForm.lastname.$touched" class="help-block">
                      <p class="small" ng-message="required" translate>Ingresa tu apellido.</p>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Email</label>
                    <input id="email" type="email" name="email" length="30"  ng-model="login.register.email" class="validate" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                    <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched" class="help-block">
                      <p class="small" ng-message="required" translate>Ingresa tu correo.</p>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Contraseña</label>
                    <input id="password" type="password" length="12" name="password" class="validate" ng-model="login.register.password" required>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Repetí Contraseña</label>
                    <input id="rpassword" type="password" length="12" name="rpassword" class="validate"  ng-model="login.register.rpassword" required data-password-verify="login.register.password">
                    <div ng-messages="registerForm.rpassword.$error" ng-if="registerForm.rpassword.$touched" class="help-block">
                      <p class="small" ng-message="passwordVerify" translate>Las contraseñas ingresadas no son iguales.</p>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox class="green" ng-model="login.register.terms" name="terms">
                      {{ 'He leído y acepto los' | translate }} <a ng-href="/#/terms" target="_blank" translate>términos y condiciones</a>.
                    </md-checkbox>
                    <div ng-messages="registerForm.terms.$error" class="help-block" ng-if="registerForm.terms.$error.notTerms">
                      <p class="small" ng-message="notTerms" translate>Acepta los terminos y condiciones.</p>
                    </div>
                  </md-input-container>
                </div>
                <button type="submit" name="action" translate class="md-raised md-primary bt-default">{{ 'Registrarme' | translate }}
                </button>
              </form>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.register_status == 'success'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-ok.svg"></md-icon></md-button></div>
                <div flex><h2 class="gray" translate>Genial!</h2></div>
                <div flex><p class="gray font-16">{{ 'Te enviamos un correo a' | translate }}
                            <span class="violet">{{ login.register.email}}</span>
                             {{ 'para confirmar tu cuenta' | translate }}.</p>
                             <p class="gray font-16" translate>Vamos a completar tu perfil.</p></div>
              </div>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.register_status == 'error'" ng-click="login.register_status = 'register'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-error.svg" class="s44"></md-icon></md-button></div>
                <div flex><p class="gray" translate>{{ login.message }}<br /></div>
              </div
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab label="three">
          <md-tab-label>
            <md-icon md-svg-src="assets/images/icon-lock.svg"></md-icon>
          </md-tab-label>
          <md-tab-body>
            <md-content layout-padding class="section-login">
              <form method="post" ng-submit="login.changePass()" name="changePassForm" ng-show="login.change_pass_status == 'change_pass'">
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Email</label>
                    <input required name="email" ng-model="login.changePass.email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                    <div ng-messages="changePassForm.email.$error">
                      <div ng-message="required" translate>Ingresa tu correo.</div>
                    </div>
                  </md-input-container>
                </div>
                <button type="submit" ng-disabled="changePassForm.$invalid" name="action" translate class="md-raised md-primary bt-default">{{ 'Enviar contraseña' | translate }}
                </button>
              </form>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.change_pass_status == 'success'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-oks.svg" class="s44"></md-icon></md-button></div>
                <div flex><p class="gray">{{ 'Te enviamos tu contraseña a' | translate }} <span class="violet">{{login.changePass.email}}</span></p></div>
              </div>
              <div layout="column" layout-align="center center" class="login-ok" ng-show="login.change_pass_status == 'error'">
                <div flex><md-button><md-icon md-svg-src="assets/images/icon-error.svg" class="s44"></md-icon></md-button></div>
                <div flex><p class="gray">{{ 'El email' | translate }} <span class="red">{{login.changePass.email}}</span>
                  {{ 'no es un usuario de Winwins' | translate }}.<br />
                  {{ 'Escribiste bien' | translate }}?</p></div>
              </div>
            </md-content>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
</md-dialog>
