
<div ng-show="!login.redirect_message">
  <section class="section-login">
    <md-content layout="row" layout-align="center center" layout-wrap layout-padding>
      <form method="post" ng-submit="login.login()" name="loginForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label translate>Email</label>
            <input id="email" type="email" length="30"  ng-model="login.email"  class="validate" required="required">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label translate>Password</label>
            <input id="password" type="password" length="12"  class="validate"  ng-model="login.password" required="required">
          </md-input-container>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary">Ingresar
        </button>
      </form>
    </md-content>
    <md-content layout="row" layout-align="center center" layout-wrap layout-padding>
      <div flex><small>Ingresá con un clic con tu red social:</small></div>
      <div flex><md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('facebook')" aria-label="Facebook">
        <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('twitter')" aria-label="Twitter">
        <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('google')" aria-label="Google">
        <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('yahoo')" aria-label="Yahoo">
        <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
      </md-button></div>
    </md-content>
  </section>
</div>

<section ng-show="login.redirect_message" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <h1 ng-if="!login.provider" translate> ¡Genial! </h1>
  <h3 ng-if="login.provider"> {{'¡Ingresaste con'| translate}} {{login.provider}}! </h1>
</section>

<div ng-cloak class="tabs-login">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>Ir a mi cuenta</md-tab-label>
        <md-tab-body>
          <md-content layout-padding class="section-login">
            <form method="post" ng-submit="login.login()" name="projectForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>Email</label>
                  <input required name="clientName" ng-model="project.clientName">
                  <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">Email Inválido</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>Password</label>
                  <input id="password" type="password" length="12"  class="validate"  ng-model="project.clientName" required>
                  <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">Contraseña incorrecta</div>
                  </div>
                </md-input-container>
              </div>
              <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary bt-default">Ingresar
              </button>
            </form>
            <div layout="row" layout-align="center center" layout-padding class="section-login">
              <div flex><small>Ingresá con un clic con tu red social:</small></div>
              <div flex><md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('facebook')" aria-label="Facebook">
                <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('twitter')" aria-label="Twitter">
                <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('google')" aria-label="Google">
                <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-href="/#/login" ng-click="login.authenticate('yahoo')" aria-label="Yahoo">
                <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
              </md-button></div>
            </div>
            <div layout="column" layout-align="center center" class="login-ok">
              <div flex><md-button><md-icon md-svg-src="assets/images/icon-ok.svg"></md-icon></md-button></div>
              <div flex><h2 class="gray">Genial!</h2></div>
              <div flex><p class="violet">Vamos a tu cuenta.</p></div>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Registrarme</md-tab-label>
        <md-tab-body>
          <md-content layout-padding class="section-login">
            <form method="post" ng-submit="login.login()" name="projectForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label translate>Nombre</label>
                <input required name="clientName" ng-model="project.clientName">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">Nombre Inválido</div>
                </div>
              </md-input-container>
              </div>
              <md-input-container class="md-block" flex-gt-sm>
                <label translate>Email</label>
                <input required name="clientName" ng-model="project.clientName">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">Email Inválido</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label translate>Contraseña</label>
                <input id="password" type="password" length="12"  class="validate"  ng-model="project.clientName" required>
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">Contraseña incorrecta</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label translate>Repetí Contraseña</label>
                <input id="password" type="password" length="12"  class="validate"  ng-model="project.clientName" required>
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">Contraseña incorrecta</div>
                </div>
              </md-input-container>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="green">
                   He leído y acepto los <a href="#">términos y condiciones</a>.
                </md-checkbox>
                </md-input-container>
              </div>
              <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary bt-default">Registrarme
              </button>
            </form>
            <div layout="column" layout-align="center center" class="login-ok">
              <div flex><md-button><md-icon md-svg-src="assets/images/icon-ok.svg"></md-icon></md-button></div>
              <div flex><h2 class="gray">Genial!</h2></div>
              <div flex><p class="gray font-16">Te enviamos un correo a
                          <span class="violet">user@email.com</span>
                           para confirmar tu cuenta.</p>
                           <p class="gray font-16">Vamos a completar tu perfil.</p></div>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
            <md-icon md-svg-src="assets/images/icon-lock.svg"></md-icon>
        </md-tab-label>
        <md-tab-body>
          <md-content layout-padding class="section-login">
            <form method="post" ng-submit="login.login()" name="projectForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>Email</label>
                  <input required name="clientName" ng-model="project.clientName">
                  <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">Email Inválido</div>
                  </div>
                </md-input-container>
              </div>
              <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary bt-default">Enviar contraseña
              </button>
            </form>
            <div layout="column" layout-align="center center" class="login-ok">
              <div flex><md-button><md-icon md-svg-src="assets/images/icon-oks.svg" class="s44"></md-icon></md-button></div>
              <div flex><p class="gray">Te enviamos tu contraseña a <span class="violet">user@email.com</span></p></div>
            </div>
            <div layout="column" layout-align="center center" class="login-ok">
              <div flex><md-button><md-icon md-svg-src="assets/images/icon-error.svg" class="s44"></md-icon></md-button></div>
              <div flex><p class="gray">El email <span class="red">user@email.com</span>
                no es un usuario de Winwins.<br />
                Escribiste bien?</p></div>
            </div>
            <form method="post" ng-submit="login.login()" name="projectForm">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label translate>Email</label>
                  <input required name="clientName" ng-model="project.clientName">
                  <div ng-messages="projectForm.clientName.$error">
                    <div ng-message="required">Email Inválido</div>
                  </div>
                </md-input-container>
              </div>
              <button type="submit" ng-disabled="loginForm.$invalid" name="action" translate class="md-raised md-primary bt-default">Enviame mi contraseña
              </button>
            </form>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>