.navbar-default {
  background-color: #1862c2; }
  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav > li > a {
    color: white; }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: black; }
  .navbar-default .navbar-brand {
    background-image: url("../images/navbar-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 138px;
    height: 50px; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #134d99;
    color: white; }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #3276c9; }
  .navbar-default .navbar-toggle {
    border-color: white;
    background-color: #1862c2; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }

.videowrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  margin-bottom: 10px;
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.winwins-list .row .ww-img img,
.members-list .row .ww-img img,
.comments-list .row .ww-img img {
  width: 100%; }
.winwins-list .row .ww-member,
.members-list .row .ww-member,
.comments-list .row .ww-member {
  border-radius: 50%;
  padding: 10%; }
.winwins-list .row .ww-buttons .fa,
.members-list .row .ww-buttons .fa,
.comments-list .row .ww-buttons .fa {
  text-align: center;
  padding: 12px;
  border-bottom: solid 1px transparent;
  cursor: pointer; }
.winwins-list .row .ww-buttons .fa-envelope,
.members-list .row .ww-buttons .fa-envelope,
.comments-list .row .ww-buttons .fa-envelope {
  border: 1px solid white;
  color: #aaaaaa;
  background-color: #cfd1d0;
  border-bottom: thick solid #aaaaaa; }
.winwins-list .row .ww-buttons .fa-twitter,
.members-list .row .ww-buttons .fa-twitter,
.comments-list .row .ww-buttons .fa-twitter {
  border: 1px solid white;
  color: white;
  background-color: #55acee;
  border-bottom: thick solid #3276c9; }
.winwins-list .row .ww-buttons .fa-facebook,
.members-list .row .ww-buttons .fa-facebook,
.comments-list .row .ww-buttons .fa-facebook {
  border: 1px solid white;
  color: white;
  background-color: #3b5998;
  border-bottom: thick solid #1f497c; }
.winwins-list .row .ww-buttons .btn-interest,
.members-list .row .ww-buttons .btn-interest,
.comments-list .row .ww-buttons .btn-interest {
  font-weight: bold;
  color: white;
  background-color: #aaaaaa; }
.winwins-list .row .ww-buttons .btn-success,
.members-list .row .ww-buttons .btn-success,
.comments-list .row .ww-buttons .btn-success {
  font-weight: bold; }
.winwins-list .row .ww-buttons button,
.members-list .row .ww-buttons button,
.comments-list .row .ww-buttons button {
  margin-bottom: 5px; }

@media screen and (max-width: 767px) {
  .navbar {
    margin-bottom: 10px; }

  .navbar-nav {
    margin: 0 -15px; }
    .navbar-nav > li {
      border-bottom: 1px solid white; }

  .ww-buttons {
    text-align: right; }

  .btn-row1 {
    float: left;
    margin-top: 5px; }

  .btn-row2,
  .btn-row3 {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px; } }
@media screen and (max-width: 479px) {
  .ww-description {
    font-size: 75%; }

  .ww-img {
    padding-right: 0px; }

  .btn-row2,
  .btn-row3 {
    width: 30%;
    margin: 0 0 0 0;
    margin-left: 5px; }
    .btn-row2 button,
    .btn-row3 button {
      width: 100%; } }

/*# sourceMappingURL=home.css.map */
