.search-bar{
	background-color: #1862C2;
    position: fixed;
    bottom: 0;

	.input-group{
		margin: 50px 15% 20px 15%;

		input,span{
			border-radius: 0;
		}

		span{
			cursor: pointer;
			background-color: #fd7e01;
			border-color: #fd7e01;
			color: white;
			font-weight: bold;
		}

	}

	.search-filters{
		margin: 0px 15% 20px 15%;
		.checkbox-grp{
			display: inline-block;
			.checkbox{
				margin: 0 10px;
				color: white;
				display: inline-block;
			}
		}
	}

	.search-bar-button{
		cursor: pointer;
		position: absolute;
		width: 0;
		height: 0;

		border: 45px solid transparent;
		border-bottom: 0px;
		border-color: #1862C2;
		border-radius: 90px 90px 0 0;
		left: 50%;
		bottom: 100%;
		margin-left: -60px;
		margin-bottom: -5px; 
	}

	.search-bar-button:after {
	  content: "\f002"; 
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	  text-decoration: inherit;
	  position: absolute;
	  font-size: 2em;
	  color: white;
	  top: 50%;
	  left: 50%;
	  margin: -45px 0 0 -13px;
	  z-index: 1;
	}
}

.animate-if.ng-enter, .animate-if.ng-leave {
	-webkit-transition: 1.5s linear all;
	-moz-transition: 1.5s linear all;
	-ms-transition: 1.5s linear all;
	-o-transition: 1.5s linear all;
	transition: 1.5s linear all;
}

.animate-if.ng-enter {
	max-height: 0;
}

.animate-if.ng-enter.ng-enter-active {
	max-height: 180px;
}

.animate-if.ng-leave {
	max-height: 180px;
}

.animate-if.ng-leave.ng-leave-active {
	max-height: 0;
}

@media screen and (max-width: 767px) {
  .search-bar{
	margin-left: -15px;
  }
}
