#createWW,
#sign-up,
.sign-in,
.promote {
  max-width: 768px;
  margin-bottom: 50px; }
  #createWW .title,
  #sign-up .title,
  .sign-in .title,
  .promote .title {
    color: #1862c2;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px; }
  #createWW .subtitle,
  #sign-up .subtitle,
  .sign-in .subtitle,
  .promote .subtitle {
    font-size: 90%;
    font-weight: bold;
    color: #535353;
    margin-bottom: 20px; }
  #createWW .date-title,
  #sign-up .date-title,
  .sign-in .date-title,
  .promote .date-title {
    font-weight: bold;
    font-size: 90%;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 3px; }
  #createWW .fa,
  #sign-up .fa,
  .sign-in .fa,
  .promote .fa {
    color: #535353; }
  #createWW #sign-up-form,
  #createWW .sign-in-form,
  #sign-up #sign-up-form,
  #sign-up .sign-in-form,
  .sign-in #sign-up-form,
  .sign-in .sign-in-form,
  .promote #sign-up-form,
  .promote .sign-in-form {
    margin: auto;
    max-width: 360px; }
  #createWW .input-group,
  #sign-up .input-group,
  .sign-in .input-group,
  .promote .input-group {
    margin-bottom: 5px; }
    #createWW .input-group .input-group-addon,
    #sign-up .input-group .input-group-addon,
    .sign-in .input-group .input-group-addon,
    .promote .input-group .input-group-addon {
      width: 40px; }
    #createWW .input-group input,
    #sign-up .input-group input,
    .sign-in .input-group input,
    .promote .input-group input {
      width: 240px; }
    #createWW .input-group input.ng-valid,
    #sign-up .input-group input.ng-valid,
    .sign-in .input-group input.ng-valid,
    .promote .input-group input.ng-valid {
      outline: none !important;
      border: 1px solid #5CB85C;
      box-shadow: 0 0 10px #719ECE; }
    #createWW .input-group input.ng-invalid,
    #sign-up .input-group input.ng-invalid,
    .sign-in .input-group input.ng-invalid,
    .promote .input-group input.ng-invalid {
      outline: none !important;
      border: 1px solid red;
      box-shadow: 0 0 10px #719ECE; }
    #createWW .input-group input.ng-pristine,
    #sign-up .input-group input.ng-pristine,
    .sign-in .input-group input.ng-pristine,
    .promote .input-group input.ng-pristine {
      outline: none !important;
      border: 1px solid #cccccc;
      box-shadow: 0 0 0 #719ECE; }
    #createWW .input-group input:focus,
    #sign-up .input-group input:focus,
    .sign-in .input-group input:focus,
    .promote .input-group input:focus {
      outline: none !important;
      border: 1px solid #66afe9;
      box-shadow: 0 0 10px #719ECE; }
  #createWW .checkbox,
  #sign-up .checkbox,
  .sign-in .checkbox,
  .promote .checkbox {
    font-size: 75%; }
    #createWW .checkbox span,
    #sign-up .checkbox span,
    .sign-in .checkbox span,
    .promote .checkbox span {
      line-height: 2; }
  #createWW button,
  #sign-up button,
  .sign-in button,
  .promote button {
    margin-top: 10px;
    width: 180px; }
  #createWW #birth-date input,
  #sign-up #birth-date input,
  .sign-in #birth-date input,
  .promote #birth-date input {
    width: 80px; }
  #createWW #birth-date input[type=number]::-webkit-outer-spin-button,
  #createWW #birth-date input[type=number]::-webkit-inner-spin-button,
  #sign-up #birth-date input[type=number]::-webkit-outer-spin-button,
  #sign-up #birth-date input[type=number]::-webkit-inner-spin-button,
  .sign-in #birth-date input[type=number]::-webkit-outer-spin-button,
  .sign-in #birth-date input[type=number]::-webkit-inner-spin-button,
  .promote #birth-date input[type=number]::-webkit-outer-spin-button,
  .promote #birth-date input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #createWW #birth-date input[type=number],
  #sign-up #birth-date input[type=number],
  .sign-in #birth-date input[type=number],
  .promote #birth-date input[type=number] {
    -moz-appearance: textfield; }
  #createWW .one-click,
  #sign-up .one-click,
  .sign-in .one-click,
  .promote .one-click {
    margin: auto;
    max-width: 360px;
    margin-top: 30px; }
    #createWW .one-click .icon-group i,
    #sign-up .one-click .icon-group i,
    .sign-in .one-click .icon-group i,
    .promote .one-click .icon-group i {
      width: 50px;
      height: 50px;
      text-align: center;
      border: solid 1px transparent;
      cursor: pointer; }
    #createWW .one-click .icon-group i::before,
    #sign-up .one-click .icon-group i::before,
    .sign-in .one-click .icon-group i::before,
    .promote .one-click .icon-group i::before {
      vertical-align: middle;
      padding-bottom: 3px; }
    #createWW .one-click .icon-group .fa-facebook,
    #sign-up .one-click .icon-group .fa-facebook,
    .sign-in .one-click .icon-group .fa-facebook,
    .promote .one-click .icon-group .fa-facebook {
      color: white;
      background-color: #3b5998;
      border-bottom: thick solid #1f497c; }
    #createWW .one-click .icon-group .fa-twitter,
    #sign-up .one-click .icon-group .fa-twitter,
    .sign-in .one-click .icon-group .fa-twitter,
    .promote .one-click .icon-group .fa-twitter {
      color: white;
      background-color: #55acee;
      border-bottom: thick solid #3276c9; }
    #createWW .one-click .icon-group .fa-google-plus,
    #sign-up .one-click .icon-group .fa-google-plus,
    .sign-in .one-click .icon-group .fa-google-plus,
    .promote .one-click .icon-group .fa-google-plus {
      color: white;
      background-color: #dd4b39;
      border-bottom: thick solid #862916; }
    #createWW .one-click .icon-group .fa-yahoo,
    #sign-up .one-click .icon-group .fa-yahoo,
    .sign-in .one-click .icon-group .fa-yahoo,
    .promote .one-click .icon-group .fa-yahoo {
      color: white;
      background-color: #400191;
      border-bottom: thick solid #2f016b; }

.sign-in h2.title {
  margin-bottom: 20px; }

/*# sourceMappingURL=signUp.css.map */
