.bajada-winwin {
    font-size:0.4em;
    font-weight: 400;
}
.te-sumarias {
    color: #1862c3;
}
.icons-id {
    font-size: 60px
}
.border-grey {
    color: grey;
    border-bottom: 3px solid grey;
}
.drop-categorias {
    border: 2px solid grey;
    background-color: #FFF;
    text-align: left;
    font-weight: 400;
    font-size: 7pt;
    padding-top: 15px;
    padding-bottom: 15px;
}
.ir-winwin {
    border-radius: 8px;
    height: 60px
}
.fix-comment {
    padding: 26px 0; 
}
.fix-comment-textarea {
    padding: 13px 0;
}
.btn-camera {
    font-size: 15px;
    position: relative;
    top: -70px;
    right: -230px;
    line-height: 2px;
    text-align: center;
}
.btn-video {
    font-size: 15px;
    position: relative;
    top: -70px;
    right: -230px;
    line-height: 2px;
    text-align: center;
    color: #000
}
.btn-social.mail {
    background-color: #00a9ee;
}
.altavoz {
    font-size: 180px !important;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    margin-top: 20px;
}
.destacados-legales {
    background-color:orange;
    color:#FFF;
    padding:0 3px
}
.si-me-sumo {
    background-color: #58ad07;
    border-bottom: 4px solid #147b00;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFF;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.la-proxima {
    background-color: #aaaaaa;
    border-bottom: 4px solid grey;
}
.header-winwins {
    height: 253px;
    margin-top: -12px;
}
.title-winwins {
     background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";);
    height:59px;
}
.star-style {
    font-size: 30px;
    color: #FFF;
    margin-top: 8px;
}
.star-style.active {
    color: yellow
}
.margin-somos {
    margin-top: 80px;
}
.num-somos-green {
    background-color: #58ad07!important;
    color: #FFF;
    padding: 4px;
}
.winwin-home-social {
    width: 34px;
    height: 34px;
    font-size: 15px
}
.quedan-dia {
    background-color: #fa5559!important;
    margin-left:15px!important;
    border-bottom: 0!important
}
.quedan-horas {
    background-color: #2dcb74!important;
    border-bottom: 0!important
}
.quedan-segundos {
    background-color: #f6bc59!important;
    border-bottom: 0!important
}
.submenu-icons {
    float: left;
    height: 40px;
    background-color: grey;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    padding-top: 5px
}
.icon-bell {
    background-color: #2e7dcc!important;
    color: #FFF!important;
    margin-top: 60px;
    font-size: 60px;
    padding: 10px;
    margin-left: 0px!important;
}
.color-blue {
    color:#2e7dcc!important
}
.col-xs-8.no-padding ul li {
    font-size: 10px
}
.col-xs-4.no-padding ul li {
    font-size: 10px
}

/*
@media (min-width: 400px) {
    .btn-camera {
        right: -500px
    }
    .col-xs-push-2 {
        left: 6%!important;
    }
    .margin-somos {
        margin-bottom: 30px
    }
    .fix-sponsor {
        left:70px!important;
    }
    .fix-faltan {
        left:70px!important;   
    }
    .fix-invita {
        left: 20px!important;
        top: -20px!important;
    }
    .fix-quedan {
        left: -80px!important;
        top: -20px!important;   
    }
    .quedan-dia {
        margin-left: 50px!important;
    }
    .fix-twitter {
        margin-top: -20px!important;
    }
    .fix-facebook {
        margin-left: 100px!important
    }
}
*/

.winwin-menu {
    position:fixed;
    top:70px;
    width:100%; 
    height:75px; 
    background-color:#DDDDDD;
    color: #FFFFFF;
    z-index:9999;
    display: none;
}

.winwin {
    min-height: 1500px; 
}
.winwin .cssFade {
    transition: 0.5s linear all;
    opacity: 1; 
}
.winwin .cssFade.ng-hide {
    opacity: 0; 
}
.winwin .compressed {
    max-height: 300px;
    overflow: scroll; 
}

.winwin-body {
    position: fixed;
    top: 95px;
    min-height: 400px;
}

#menu-winwin {
    position: fixed;
    left: 0px;
    top: 55px;
}

#menu-winwin-admin {
    display:block;
    left: 0px;
    top: 95px;
}
.winwin-scroll-view {
    top: 95px;
    
}
.winwin-scroll-view.admin {
    top: 135px;
}

.compartir-comentario {
    /*padding: 16px 0!important; */
    /*height: 72px;*/
    padding-top: 16px !important;
}
.new-comentario {
    background-color: #1563c8;
    /*
    position: fixed;
    bottom: 0px;
    display: block;
    left: 0px;
    */
    min-height: 93px;
}
.comentario-list {
}
.compartir-comentario.post-winwin {
    /*height: 127px;*/
}
.fix-comment {
    padding: 16px 0; 
}
.fix-comment-textarea {
    padding: 13px 0;
}
