.acme-partner {
  margin-bottom: 30px;
  padding-bottom: 50px;
  .title {
    color: rgb(239, 131, 65);
    margin: 20px 8px;
    text-align: center;
    font-size: 28px;
    md-icon {
      display: block;
    }
    small {
      color: #5c5c5c;
      font-size: 14px;
      display: block;
      font-weight: normal;
      span {
        color: rgb(239, 131, 65);
      }
    }
    md-icon {
      width: 89px;
      height: 63px;
    }
  }
  .md-user-avatar {
    max-width: 219px;
  }
}
