<md-content class="acme-partner" class="hide show-gt-sm">
  <h1 class="title">
    <md-icon md-svg-src="assets/images/icon-partners.svg"></md-icon>
    PARTNERS
    <small>ALGUNAS DE LAS <span>ORGANIZACIONES</span><br /> QUE <span>CONSTRUYEN</span> JUNTO A <span>WINWINS</span></small>
  </h1>
  <!--<div layout="row" layout-wrap>
    <div ng-repeat="item in vm.items">
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="assets/images/partner.jpg">
        </md-card-avatar>
      </md-card-header>
    </div>
  </div>-->
  
  <div layout="row" layout-align="space-around center" layout-xs="column" layout-wrap>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
    <div flex>
      <img class="md-user-avatar" src="assets/images/partner.jpg">
    </div>
  </div>
</md-content>
