<md-content class="acme-partner" class="hide show-gt-sm">
  <div class="container">
    <h1 class="title">
      <md-icon md-svg-src="assets/images/icon-partners.svg"></md-icon>
      <translate>PARTNERS
      <small>ALGUNAS DE LAS <span>ORGANIZACIONES</span><br /> QUE <span>CONSTRUYEN</span> JUNTO A <span>WINWINS</span></small>
      </translate>
    </h1>

    <div layout="row" layout-align="center center" layout-wrap>
      <div ng-repeat="item in vm.items" flex="25">
        <img class="md-user-avatar" ng-src="{{item.imagen}}">
      </div>
    </div>
  </div>
</md-content>
