<div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
    <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-clock-o animated fadeInLeft"></i></h1>
    <h4 class="white-text"> TIMELINE </h4>
    <i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>
</div>

<div class="container no-padding">
    <div class="col-xs-12 no-padding">
        <div ng-class-odd="media" ng-class-even="media-b"  ng-repeat="notification in notifications">
            <div class="media-left">

            </div>
            <div class="media-body">
                <div ng-switch="notification.type">
                    <div ng-switch-when="WW_JOIN">
                        Te uniste al WinWin <a ng-href="/#/winwin-view/{{notification.object_id}}" style="color: #000"> '{{notification.object.title}}'</a>
                    </div>
                    <div ng-switch-when="WW_CREATED">
                        Creaste el WinWin <a ng-href="/#/winwin-view/{{notification.object_id}}" style="color: #000"> '{{notification.object.title}}'</a>
                    </div>
                    <div ng-switch-when="GROUP_JOIN">
                        Te uniste al Grupo <a ng-href="/#/group-view/{{notification.object_id}}" style="color: #000"> '{{notification.object.name}}'</a>
                    </div>
                    <div ng-switch-when="GROUP_CREATED">
                        Creaste el Grupo <a ng-href="/#/group-view/{{notification.object_id}}" style="color: #000"> '{{notification.object.name}}'</a>
                    </div>
                </div>
                <span class="date">
                   <i class="fa fa-clock-o"></i> 
                   {{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                </span>
            </div>
        </div>
    </div>
</div>

