.acme-winwin {
  background: #fff;
  md-card {
    &.no-padding {
      md-card-content {
        padding: 0;
      }
    }
    h3 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 12px;
      color: #6a6b6f;
      text-transform: uppercase;
    }
    .wrap-card-img {
      max-width: 430px;
      max-height: 220px;
      overflow: hidden;
      .md-card-img {
        width: 100%;
      }
    }
    .card-numbers {
      p {
        margin: 0;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
      }
      .md-item-text {
        text-align: center;
        margin-right: 10px;
        p {
          padding: 5px 15px;
          box-shadow: 0px 0px 12px rgba(0,0,0,.8)
        }
        &.bg-green {
          p {
            background: #21ad85;
          }
        }
        &.bg-orange {
          p {
            background: #f57e20;
          }
        }
      }
    }
    .card-time {
      text-align: right;
      strong {
        display: block;
        color: #ee8222;
        font-weight: 700;
      }
    }
  }
  .profile-small {
    width: 30px;
    height: 30px;
    border: solid 3px #ee8222;
  }
  .style-rounded {
    border-radius: 100px;
    display: block;
    margin: 0 auto;
  }
  .avatar-creador {
    border: solid 6px #144a9d;
  }
  .creadores {
    text-align: center;
    h3 {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
    }
    strong {
      display: block;
      color: #144a9d;
      font-size: 12px;
      margin: 5px 0 10px 0;
    }
  }
  .activadores {
    text-align: center;
    div {
      margin: 1px;
    }
    strong {
      display: block;
      color: #ee8222;
      font-size: 12px;
      margin: 5px 0 10px 0;
    }
  }
  h2 {
    text-transform: uppercase;
    margin: 0;
    height: 60px;
    overflow: hidden;
  }
  p {
    margin: 5px 0 0 ;
    strong {
      color: #144a9d;
    }
  }
  .detalle {
    max-height: 135px;
    overflow: hidden;
  }
  .ver-mas {
    background: #88888c;
    color: #fff;
    margin: 10px 0;
    line-height: 20px;
    display: inline-block;
    min-height: 20px;
    font-size: 11px;
    border-radius: 0;
    &:not([disabled]):hover {
      background: #606062;
    }
  }
  .bt-green {
    background: #4cae4e;
    color:#fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 0;
    height: 62px;
    width: 100%;
    margin: 0;
    &:before {
      width: 0; 
      height: 0; 
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid #fff;
      content: '';
      display: inline-block;
      padding-left: 5px;
      position: relative;
      top: 1px;
    }
    &:hover {
      background: #14b217;
    }
  }
  .md-button.md-icon-button {
    padding: 0;
    md-icon {
      width: 40px;
      height: 40px;
    }
  }
  h3.title {
    font-size:12px;
    color: #336699;
  }
  md-list-item {
    p {
      color: #8d8d8d;
      font-size: 12px;
      margin: 0;
    }
  }
  .content-bg {
    background: #f5f5f5;
    position: relative;
    margin-top:3px;
    margin-bottom:3px;
    h4 {
      color: #88888c;
      font-size: 14px;
      margin: 0;
      strong {
        color: #4cae4e;
      }
    }
    ul {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
    }
    p, li {
      color: #8d8d8d;
      font-size: 12px;
      margin: 0;
    }
  }
  h3.title-notificaction {
    color: #231f20;
    font-size: 13px;
    margin: 0;
    md-icon {
      color: #000;
    }
    .badge {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 100px;
      color: #fff;
      text-align: center;
      background: #e5452e;
      left: 20px;
      top: 6px;
      font-weight: 700;
      font-size: 12px;
    }
  }
  md-list {
    h3 {
      margin: 0 0 0 20px;
    }
  }
  .ver-todos {
    background: #f5f5f5;
    color: #8d8d8d;
    margin: 10px 0;
    font-size: 11px;
    text-transform: initial;
    min-width: 100%;
    &:not([disabled]):hover {
      background: #ddd;
    }
  }
  .comments {
    padding: 0;
    md-card {
      position: relative;
      .card-labels {
        position: absolute;
        top:0;
        right: 10px;
      }
    }
    md-card-actions {
      font-size: 12px;
      color: #a9a9aa;
    }
    md-card-content {
      padding-top:0;
      padding-bottom: 0;
      p {
        color: #666;
        font-size: 12px;
      }
    }
    md-card-header-text {
      color: #a8aaad;
      font-size: 12px;
      line-height: 40px;
      padding-left: 5px;
    }
    md-icon {
      font-size: 16px;
      color: #a9a9aa;
    }
    .green {
      color: #4cae4e;
    }
    .red {
      color: #c62829;
    }
  }
  .sponsors {
    padding: 0;
    h3 {
      margin-left: 20px;
    }
    &-img {
      max-width: 190px;
      display: block;
    }
    div {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .aside {
    padding: 0;
  }
}
.dialog-primary {
  border: solid 5px #e0e0e0;
  max-width: 650px;
  h2 {
    font-size: 18px;
    color: #5d5d5d;
    span {
      color: #2a6fb6;
    }
  }
  h3 {
    font-size: 12px;
    color: #2a6fb6;
  }
  p {
    font-size: 12px;
    color: #5d5d5d;
  }
  md-list {
    @media (min-width: 960px) {
      min-width: 400px;
    }
    .md-raised.md-button {
      font-size: 12px;
    }
  }
}