        <div class="col-xs-12 no-padding grid-participantes">

            <div ng-repeat="participante in sponsor.users" class="participante-item col-xs-12 {{classType(participante)}}" ng-class="{odd: $odd}">
                <div class="col-xs-12 no-padding" style="margin:12px 0;" ng-click="view(participante)">
                    <div class="col-xs-4 no-padding">
                        <img ng-src="http://images.dev-winwins.net/120x106/{{::participante.detail.photo}}" class="img-responsive img-circle img-no-border" />
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h5 class="title-destacados sponsor">
                            {{::participante.detail.name}} {{::participante.detail.lastname}}
                        </h5>
                        <p class="text-destacados lista">
                            {{::participante.about}}
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 no-padding shadow-border">
                    <div class="col-xs-3 col-xs-push-2 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    </div>
                    <div ng-show="!participante.my_self">
                        <div ng-show="!participante.following" class="btn col-xs-3 col-xs-push-3 btn5 btn-follow no-padding" style="padding-top: 12px!important;"  ng-click="follow(participante)">
                            Seguir
                        </div>
                        <div ng-show="participante.following" class="btn col-xs-3 col-xs-push-3 btn5 no-padding" style="padding-top: 12px!important;"  ng-click="unfollow(participante)">
                            Siguiendo
                        </div>
                    </div>
                </div>

            </div>

        </div>

