<div infinite-scroll='sponsors.nextPage()' style="margin-top:-  25px;">
    <div class="row">
        <div class="col-xs-12 no-padding card-panel hoverable" style="margin-top:10px;" ng-repeat="sponsor in sponsors.items">
            <div class="container no-padding">       
                <div class="image">
                    <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; max-width:100%; background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(154, 148, 120, 0.0980392))" ng-click="view(sponsor.id)">
                    </div>
                    
                    <div class="col-xs-12 no-padding">
                 
                        <div class="animated fadeInTop col-xs-3 no-padding left" style="left: 20px; bottom: 30px; position: absolute;"> 
                            <img  ng-src="http://images.dev-winwins.net/x60/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left;
                              border-radius: 3px;
                              height: 99%;
                              box-shadow: 2px 2px 3px #9DA09F;
                              margin-bottom:10px;
                              border: 3px solid #F1F1F1; bottom: -10px;" class=" z-depth-2 responsive-image">
        
                        </div> 
            
                        <div class="col-xs-12"></div>
                       <div style="col-xs-6 text-transform: capitalize; font-size:16px;position: absolute; bottom:10px; color: white; left:15px;">  {{::sponsor.name}} 
                       </div>
                    </div>
                </div>
         
                <div class="col-xs-12 no-padding" style="height: 45px;">
                    <div class="col-xs-3"> 
                        <span class="h8 grey-text  center " style="padding-top:5px;">Winwins</span>
                        <p class=" green-text  center"><strong>{{::sponsor.winwins_count}}</strong> </p> 
                    </div>
                    <div class="col-xs-3 " style="padding-top:5px;"> 
                        <span class="h8 grey-text  center">Seguidores</span>
                        <p class=" blue-text  center" > <strong>2</strong>  {{::sponsor.followers_count}}</p>   
                    </div>

                    <button  ng-if="!sponsor.already_following" class="col-xs-4 white-text right waves-effect waves-light green  btn z-depth-1" style="height:100%; margin-top:-1px;"  ng-click="follow(sponsor.id)"> <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-o-right white-text animated infinite pulse"></i> <span style="font-size:14px;">SEGUIR</span> </p> </button>

                    <button ng-if="sponsor.already_following" class="col-xs-4 white-text right waves-effect waves-light white  btn z-depth-0" style="height:100%; margin-top:-1px;" ng-click="unfollow(sponsor)"> <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-paper-o grey-text"></i> <span style="font-size:14px; color: #999;">DEJAR DE SEGUIR</span> </p> </button>

                </div>
            </div>
        </div>
                 
    </div>
</div>
 
<!-- search -->
<div id="footer-s" data-ng-controller="main-search-controller">
    <nav>
        <div class="nav-wrapper  blue darken-4">
            <form>
                <div class="col-xs-12">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." style="margin-top:8px;" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
                        <i class="fa fa-search bar right" id="query" ng-click="search()"></i>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>

<script>
    $(function(){
        $(window).scroll(function() {  
            if($(document).scrollTop() > 150) {    
                 $('#footer-s').addClass("show");
            } else {
                $('#footer-s').removeClass("show");
            }
        });
    })
</script>
    
<script>
    
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

