<div class="container" ng-repeat="winwin in sponsor.winwins">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
                <div class="ww-featured featured"> <i class="fa fa-bookmark"></i></div>
            </div>
            <div class="ww-popular" ng-if="winwin.mark == 'popular'"> 
                <div class="ww-popular pop"> Pop</div>
            </div>
            <div class="ww-finishing" ng-if="winwin.mark == 'finishing'"> 
                <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
            </div>
        </div>
        <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" style="height: 200px; cursor:pointer;"  ng-click="viewWinwin(winwin.id)">
            <div class="username-cards text-uppercase">{{::winwin.title}}</div>
            <div class="username-cards">{{::winwin.pivot.sponsor_text}} {{::winwin.pivot.sponsor_message}}</div>

        </div>
    </div>
    <div class="row" ng-if="sponsor.myself">
        <div class="block-center center-block"> 
            <span class="btn btn-primary" ng-click="cancelSponsored(winwin)">Cancelar Sponsoreo</span>
        </div>
    </div>
</div>











