<div id="menu-sponsor" class="container no-padding" style="position:absolute; top:56px;">
   <div class="container col-xs-12 no-padding">
      <a href data-toggle="tab" data-target="#sponsor_summary" role="button" ng-click="setCurrentView('home')">
         <span class="col-xs-3-3" ng-class="{active: current_view == 'home'}">
                            
<img src="../images/sponsor.png" width="25" />  
         </span>
      </a>
      <a href data-toggle="tab" data-target="#sponsor_winwins" ng-click="setCurrentView('winwins')">
         <span class="col-xs-3-3" ng-class="{active: current_view == 'winwins'}">
            <i class="fa fa-comments"></i>
         </span>
      </a>
      <a href data-toggle="tab" data-target="#sponsor_followers" ng-click="setCurrentView('followers')">
         <span class="col-xs-3-3" ng-class="{active: current_view == 'groups'}">
            <i class="fa fa-users"></i>
         </span>
      </a>
      <a href ng-if="sponsor.myself" data-toggle="tab" data-target="#sponsor_config">
         <span class="col-xs-3-3">
            <i class="fa fa-gear"></i>
         </span>
      </a>
       <a href ng-if="!sponsor.myself" data-toggle="tab" data-target="#sponsor_config">
         <span class="col-xs-3-3">
         
         </span>
      </a>
   </div>

</div>
<div class="profile-tabs tab-content">
   <div id="sponsor_summary" role="tabpanel" class="tab-pane fade in active">
      <div ng-include="'/views/sponsor/view_summary.html'"></div>
   </div>
   <div id="sponsor_winwins" class="tab-pane">
      <div ng-include="'/views/sponsor/view_winwins.html'"></div>
   </div>
   <div id="sponsor_groups" class="tab-pane">
      <div ng-include="'/views/sponsor/view_groups.html'"></div>
   </div>
   <div id="sponsor_followers" class="tab-pane">
      <div ng-include="'/views/sponsor/view_followers.html'"></div>
   </div>
   <div id="sponsor_config" class="tab-pane">
      <div ng-include="'/views/sponsor/view_config.html'"></div>
   </div>
</div>
