<div data-ng-controller="winwin-sponsors-to-request">
    <div ng-if="!request_success">
        <h5 ng-if="!candidates.length" class="black-text card-panel" style="margin-top:70px;" class="animated  wobble">No se encontraron <br> sponsors nuevos <br> </h5>

    <div class="grid grid-sponsors" style="padding-top: 30px;">
        <div class="grid-item sponsor-item"  ng-repeat="sponsor in candidates">

    
          <div class="container no-padding" ng-click="view(sponsor.id)">       
    <div class="image">
        
         <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; max-width:100%; ">
             
             </div>
                    
        <div class="col-xs-12 no-padding">
                 
                   <!--     <div class="animated fadeInTop col-xs-3 no-padding left white hoverable z-depth-3 card-panel teal" style="height:100px; width:120px; left: 20px; bottom: -20px; position: absolute;"> 
                      <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="img-responsive " > 
            </div>  -->
            <div class="animated fadeInTop col-xs-3 no-padding left" style="left: 20px; bottom: 30px; position: absolute;"> 
              <img  class="animated fadeInTop" ng-src="http://images.dev-winwins.net/x60/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left;
              border-radius: 3px;
              height: 99%;
              box-shadow: 2px 2px 3px #9DA09F;
              margin-bottom:10px;
              border: 3px solid #F1F1F1; bottom: -10px;" class="responsive-image">
        
        </div> 
            
            <div class="col-xs-12"></div>
           <div style="col-xs-6 text-transform: capitalize; font-size:16px;position: absolute; bottom:10px; color: white; left:15px;">  {{::sponsor.name}} 
      
        
        
        </div>
               
          
             </div>
              </div>
         
            <div class="col-xs-12 no-padding" style="height: 45px;">
                
                     
                          <div class="col-xs-3"> 
                                 <!--winwins sponsor count -->
                               <span class="h8 grey-text  center " style="padding-top:5px;">Winwins</span>
                             <p class=" green-text  center"><strong>{{::sponsor.winwins_count}}</strong> </p> 
                </div>
                              <!--followers sponsor count -->
                               <div class="col-xs-3 " style="padding-top:5px;"> 
                                   <span class="h8 grey-text  center">Seguidores</span>
                              <p class=" blue-text  center" > <strong>{{::sponsor.followers_count}}</strong>  </p>   
                               </div>
                          
                <button class="col-xs-4 white-text right waves-effect waves-light green ligthen-4 btn z-depth-0" style="height:100%;" ng-click="requestSponsor(sponsor)"> 
                    <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-o-right white-text animated infinite flash"></i><span style="font-size: 9px; color:white;"> Solicitar Patrocinio </span> </p></button>
           </div>

            
       
        </div>
                 

         </div>       
   
   
                <!--div class="container">
                    <div class="row">
                        <div class="buttons-profile">
                            <a  class="col s12 btn-large waves-effect waves-light"  ng-click="requestSponsor(sponsor)"> Solicitar Patrocinio </a>
                        </div>
                    </div>
                </div-->
            </div>
        </div>

    </div>


    <div ng-if="request_success">
        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> Perfecto!</h2>
                        <h5 style="font-family: montserrat; color:#444;"> Tu solicitud se ha enviado a {{sponsor_name}}</h5>  
                        <div class="pad-80"></div>
                        <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>

    </div>



</div>
