<div class="grid">
    <div class="grid-item">
      
        <div infinite-scroll='sponsors.nextPage()' style="margin-top:-25px;">
            <div class="col-xs-12 no-padding card-panel hoverable" style="margin-top:10px;" ng-repeat="sponsor in sponsors.items">

                <div class="col-xs-12 no-padding ng-click="view(sponsor.id)">
                    <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}" style="height: 220px;">
                        <div class="profile-avatar avatar">
                            <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="responsive-img" style="background-color: #fff; border-radius:50%; min-height:100px;" />
                        </div>
                        <div class="username">{{::sponsor.name}}</div>
                    </div>
                    <div class="container no-padding">

                        <div class="buttons-profile" style="margin-top:-70px;">
                            <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                            <a role="button" class="col-xs-5 btn-join" ng-show="sponsor.already_following" ng-click="unfollow()"> DEJAR DE SEGUIR</a>
                            <a role="button" class="col-xs-5 btn-join" ng-show="!sponsor.already_following" ng-click="follow()"> SEGUIR</a>
                            <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Solicitar Sponsoreo</h4>
      </div>
      <div class="modal-body">
        <p>Envía un mensaje de solicitud al sponsor.</p>
              
      <textarea class="form-control" name="" cols="" rows=""></textarea>
      <a href="#" role="button" class="col-xs-12 btn-join" data-toggle="modal" data-target="#myModal"> Solicitar Sponsoreo</a>

	      </div>

      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
