<section>
    <div class="row">
        <div class="col-xs-12 no-padding blue darken-3 z-depth-2">
            <div class="col-xs-12 center">
            <img src="../images/ww.png" width="70" style="margin:30px;" class="animated bounceInLeft" /></div>
          <h4 class="center white-text">CREA TU WINWIN</h4>   
            <h4 class=""
        </div>
    </div>

<div class="container card-panel teal" >

   <div class="col-xs-12"><p><br>Sube tu desafío de acción cooperativa (tu winwin)</span> y explica para qué es, cómo se logra y cuántos se necesitan para hacerlo realidad. Una acción cooperativa es una propuesta de beneficio mutuo que busca construir confianza colectiva y bienestar sustentable.</p></div>
</div>
</section>
<section>
   <div class="row">
        <div class="col-xs-12 no-padding orange darken-3 z-depth-2">
            <div class="col-xs-12 center">
      <i class="fa fa-users white-text" style="font-size: 30px;margin-top:20px;"></i>     <i class="fa fa-users white-text" style="font-size: 60px; margin: 10px; margin-top:20px;"></i>     <i class="fa fa-users white-text" style="font-size: 30px; ; margin-top:20px;"></i>   
          <h4 class="center white-text">SUMA PERSONAS</h4>   
           
        </div>
    </div>
<div class="container card-panel teal" >

 <div class="col-xs-12"><p><br>Cada persona que se suma puede invitar a otros, y así sucesivamente. Todos pueden participar de las conversaciones, subir imágenes y videos para promover el winwin, etc. El creador y los activadores del winwin pueden llamar la atención mediante Campanadas y dejar noticias en el Muro. Recibirás notificaciones para mantenerte al tanto de estas novedades.</div>
</div>

</div>


   <div class="row">
        <div class="col-xs-12 no-padding blue darken-3 z-depth-2">
            <div class="col-xs-12 center">
       <img src="../images/sponsor.png" width="70" style="margin:30px;" class="animated bounceInLeft" /></div>
            <h4 class="center white-text">CONSEGUI SPONSORS</h4>   
           
        </div>
    </div>
<div class="container card-panel teal" >

 <div class="col-xs-12"><p><br>Cada persona que se suma puede invitar a otros, y así sucesivamente. Todos pueden participar de las conversaciones, subir imágenes y videos para promover el winwin, etc. El creador y los activadores del winwin pueden llamar la atención mediante Campanadas y dejar noticias en el Muro. Recibirás notificaciones para mantenerte al tanto de estas novedades.</div>
</div>

</div>
</section>
<section>
 <div class="row">
        <div class="col-xs-12 no-padding orange darken-3 z-depth-2">
            <div class="col-xs-12 center">
       <img src="../images/sponsor.png" width="70" style="margin:30px;" class="animated bounceInLeft" /></div>
            <h4 class="center white-text">SE SPONSOR</h4>   
           
        </div>
    </div>
<div class="container card-panel teal" >

 <div class="col-xs-12"><p><br>Cada persona que se suma puede invitar a otros, y así sucesivamente. Todos pueden participar de las conversaciones, subir imágenes y videos para promover el winwin, etc. El creador y los activadores del winwin pueden llamar la atención mediante Campanadas y dejar noticias en el Muro. Recibirás notificaciones para mantenerte al tanto de estas novedades.</div>
</div>

</div>
</section>

<section>
 <div class="row">
        <div class="col-xs-12 no-padding blue darken-3 z-depth-2">
            <div class="col-xs-12 center">
      <i class="fa fa-users white-text" style="font-size: 60px; margin: 10px; margin-top:20px;"></i>   
          <h4 class="center white-text">CREA UN GRUPO</h4>   
           
        </div>
    </div>
<div class="container card-panel teal" >

 <div class="col-xs-12"><p><br>Cada persona que se suma puede invitar a otros, y así sucesivamente. Todos pueden participar de las conversaciones, subir imágenes y videos para promover el winwin, etc. El creador y los activadores del winwin pueden llamar la atención mediante Campanadas y dejar noticias en el Muro. Recibirás notificaciones para mantenerte al tanto de estas novedades.</div>
</div>

</div>
    </section>




<section>

 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="scrollup btn-floating btn-large center green darken-2">
      <i class="fa fa-arrow-up"></i>
    </a>
  </div>
        
</section>


<script>
 $('.fixed-action-btn').openFAB();</script>

<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });

    $('.scrollup').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});</script>