.navbar-default{
	background-color: #1862c2;

	.navbar-brand,
	.navbar-nav > li > a{
		color: white;
	}

	.navbar-brand:hover,
	.navbar-brand:focus{
		color: black;
	}

	.navbar-brand{
		background-image: url("../images/navbar-logo.png");
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 90%;
		width: 138px;
	    height: 50px;
	}
	
	.navbar-nav > .active{
		> a,
		> a:hover,
		> a:focus{
			background-color: #134d99;
			color: white;
		}
	}

	.navbar-toggle:hover, 
	.navbar-toggle:focus {
    	background-color: #3276c9;
    }

    .navbar-toggle {
    	border-color: white;
    	background-color: #1862c2;
    	
    	.icon-bar {
    		background-color: white;
		}
	}

}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

	iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}