.winwin-splash {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 600px;
    overflow: hidden;

	.description {
	    background-color: rgba(0,0,0,0.75);
	    color: white;
	    text-align: center;
	    padding: 5px;
	    width: 100%;
	    min-height: 50px;
	    display: table;

		.title {
		    width:80%;
			text-align:left;
			display: table-cell;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			word-wrap: break-word;
		}
	
		.buttons {
		    display: table-cell;
		    width:18%;
			text-align:right;
			color: grey;

			i{
				margin-left: 5px;
			}

			.fa-star{
				color: #FFFF00;
			}

			.fa-bookmark{
				color: #FE8000;
			}
		}
	}


	.somos {
		display: block;

		/*background-color: rgba(255,0,0,0.2);*/
		width: 33%;
		height: 60px;

		position: absolute;
		bottom: 100px;
		right: 0px;
		padding: 5px;

		color: white;
	    text-align: right;
	    margin-right: 20px; 

	    button{
	    	min-width: 115px;
	    }

    	button:before{
			display: block;
			font-size: 70%;
			margin-top: 3px;
			font-weight: bold;
		}

    	.subscribed,
		.subscribed:hover,
		.subscribed:focus{
			color: white;
			background-color: #56AB01;
    	}

		.subscribed:before {
			content:"SOMOS";
		}

	}

	.information {
	    /*background-color: rgba(0,0,0,0.2);*/
	    color: white;
	    text-align: center;
	    clear: both;
	    padding:5px;
	    height: 60px;
	    position: absolute;
	    bottom: 25px;
	    width: 100%;


		.quedan {
			width: 33%;
			float: left;

			button{
				width: 30%;
				max-width: 70px;
				text-align: center;
			}

			button:before{
				display: block;
				font-size: 50%;
				margin-top: 3px;
				font-weight: bold;
			}

			.days,
			.days:hover,
			.days:focus{
				color: white;
				background-color: #FA555A;
			}

			.days:before {
				content:"DIAS";
			}

			.hours,
			.hours:hover,
			.hours:focus{
				color: white;
				background-color: #2DCB74;
			}

			.hours:before {
				content:"HORAS";
			}


			.minutes,
			.minutes:hover,
			.minutes:focus{
				color: white;
				background-color: #F6BC58;
			}

			.minutes:before {
				content:"MINUTOS";
			}

		}

		.faltan {
			width: 25%;
			float: right;
	    	text-align: right;
	    	margin-right: 20px;

		    button{
		    	min-width: 115px;
		    }

	    	button:before{
				display: block;
				font-size: 70%;
				margin-top: 3px;
				font-weight: bold;
			}

	    	.missing,
			.missing:hover,
			.missing:focus{
				color: white;
				background-color: #3276C9;
	    	}

			.missing:before {
				content:"NOS FALTAN";
			}
		}

		.social {
			width: 33%;
			float: left;
			min-width: 160px;
			margin-top: 7px;

			i{
				width: 50px;
				height: 50px;
				text-align: center;
				padding-top: 5px;
				border: solid 1px transparent;
				cursor: pointer; 
			}

			i::before{
				vertical-align: middle;
				padding-bottom: 3px;
			}

			.fa-envelope{
				color: white;
				background-color: #3F59FF;
				border-bottom: thick solid #1F4F7F;
			}

			.fa-twitter{
				color: white;
				background-color: #55acee;
				border-bottom: thick solid #3276c9;
			}

			.fa-facebook{
				color: white;
				background-color: #3b5998;
				border-bottom: thick solid #1f497c;
			}

		}

	}

}

.ww-text{
	color: #727272;
	margin: auto;
	text-align: center;
	max-width: 600px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 125%;

	.how-many{
		color: white;
		padding: 0 4px;
		background-color: #fd7e01;
	}
}

@media screen and (max-width: 599px) {
	.winwin-splash {

		button{
			padding: 10px 5px;
		}

		min-height: 320px;
		overflow: visible;
		margin-bottom: 155px;

		.information{
			bottom: -65px;

			.quedan{
				text-align: right;
				float: right;
				width: 50%;
			}
			
			.social{
				text-align: left;
				float: left;
				width: 50%;
			}

			.faltan{
				text-align: left;
				margin-top: 10px;
				display: block;
				float: left;
			}
		}

		.somos{
			bottom: -132px;
			width: inherit;
			
			.subscribed {
				float: left;
				margin-left: 145px;
			}
		}

	}
}
