<div class="container no-padding">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-big bb hoverable" style="background-color:#1762C3; padding-left:10px; padding-right:10px;">
            ¡Bienvenido! <br> ¿Que queres hacer ahora?
        </div>
    </div>
</div>
<div ng-if="!isAuthenticated()" class="container como-funciona">
    <div class="col-xs-12">
        <h5>Crear una cuenta o Ingresar</h5>
        <a ng-href="/#/signup" class="col-xs-5 btn-large green"> CREA </a>
                <a ng-href="/#/signin" class="col-xs-1 black-text"></a>
        <a ng-href="/#/signin" class="col-xs-5 btn-large grey">  INGRESA</a>

    </div>
</div>

<div class="container como-funciona">
    <div class="col-xs-12">
           <h5>Comenzá o sumate a un WinWin.</h5>
        <a ng-href="/#/winwin-new" class="text-white waves-effect waves-light col-xs-5 btn-large green ">COMENZAR </a>
                        <a ng-href="/#/signin" class="col-xs-1 black-text"></a>
        <a ng-href="/#/winwin-list" class="text-white waves-effect waves-light col-xs-5 btn-large grey">SUMARSE</a>
    </div>
</div>
<div class="container como-funciona">
    <div class="col-xs-12 ">
        <h5>Formá un grupo o unite</h5>
        <a ng-href="/#/group-new" class="waves-effect waves-light btn-large green text-white col-xs-5 ">   CREAR </a>
        <a ng-href="/#/signin" class="col-xs-1 black-text"></a>
        <a ng-href="/#/group-list" class="waves-effect waves-light grey btn-large text-white col-xs-5">   UNIRSE </a>
    </div>
</div>
</div>
    <div class="pad-20 como-funciona "></div>
        <div class="pad-30 como-funciona"></div>
<div class="container como-funciona">
    <div class="col-xs-1"></div>
    <a ng-href="/#/sponsor-new" class="col-xs-10 btn-grey">  <i class="fa fa-star"></i> CONVERTITE EN SPONSOR</a>
    <div class="col-xs-1"></div>
</div>
        <div class="pad-20"></div>
<div class="container como-funciona">
    <div class="col-xs-1"></div>
    <a ng-href="/#/how" class="col-xs-10 btn-grey"> ¿COMO FUNCIONA? </a>
    <div class="col-xs-1"></div>
</div>


