<!--
<div>
    <div class="container" ng-repeat="item_post in comments">

        <div class="row">
            <div class="panel-body post">
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-3 no-padding text-center">
                            <img ng-src="http://images.dev-winwins.net/38x38/{{::item_post.user.detail.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                            <span class="nombre"> {{item_post.name}} </span>
                            <span class="date">{{::item_post.created_at | moment: 'DD/MM/YYYY'}}</span>
                        </div>
                        <div class="col-xs-9 no-padding-left">
                            <p class="p-lista" style="">
                                {{::item_post.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-post"> </div>
            <div ng-show="item_post.media.type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{::item_post.media.id}}.{{::item_post.media.ext}}" style="height:220px;">
            </div>
            <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" max-height="220">
                <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(item_post.media.path)}}" allowfullscreen=""></iframe>
            </div>

            <div class="container  buttons-post">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2"> <i class="fa fa-thumbs-o-up"  style="cursor:pointer;" ng-click="voteUp(post)"></i> <span class="post-likes"> 10</span></div>
                    <div class="col-xs-2"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"  style="cursor:pointer;" ng-click="voteDown(post)"></i><span class="post-likes-"> 10</span></div>
                    <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="!item_post.isReplying" ><span class="comments-ico" ng-click="reply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="item_post.isReplying" ><span class="comments-ico" ng-click="cancelReply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-1"></div>
                </div>
            </div>

            <div class="container comments-box" ng-show="item_post.isReplying">
                <div class="col-xs-2 post-image"><img src="img/profile.png" class="img-circle-simple" width="38" height="38"></div>
                    <div class="col-xs-6 ">
                        <div class="bubbles">
                            <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
                        </div>
                    </div>
                    <a href="#" role="button" class="col-xs-2 button-send"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
                    <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-youtube"></i></a>
                    <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-camera-retro"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container comments-box">
        <div class="col-xs-2 post-image">
            <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
        </div>
        <div class="col-xs-6 ">
            <div>

                <textarea class="postbox" placeholder="Postear acá" rows="4" ng-model="post.content" no-resize ng-required="true" ng-focus="max_size()" > </textarea>
            </div>
        </div>
        <a href="#" role="button" class="col-xs-2 button-send" ng-click="submitPost()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
        <a href="#" role="button" class="col-xs-1 upload-post" ng-click="setVideoUrl()"><i class="fa fa-youtube"></i></a>
        <a href="#" role="button" type="file" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB"><i class="fa fa-camera-retro"></i></a>
    </div>

</div>

-->

<div class="panel panel-default">
    <div class="panel-heading no-padding">
        <div class="col-xs-12 no-padding">
            <div ng-show="!editing_conversation" class="col-xs-offset-9">
                <span class="btn btn-success block-right" ng-click="newConversation()">Nueva Conversación</span> 
            </div>
            <div ng-show="editing_conversation" class="new-conversation col-xs-12 no-padding">
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                    <input type="text" ng-model="conversation.title" ng-required="true" style="width:100%" placeholder="Titulo"/>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                    <textarea class=""  rows="2" ng-model="conversation.content" no-resize ng-required="true" style="width:100%" placeholder="">
                    </textarea>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                   <span class="btn btn-success pull-right"  ng-click="submitConversation()" style="font-size:10px!important;">ENVIAR</span>
                   <span class="btn pull-right"  ng-click="cancelConversation()" style="font-size:10px!important;">CANCELAR</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body no-padding col-xs-12">
        <ul ng-repeat="comment in comments" class="media-list no-padding col-xs-12" style="padding-top: 30px;">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{comment.photo}}" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.title}}</h4>
                    <p>{{comment.content}}</p>
                    <p class="small">
                        {{comment.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                    </p>

                    <div ng-show="comment.replies.length" class="media" ng-repeat="reply in comment.replies">
                        <div class="media-left">
                            <a href="#">
                                <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{reply.photo}}" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                            </a>
                        </div>
                        <div class="media-body">
                            <p>{{reply.content}}</p>
                            <p class="small">
                                {{reply.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 no-padding">
                    <div ng-if="!comment.editing_reply" class="col-xs-offset-9">
                        <span class="btn btn-success pull-right" ng-click="newReply(comment)">Responder</span> 
                    </div>
                    <div ng-if="comment.editing_reply" class="new-conversation col-xs-12 no-padding">
                        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                            <textarea class=""  rows="2" ng-model="reply.content" no-resize ng-required="true" style="width:100%" placeholder="">
                            </textarea>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1" style="padding-top: 10px;">
                           <span class="btn btn-success pull-right"  ng-click="submitReply(comment)" style="font-size:10px!important;">ENVIAR</span>
                           <span class="btn pull-right"  ng-click="cancelReply(comment)" style="font-size:10px!important;">CANCELAR</span>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>

