<div ng-if="isAuthenticated()">
    <div class="col-xs-12 no-padding portada" style="background-color:red">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/HlAxAciOeP8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 no-padding title-home back-winwin border-bottom">
        <span ng-click="newWinwin()" style="text-decoration: none!important">comenzar ahora!</span>
    </div>

    <div class="col-xs-12 no-padding"  ng-repeat="winwin in winwins">
        <div class="col-xs-4 img-misc no-padding">
            <img ng-src="http://images.dev-winwins.net/120x106/{{::winwin.image}}" />
            <div class="somos">
                <span class="title-somos">Somos</span>
                <span class="num-somos">{{::winwin.users_already_joined}}</span>
            </div>
            <div class="somos">
                <span class="title-faltan">Faltan</span>
                <span class="num-faltan">{{::winwin.users_left}}</span>
            </div>
        </div>
        <div class="col-xs-6 no-padding-left">
            <h5 class="title-destacados">
                {{::winwin.title}}
            </h5>
            <p class="text-destacados">
                <b>Si supieras</b> que somos {{::winwin.users_amount}} para {{::winwin.what_we_do | characters: 140}}
            </p>
        </div>
        <div class="col-xs-2 no-padding">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-4 no-padding btn-somos">
                    <button type="button" class=" no-padding">
                        <i class="fa fa-envelope-o fa-6"></i>
                    </button>
                </div>
                <div class="col-xs-4 no-padding btn-somos">
                    <button type="button" class="twitter no-padding" socialshare
                        socialshare-provider="twitter"
                        socialshare-text="Sumate!"
                        socialshare-url="http://dev-winwins.net/winwin/{{::winwin.id}}"
                        socialshare-media="http://images.dev-winwins.net/120x106/{{::winwin.image}}">
                        <i class="fa fa-twitter fa-6"></i>
                    </button>
                </div>
                <div class="col-xs-4 no-padding btn-somos">
                    <button type="button" class="facebook no-padding" socialshare
                        socialshare-provider="facebook"
                        socialshare-text="Sumate!"
                        socialshare-url="http://dev-winwins.net/winwin/{{::winwin.id}}"
                        socialshare-media="http://images.dev-winwins.net/120x106/{{::winwin.image}}">
                        <i class="fa fa-facebook fa-6"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-12 no-padding me-interesa">
                <a ng-href="/winwin-view/{{winwin.id}}" class="btn btn-interesa border-bottom">Me Interesa</button>
            </div>
            <div class="col-xs-12 no-padding me-sumo text-right">
                <button type="button" class="btn btn-sumo" ng-click="join(winwin.id)">Me <br> Sumo</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="!isAuthenticated()">
    <div class="container">
        <div class="col-xs-12 msj-bienvenida back-winwin border-bottom ">
            <h1 class="txt-welcome text-center">
                El primer paso es el más simple y el más importante
            </h1>            
        </div>
        <div class="col-xs-12 back-grey text-center" style="padding:0;">
            <div class="col-xs-12" style="margin-top:20px; border-bottom:2px solid #FFF;">
                Ingresá a tu cuenta o crea una nueva.
                <div style="margin: 15px 0;">
                    <a ng-href="/signin" class="btn btn-danger btn-primary">Ingresar</a>
                    <a ng-href="/signup" class="btn btn-danger btn-second btn-primary">crear cuenta</a>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top:20px; border-bottom:2px solid #FFF;">
                Creá o Sumáte a un WinWin
                <div style="margin: 15px 0;">
                    <a ng-href="/winwin-new" class="btn btn-danger btn-primary">crear winwin</a>
                    <a ng-href="/winwin-list" class="btn btn-danger btn-second btn-primary">sumate a un ww</a>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top:20px; border-bottom:2px solid #FFF;">
                Creá o Unite a un Grupo
                <div style="margin: 15px 0;">
                    <a ng-href="/group/new" class="btn btn-danger btn-primary">crear un grupo</button>
                    <a ng-href="/group/list" class="btn btn-danger btn-second btn-primary">unirme</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-push-1 last-object" style="margin-top:20px;">
        <a ng-href="/sponsor/new" class="btn btn-default btn-sponsor"> Convertite en Sponsor </a>
    </div>
</div>
