<div class="videowrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HlAxAciOeP8" frameborder="0" allowfullscreen></iframe>
</div>
<ul class="list-group winwins-list">
  <li class="list-group-item" ng-repeat="winwin in winwins">
  	<div class="row">
  		<div class="ww-img col-md-2 col-sm-3 col-xs-4"><img src="../images/placeholder-square.jpg"/></div>
  		<div class="ww-description col-md-8 col-sm-7 col-xs-8">{{winwin.description}}</div>
  		<div class="ww-buttons col-md-2 col-sm-2 col-xs-12">
  			<div class="btn-row1">
	  			<button type="button" class="col-xs-4 btn fa fa-lg fa-envelope"/>
	  			<button type="button" class="col-xs-4 btn fa fa-lg fa-twitter"/>
	  			<button type="button" class="col-xs-4 btn fa fa-lg fa-facebook"/>
  			</div>
  			<div class="btn-row2">
                <a ng-href="#/winwin-view/{{winwin.id}}" class="col-sm-12 btn btn-interest" role="button">Me interesa</a>
  			</div>
  			<div class="btn-row3">
  				<button type="button" class="col-sm-12 btn btn-success">Me sumo!</button>
  			</div>
  	 </div>
    </div>
  </li>

</ul>
