<style>
   body {
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #1976D2;
   }
</style>
<div ng-show="show_signup">
    <form method="post" ng-submit="signup()" name="signupForm" style="background-color: #1976D2;">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <H3 class="white-text center">¡BIENVENIDO! </h3>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="container" style="max-width: 480px; 
                          background: -moz-linear-gradient(top, rgba(255,255,255,0.98) 23%, rgba(255,255,255,0.98) 24%, rgba(255,255,255,0.74) 71%, rgba(255,255,255,0.74) 99%, rgba(255,255,255,0.74) 100%); 
                          background: -webkit-linear-gradient(top, rgba(255,255,255,0.98) 23%,rgba(255,255,255,0.98) 24%,rgba(255,255,255,0.74) 71%,rgba(255,255,255,0.74) 99%,rgba(255,255,255,0.74) 100%); 
                          background: linear-gradient(to bottom, rgba(255,255,255,0.98) 23%,rgba(255,255,255,0.98) 24%,rgba(255,255,255,0.74) 71%,rgba(255,255,255,0.74) 99%,rgba(255,255,255,0.74) 100%); 
                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffffff', endColorstr='#bdffffff',GradientType=0 ); 
                          padding: 20px;
                          box-shadow: 3px 3px 10px black;
                          border-radius: 5px;">
                            <div class="col s12">
                                <div class="row"> 
                                    <div class="input-field col s12 form-group" ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid ,  'has-success': signupForm.name.$touched && signupForm.name.$valid }">
                                        <input id="nombre" name="name" type="text" length="20"  class="validate" ng-model="name" required>
                                        <label for="password">Nombre</label>
                                        <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched" class="help-block">
                                            <p class="small" ng-message="required">Ingresa tu nombre.</p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 form-group" ng-class="{ 'has-error': signupForm.lastname.$touched && signupForm.lastname.$invalid ,  'has-success': signupForm.lastname.$touched && signupForm.lastname.$valid }">
                                        <input id="apellido" name="lastname" type="text" length="20"  class="validate" ng-model="lastname" required="required">
                                        <label for="apellido">Apellido</label>
                                        <div ng-messages="signupForm.lastname.$error" ng-if="signupForm.lastname.$touched" class="help-block">
                                            <p class="small" ng-message="required">Ingresa tu apellido.</p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 form-group" ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid ,  'has-success': signupForm.email.$touched && signupForm.email.$valid }">
                                        <input id="email" name="email" type="email" length="20"  class="validate" ng-model="email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
                                        <label for="email">Email</label>
                                        <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched" class="help-block">
                                            <p class="small" ng-message="required">Ingresa tu correo.</p>
                                            <p class="small" ng-message="invalid">Correo erróneo.</p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password" type="password" length="20"  class="validate" ng-model="password" required="required">
                                        <label for="password">Contraseña</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="rpassword" type="password" length="20"  class="validate"  ng-model="confirmPassword" required="required"  compare-to="password">
                                        <label for="password">Repeti Contraseña</label>
                                    </div>
                                    <div class="pad-20"></div>
                                    <div class="input-field col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                        <label for="filled-in-box">Acepto los términos y condiciones.</label>
                                    </div>
                                    <button class="col s12 waves-effect waves-light btn-large" type="submit" ng-disabled="loginForm.$invalid" name="action">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pad-10"></div>
    </form>
    <div class="container">
       <div class="row">
          <H4 class="white-text text-lighten-6" style="text-align:center;"><i class="fa fa-sign-in"></i>
             O  INGRESA CON  
          </h4>
       </div>
    </div>
    <!-- social login -->   
    <div class="container">
       <div class="row">
          <div class="col-md-offset-4 col-md-1 col-xs-3"><a class="i" ng-click="authenticate('facebook')" ><i class="fa fa-facebook" style="background-color: #3B5998;
             font-size: 2rem;
             padding: 15px 20px;
             border-radius: 50%;
             "></i></a></div>
          <div class="col-md-1 col-xs-3"><a class="i" ng-click="authenticate('twitter')" ><i class="fa fa-twitter" style="background-color:  #54ABEE;
             font-size: 2rem;
             padding: 15px 15px;
             border-radius: 50%;
             "></i></a></div>
          <div class="col-md-1 col-xs-3"><a class="i" ng-click="authenticate('google')" ><i class="fa fa-google" style="background-color: #D50F25;
             font-size: 2rem;
             padding: 15px 20px;
             border-radius: 50%;
             "></i></a></div>
          <div class="col-md-1 col-xs-3"><a class="i" ng-click="authenticate('yahoo')" ><i class="fa fa-yahoo" style="background-color: #3B5998;
             font-size: 2rem;
             padding: 15px 15px;
             border-radius: 50%;
             "></i></a></div>
          <div class="col-md-offset-4"></div>
       </div>
    </div>
    <!---->  
    <div class="pad-20"></div>
    <div class="container">
       <div class="row">
          <H5 class="white-text text-lighten-6" style="text-align:centeR;;"><i class="fa fa-sign-in"></i>
             YA TENES CUENTA? <a style="background-color:#FF8000; padding: 4px; border-radius:2px;" ng-href="/#/login" ng-if="!isAuthenticated()">  INGRESÁ </a>
          </h5>
       </div>
    </div>
    <!---->  
    <!--  footer -->  
    <div class="footer-copyright center">
       <h6 style="font-size:10px; color: orange;">   © 2015 - Humanet - WinWins.Org- </span> Acuerdos en Acción</h6>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
             <h6 style="text-align: center; font-family: montserrat; font-size: 9px;">Winwins 2.0 - <a style="color: #FFF; padding-top: 3px;"  ui-sref="terms">Política de Privacidad</a> </h6>
          </div>
          <div class="col-sm-4"></div>
       </div>
    </div>
</div>
    <!--/ footer -->
<div class="container" ng-show="redirect_message">
    <div class="row">
        <div class="pad-20"> </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div style="text-align: center;">
                <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                <h1 style="font-family: montserrat; letter-spacing: -3px; color:#fff;" ng-if="!provider"> ¡Genial! </h1>
                <h1 style="font-family: montserrat; letter-spacing: -3px; color:#fff;" ng-if="provider"> ¡Ingresaste con {{provider}}! </h1>
                <h4 style="font-family: montserrat; letter-spacing: -1px; color:#fff;" ng-if="!provider"> Te hemos enviado un mail de confirmación.</h4>
                <div class="pad-80"></div>
                <div class="spinner"></div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</div>
