<form method="post" ng-submit="signup()" name="signupForm">
    <div class="container">
        <h1 class="txt-welcome text-center title-color">
            Registrate
        </h1>
        <h5 class="text-center" style="color:#9f9f9f;">
            Completa el formulario rápido de registro
        </h5>
        <div class="form-group no-padding mb-0 mt-0 col-xs-12" style="margin:20px 0"  ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid ,  'has-success': signupForm.name.$touched && signupForm.name.$valid }">
            <input type="text" class="form-control input-lg" placeholder="Nombre" aria-describedby="basic-addon1" name="name" ng-model="name" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$valid "></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$invalid "></span>
            <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched" class="help-block">
                <p ng-message="required">El nombre es requerido.</p>
            </div>
        </div>
        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin-top:20px;">
            <input type="text" class="form-control input-lg" placeholder="Apellido" aria-describedby="basic-addon1" name="lastname" ng-model="lastname">
        </div>
        <!--h5 class="text-center" style="color:#9f9f9f;">
            Tu Fecha de Nacimiento
        </h5-->
        <div class="col-xs-12  no-padding mb-20">
        </div>

        <div class="form-group no-padding mb-0 mt-0 col-xs-12 "  ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid ,  'has-success': signupForm.email.$touched && signupForm.email.$valid}">
            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Tu E-mail" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  aria-describedby="basic-addon1" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$valid "></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$invalid "></span>
            <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched" class="help-block">
                <p ng-message="required">El correo es requerido.</p>
                <p ng-message="email">El correo no es correcto.</p>
            </div>
        </div>
        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin:20px 0"  ng-class="{ 'has-error': signupForm.password.$touched && signupForm.password.$invalid ,  'has-success': signupForm.password.$touched && signupForm.password.$valid}">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Contraseña" required  aria-describedby="basic-addon1" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$valid "></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$invalid "></span>
            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched" class="help-block">
                <p ng-message="required">La clave es necesaria.</p>
            </div>
        </div>
        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin:20px 0"  ng-class="{ 'has-error': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$invalid ,  'has-success': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$valid}">
            <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirmar Contraseña" aria-describedby="basic-addon1" required>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$valid "></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$invalid "></span>
            <div ng-messages="signupForm.confirmPassword.$error"  ng-if="signupForm.confirmPassword.$touched" class="help-block">
                <p ng-message="required">La confirmacion de clave es necesaria.</p>
            </div>
        </div>

        <div class="col-xs-10 col-xs-push-1" style="margin-top:20px;">
            <button type="submit" ng-disabled="signupForm.$invalid,  'has-success': signupForm.name.$touched && signupForm.name.$valid" class="btn btn-lg btn-block btn-primary">
                Registrar
            </button>
        </div>

    </div>
</form>

<div class="col-xs-10 col-xs-push-1" style="margin-top:20px;">
    <h5 class="text-center blue-color">
        o
    </h5>
</div>

<div class="container last-object">
    <div class="col-xs-12 no-padding">
        <h1 class="txt-welcome text-center title-color">
            Accedé con 1 click
        </h1>
        <h5 class="text-center">
            Accedé a WW con tu red social preferida.
        </h5>
        <div class="col-xs-12">
            <button type="button" class="btn-social facebook fix-social-landscape"  ng-click="authenticate('facebook')">
                <i class="fa fa-facebook fa-6"></i>
            </button>
            <button type="button" class="btn-social twitter" ng-click="authenticate('twitter')">
                <i class="fa fa-twitter"></i>
            </button>
            <button type="button" class="btn-social google" ng-click="authenticate('google')">
                <i class="fa fa-google-plus"></i>
            </button>
            <button type="button" class="btn-social yahoo" ng-click="authenticate('yahoo')">
                <i class="fa fa-yahoo"></i>
            </button>

        </div>
    </div>
</div>

