
<div class="page page-profile" data-ng-controller="regions-view">

    <header class="profile-header">

            <h1 class="text-center">{{region.name}}</h1>

            <span class="btn btn-danger pull-right" ng-click="edit(region.id)">Editar</span>
    </header>


    <div class="panel panel-default" data-ng-controller="competitions-list">
        <div class="panel-header">
            <h3 class="section-header">Torneos</h3>
            <span class="btn btn-primary pull-right" ng-click="createCompetition()">Crear</span>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4" ng-repeat="competition in competitions">
                        <div class="card bg-white">
                            <div class="card-image" style="min-height:135px">
                                <img ng-src="http://images.collab-dev.com/600x400/smart/slam/{{competition.cover_photo}}">
                                <span class="card-title">{{competition.title}}</span>
                            </div>
                            <div class="card-content">
                                <a class="card-button pull-right" href="javascript:;">
                                    <button class="btn btn-icon btn-icon-round btn-floating btn-danger">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                </a>
                                <p>{{competition.description}}</p>
                                <p>{{competition.event_date}}</p>
                            </div>
                            <div class="card-action">
                                <span class="btn btn-primary" ng-click="view(competition.id)">Ver</span>
                                <span class="btn btn-secondary" ng-click="edit(competition.id)">Editar</span>
                            </div>
                        </div>            
                    </div>




                </div>
            </div>
        </div>
    </div>
 
</div>

