<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-md">
            <i class="fa fa-envelope-o"></i><br>CONTACTANOS
        </div>
    </div>
</div>

<br>

<div class="container como-funciona" >

    <div class="form-back create-id">

        <div class="pad-10"></div>
        <div class="bubble-xs">Nombre </div>
        <input name="" class="form-control"type="text"  placeholder="Tu nombre">

        <div class="pad-10"></div>
        <div class="bubble-xs">Apellido </div>
        <input name="" class="form-control"type="text" placeholder="Tu apellido">

        <div class="pad-10"></div>
        <div class="bubble-xs">Email </div>
        <input name="" class="form-control"type="text"  placeholder="Tu email">

        <div class="pad-10"></div>
        <div class="bubble-xs">Mensaje </div>
        <textarea name="" class="form-control" cols="" rows="5" placeholder="Escribi tu mensaje"></textarea>

        <div class="pad-10"></div>
        <div class="pad-10"></div>
        <div class="form-back  create-id">
            <input name="crear-winwin" value="ENVIAR" type="button" class="submit-create">  
        </div>
    </div>

</div>

