<div style="padding-top:45px;"></div>
<nav>
    <div class="nav-wrapper">
      <ul>
        <li><a href ng-click="filter('all')"  ng-class="{active: current == 'all'}">Todos</a></li>
        <li>   <a href ng-click="filter('follower')" ng-class="{active: current == 'follower'}">Seguidores</a></li>
          <li>   <a href ng-click="filter('following')" ng-class="{active: current == 'following'}">Seguidos</a></li>
      </ul>
    </div>
  </nav>

 





        <div class="col-xs-12 no-padding grid-participantes">

           <div ng-repeat="participante in followers" class="participante-item col-xs-12 no-padding follower" ng-class="{odd: $odd}">
                <div class="col-xs-12 no-padding" ng-click="view(participante.user_id)">
                       <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{participante.detail.cover_photo}}" style="height: 220px;" ng-click="viewParticipante(participante)">
                 <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                            <img ng-src="http://images.dev-winwins.net/smart/{{::participante.photo}}" class="img-circle"  style="min-height: 95px;margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                        </div>    <h4 class="center white-text">{{::participante.name}} {{::participante.lastname}} </h4>    
                        <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                            <h4> 
                                 
                            </h4>
                      
                        </div>
                    </div>
                    </div>
                </div>
               

            </div>

            <div ng-repeat="participante in following" class="participante-item col-xs-12 no-padding following" ng-class="{odd: $odd}">
                <div class="col-xs-12 no-padding" ng-click="view(participante.user_id)">
                     <div class="col-xs-12 no-padding" ng-click="view(participante.user_id)">
                       <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{participante.detail.cover_photo}}" style="height: 220px;" ng-click="viewParticipante(participante)">
                 <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                            <img ng-src="http://images.dev-winwins.net/smart/{{::participante.photo}}" class="img-circle"  style="min-height: 95px;margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                        </div>    <h4 class="center white-text">{{::participante.name}} {{::participante.lastname}} </h4>    
                        <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                            <h4> 
                                 
                            </h4>
                      
                        </div>
                    </div>
                    </div>
            </div>    
       </div>

<!-- search -->
<div id="footer-s" data-ng-controller="main-search-controller">
   <a class="scrollup to-top center orange darken-4 z-depth-0">
      <i class="fa fa-arrow-up" style="margin-top:5px;" ></i>
    </a>
    <nav class="z-depth-3" style="height:60px;">
        <div class="nav-wrapper  blue darken-4 z-depth-3">
            <form>
                <div class="col-xs-12 ">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..."  style="margin:0px;"    ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
                        <!-- I've put "red-text" class to emphasize -->
                        <button class="fa fa-search bar right blue darken-4 waves-effect btn clean z-depth-0" style="font-size: 19px;" id="query" ng-click="search()"></i>


                    </div>
            </form>
                                    </nav>

        </div> </div> </div>

<script>
    $(function() {
        $(window).scroll(function() {
            if ($(document).scrollTop() > 150) {
                $('#footer-s').addClass("show");
            } else {
                $('#footer-s').removeClass("show");
            }
        });
    })
</script>


