        <div class="col-xs-12 row no-padding" role="group" aria-label="...">
            <button type="button" ng-click="filter('all')" class="btn btn-default col-xs-4" ng-class="{active: current == 'all'}">Todos</button>
            <button type="button" ng-click="filter('follower')" class="btn col-xs-4 btn-default" ng-class="{active: current == 'follower'}">Seguidores</button>
            <button type="button" ng-click="filter('following')" class="btn  col-xs-4 btn-default" ng-class="{active: current == 'following'}">Seguidos</button>
        </div>

 
        <div class="col-xs-12 no-padding grid-participantes">

           <div ng-repeat="participante in followers" class="participante-item col-xs-12 follower" ng-class="{odd: $odd}">
                <div class="col-xs-12 no-padding" style="margin:12px 0;" ng-click="view(participante.user_id)">
                    <div class="col-xs-4 no-padding">
                        <img ng-src="http://images.dev-winwins.net/120x106/{{::participante.photo}}" class="img-responsive img-circle img-no-border" />
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h5 class="title-destacados sponsor">
                            {{::participante.name}} {{::participante.lastname}}
                        </h5>
                        <p class="text-destacados lista">
                            {{::participante.about}}
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 no-padding shadow-border">
                    <div class="col-xs-3 col-xs-push-2 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    </div>
                    <div ng-show="!participante.my_self">
                        <div ng-show="!participante.following" class="btn col-xs-3 col-xs-push-3 btn5 btn-follow no-padding" style="padding-top: 12px!important;"  ng-click="follow(participante)">
                            Seguir
                        </div>
                        <div ng-show="participante.following" class="btn col-xs-3 col-xs-push-3 btn5 no-padding" style="padding-top: 12px!important;"  ng-click="unfollow(participante)">
                            Siguiendo
                        </div>
                    </div>
                </div>

            </div>

            <div ng-repeat="participante in following" class="participante-item col-xs-12 following" ng-class="{odd: $odd}">
                <div class="col-xs-12 no-padding" style="margin:12px 0;" ng-click="view(participante.user_id)">
                    <div class="col-xs-4 no-padding">
                        <img ng-src="http://images.dev-winwins.net/120x106/{{::participante.photo}}" class="img-responsive img-circle img-no-border" />
                    </div>
                    <div class="col-xs-6 no-padding-left">
                        <h5 class="title-destacados sponsor">
                            {{::participante.name}} {{::participante.lastname}}
                        </h5>
                        <p class="text-destacados lista">
                            {{::participante.about}}
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 no-padding shadow-border">
                    <div class="col-xs-3 col-xs-push-2 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
                    </div>
                    <div ng-show="!participante.my_self">
                        <div ng-show="participante.following" class="btn col-xs-3 col-xs-push-3 btn5 no-padding" style="padding-top: 12px!important;"  ng-click="unfollow(participante)">
                            Dejar de Seguir
                        </div>
                    </div>
                </div>
            </div>

            
            

<div id="footer" data-ng-controller="main-search-controller">

<nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
             <label for="search"><i class="fa fa-search" style="font-size: 1.6rem;"></i><span style="font-family: montserrat; color: #fff;">Buscá Miembros</label>
          <input id="query"  type="search" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
         
          <i class="fa fa-close"></i>
        </div>
      </form>
    </div>
  </nav>
  </div>
    
       </div>
            
            
            

<div id="fade">
<button id="downClick" class="btn-floating blue darken-3 z-depth-3 animated infinite pulse down-arrow waves-effect"><i class="fa fa-arrow-down animated infinte flash"></i></button>
    </div>
</div>
  <!-- Modal Sharer-->
    
  <script type="text/ng-template" id="winwinShareModal.html">
    <div class="container center">
        <i class="fa fa-elipsis" style="font-size: 2rem;color:#3B5998;"></i>
        <i class="fa fa-bullhorn " style="font-size: 50px; background-color:  #3B5998; color: #FFF; padding: 20px; width:101%;"></i>
        <i class="fa fa-caret-down " style="font-size: 3rem;margin-top:-23px; color:#3B5998;"></i>
    </div>

    <div class="container no-padding">
        <div class="col-xs-1 no-padding"></div>
        <div style="cursor:pointer; background-color:#3b5998; color:#fff;  margin-top:1px;margin-right:3px;" class="col-xs-3 animated  wobble uploaders card-panel circle" socialshare socialshare-provider="facebook" socialshare-text="{{::toShare.content}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}" socialshare-via="1082199191794840">
            <i class="fa fa-facebook" style="padding-top:0px;"></i>
            <br>
        </div>
        <div style="cursor:pointer ;background-color:#1dcaff; color:#fff;margin:3px;" class="col-xs-3  animated  wobble uploaders card-panel" socialshare socialshare-text="{{::toShare.content}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" socialshare-provider="twitter">
            <i class="fa fa-twitter" style="padding-top:0px;"></i>
            <br>
        </div>
        <div style="cursor:pointer;background-color:#EA4235; color:#fff; margin:3px;" class="col-xs-3 animated  wobble uploaders card-panel" socialshare socialshare-provider="google+" socialshare-text="{{::toShare.content}}" socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}" socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}">

            <i class="fa fa-google" style="padding-top:0px;"></i>
            <br>
        </div>
    </div>


</script>
 






<!--TODO: sacar a footer-search.js -->
<script>
    $(function() {
        $(window).scroll(function() {
            if ($(document).scrollTop() > 150) {
                $('#footer-s').addClass("show");
            } else {
                $('#footer-s').removeClass("show");
            }
        });
    })
</script>

<script>

$(window).scroll(function() {

    if ($(this).scrollTop()>70)
     {
        $('#fade').fadeOut();
     }
    else
     {
      $('#fade').fadeIn();
     }
 });
</script>


<script>

$(window).scroll(function() {

    if ($(this).scrollTop()>500)
     {
        $('#message').fadeIn();
     }
    else
     {
      $('#message').fadeOut();
     }
 });
</script>
<!--Initialize Material -->
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script>
 $('.fixed-action-btn').openFAB();</script>



<script>
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });

    $('.scrollup').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});</script>

