<h3>Winwins</h3>
<div class="container" ng-repeat="winwin in user_detail.winwins">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
                <div class="ww-featured featured"> <i class="fa fa-bookmark"></i></div>
            </div>
            <div class="ww-popular" ng-if="winwin.mark == 'popular'"> 
                <div class="ww-popular pop"> Pop</div>
            </div>
            <div class="ww-finishing" ng-if="winwin.mark == 'finishing'"> 
                <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
            </div>
        </div>
        <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" style="height: 200px; cursor:pointer;"  ng-click="viewWinwin(winwin.id)">
            <div class="username-cards text-uppercase">{{::winwin.title}}</div>
        </div>
        <div class="card-buttons" >
            <div class=" col-xs-1 profile">
                <img ng-src="http://images.dev-winwins.net/31x31/{{::winwin.user.photo}}"  class="img-circle">
            </div>
            <div class="col-xs-1 profile"> 
                <img ng-repeat="sponsor in winwin.sponsors" ng-src="http://images.dev-winwins.net/31x31/{{::sponsor.photo}}"  class="img-circle">
            </div>
        </div>
    </div>
</div>


