
<div class="container no-padding">
        <div class="col-xs-12 no-padding">
      <li class="collection-item"> 
            <div ng-class-odd="media" ng-class-even="media-b" ng-repeat="comment in comments">
                <div class="media-left">
                        <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{comment.photo}}" class="media-object img-circle"  width="30" height="30"/>
                    </a>
                </div>
                <div class="media-body">
                    Este es el mensaje de algun usuario
                    {{comment.content}}
                    <span class="date">
                       <i class="fa fa-clock-o"></i> 
                       {{comment.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                    </span>
                </div>
            </div>
</li>
    </ul>

           
        </div>
</div>
</div>

  <div  ng-if="!user_detail.myself">

    <div class="container blue">
   
  <div class="col-xs-2"><img ng-src="http://images.dev-winwins.net/38x38/{{user_detail.photo}}" class="circle" width="38" height="38"/></div>
 <div class="col-xs-7"><textarea class="materialize-textarea no-padding" style="background-color:#fff"rows="4" ng-model="comment.content" ng-required="true" placeholder="Enviar un comentario"></textarea></div>
 <span class="btn green" ng-disabled="sendingPost" ng-click="submitPost()"><i class="fa fa-paper-plane animated infinte pulse"></i></span>

      </div>

</div>










                       