
<style>
body  {
    background-color: #f1f1f1;
    background-size: cover;
    background-position: cover;
}


.bubbles 
{
position: relative;
width: 100%;
height: 100%;
padding: 20px;
background: #1762C3;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.bubbles:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #1762C3 transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 45%;
}

.bubblexs 
{
position: relative;
width: 100%;
height: 45px;
padding: 0px;
background: #1762C3;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.bubblexs:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 8px 0;
border-color: #1762C3 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -9px;
left: 45%;
}

</style>


<div class="row">
    <div class="container no-padding">
            <div class="col s12 no-padding">
                <div class="card hoverable no-padding">
                    <div class="card-image" style="background:rgba(11, 79, 136, 0.93)">
                         <img src="http://files.clioekumene.webnode.es/200000274-21d2a22cba/guernica_all.jpg" style="height:400px; overflow:hidden;" class="img-responsive">
                            <span class="col-md-1"></span>
                                <span class="col-md-4 col-xs-12" >   
                                       <span class="card-title" style="background-color:rgba(10,101,176,0.93); box-shadow: 2px 2px 20px rgb(60, 58, 58); padding-top: 0px;">
                                            <div class="profile-avatar avatar" style="width:120px; margin-left:20px; margin-right:20px;"> 
                                             <img src="http://images.dev-winwins.net/smart/{{user_detail.photo}}" class="img-responsive img-circle img-no-border" height="100" width="100"              style="margin:5px auto; border-radius:50%; border:5px solid white;" />
                                         <span style="font-size:18px;">{{::user_detail.name}}</span>
                                    </span>
                                </span>      
                            </div>   
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>



    <div class="row">
        <div class="container no-padding"> 
            <div class="col s12 m4">   
                <div class="card-panel teal indigo darken-2 bubbles">
                    <span class="white-text">Mi nombre es <span style="text-transform: capitalize;"> {{::user_detail.name}} {{::user_detail.lastname}} </span> y soy miembro de Winwins desde el {{user_detail.created_at |moment: 'DD/MM/YYYY'}}</br>
                                             {{user_detail.about}}
                    </span>
                </div>
                   <div class="card-panel teal" style="height:130px;margin-top: 10px;">
                    <span class="grey-text left"><i class="fa fa-comments"></i> Mis WinWins <span style="background-color: red; color:white; padding:2px; border-radius:2px;">{{user_detail.winwins.length}}</span></span><br>    
                        <div ng-repeat="ww in user_detail.winwins | filter: {user_id: '!user_detail.user_id'} " class="col-xs-3 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/100x70/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div>
                    </span>
                </div>
                      <div class="card-panel teal" style="height:130px;margin-top: 10px;">
                    <span class="grey-text left"><i class="fa fa-child"></i> Siguiendo <span style="background-color: red; color:white; padding:2px; border-radius:2px;">{{user_detail.followers.length}}</span> </span><br>    
                   <div class="col-xs-2 no-padding" ng-repeat="followed in following" >
                                    <img ng-src="http://images.dev-winwins.net/70x70/smart/{{followed.photo}}" class="img-responsive" alt="{{followed.name}}"  title="{{followed.name}}" width="60" height="50" style="cursor:pointer;"  ng-click="viewUser(followed.user_id)" />
                                </div>

                    </span>
                </div>
                      <div class="card-panel teal" style="height:130px;margin-top: 10px;">
                    <span class="grey-text left"><i class="fa fa-users"></i> Mis Grupos <span style="background-color: red; color:white; padding:2px; border-radius:2px;">112</span></span><br>    
                        <div ng-repeat="ww in user_detail.winwins | filter: {user_id: '!user_detail.user_id'} " class="col-xs-3 no-padding">
                                    <img ng-src="http://images.dev-winwins.net/90x65/smart/{{ww.image}}" width="auto" height="auto" class="img-responsive" ng-click="viewWinwin(ww.id)" alt="{{ww.title}}" title="{{ww.title}}" style="cursor:pointer">
                                </div>
                    </span>
                </div>
            </div>

           <div class="col s12 m4">
                <div class="card-panel teal ">
                             <div class="col s12 m12 bubblexs left white-text"><span style="margin-top:8px; float:left;">  <i class="fa fa-clock-o"></i>    ACTIVIDAD RECIENTE   
                 </div>
                    <span class="grey-text">
                            <ul class="collection left-align">
                              <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;"><i class="fa fa-users"></i> Leonardo se sumó al Grupo <span style="color: #1762C3  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>
                                     <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;">Leonardo se sumó al Winwin <span style="color: #ef6c00  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>       <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;">Leonardo se sumó al Winwin <span style="color: #ef6c00  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li> 
                                       <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;">Leonardo se sumó al Winwin <span style="color: #ef6c00  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>
                                     <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;"><i class="fa fa-comments"></i> Leonardo se sumó al Winwin <span style="color: #ef6c00  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>       <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;">Leonardo se sumó al Winwin <span style="color: #ef6c00  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>       
                                     <li class="collection-item"><h6 style="font-size:12px; padding:10p border-radius:2px;"><i class="fa fa-users"></i> Leonardo se sumó al Grupo <span style="color: #1762C3  ;">"Unidos por el Universo"</h6></span><h6 style="font-size:9px;"> <i class="fa fa-clock-o"></i> 20/20/19 20:34</h6></li>             
                           </ul>
                    </span>
                </div>
            </div>
         <div class="col s12 m4 ">   
                       <div class="card-panel teal ">
                             <div class="col s12 m12 bubblexs left white-text"><span style="margin-top:8px; float:left;">  <i class="fa fa-comment"></i>    MENSAJES    </div>
                    <span class="grey-text">
                         <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
      <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
      <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title left">{{::user_detail.name}}</span><br>
      <p> Este el mensaje que escribì</p>
      <a href="#!" class="secondary-content"><i class="fa fa-follow"></i></a>
    </li>
</ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

        
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="fa fa-plus x2"></i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
