<h3>Notificaciones</h3>
<div class="container no-padding">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div ng-class-odd="media"  ng-class-even="media-b" ng-repeat="notification in user_detail.notifications">
                <div class="media-left">
                    <i class="fa fa-bell-o"></i>
                </div>
                <div class="media-body">
                    {{notification.body}}
                    <i class="fa fa-clock-o"></i> 
                        {{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>


<div class="container no-padding">
    <div class="row">
        <div class="col-xs-12 no-padding">

            <div ng-class-odd="media" ng-class-even="media-b" ng-repeat="comment in comments">
                <div class="media-left">
                        <img  ng-src="http://images.dev-winwins.net/30x30/smart/{{comment.photo}}" class="media-object img-circle"  width="30" height="30"/>
                    </a>
                </div>
                <div class="media-body">
                    Este es el mensaje de algun usuario
                    {{comment.content}}
                    <span class="date">
                       <i class="fa fa-clock-o"></i> 
                       {{comment.created_at | moment: 'DD/MM/YYYY HH:mm'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container comments-box"  ng-if="!user_detail.myself">
        <div class="col-xs-2 post-image">
            <img ng-src="http://images.dev-winwins.net/38x38/{{user_detail.photo}}" class="img-circle-simple" width="38" height="38"/>
        </div>
            <div class="col-xs-6 ">
                <div class="bubbles">
                    <textarea class="postbox" rows="4" ng-model="comment.content" ng-required="true" placeholder="Enviar un comentario">
                </div>
            </div>

            <a href="#" role="button" class="col-xs-2 button-send" ng-click="submitComment()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
        </div>
    </div>
</div>

