        <div class="col-xs-12 no-padding navbar">
            <ul class="nav nav-tabs" role="tablist">
                <li class="col-xs-20">
                    <a data-toggle="tab" data-target="#config_user">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="col-xs-20">
                    <a data-toggle="tab" data-target="#config_setting">
                        <i class="fa fa-gear"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="config_user" class="tab-pane fade in active">


                <div class="container">
                    <h1 class="txt-welcome text-center title-color">
                        Información de la Cuenta
                    </h1>
                    <div class="form-group no-padding mb-0 mt-0 col-xs-12" style="margin:20px 0" ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid ,  'has-success': signupForm.name.$touched && signupForm.name.$valid }">
                        <input type="text" class="form-control input-lg" placeholder="Nombre" aria-describedby="basic-addon1" name="name" ng-model="name" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$valid "></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$invalid "></span>
                        <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched" class="help-block">
                            <p class="small" ng-message="required">El nombre es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin-top:20px;"  ng-class="{ 'has-error': signupForm.lastname.$touched && signupForm.lastname.$invalid ,  'has-success': signupForm.lastname.$touched && signupForm.lastname.$valid }">
                        <input type="text" class="form-control input-lg" placeholder="Apellido" aria-describedby="basic-addon1" name="lastname" ng-model="lastname">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.lastname.$touched  && signupForm.lastname.$valid "></span>

                    </div>

                    <div class="form-group no-padding mb-0 mt-0 col-xs-12 "  ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid ,  'has-success': signupForm.email.$touched && signupForm.email.$valid}">
                        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Tu E-mail" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  aria-describedby="basic-addon1" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$valid "></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$invalid "></span>
                        <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched" class="help-block">
                            <p class="small" ng-message="required">El correo es requerido.</p>
                            <p class="small" ng-message="email">El correo no es correcto.</p>
                        </div>
                    </div>
                    <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin:20px 0"  ng-class="{ 'has-error': signupForm.password.$touched && signupForm.password.$invalid ,  'has-success': signupForm.password.$touched && signupForm.password.$valid}">
                        <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Contraseña" required  aria-describedby="basic-addon1" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$valid "></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$invalid "></span>
                        <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched" class="help-block">
                            <p class="small" ng-message="required">La clave es necesaria.</p>
                        </div>
                    </div>
                    <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin:20px 0"  ng-class="{ 'has-error': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$invalid ,  'has-success': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$valid}">
                        <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirmar Contraseña" aria-describedby="basic-addon1" required compare-to="password" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$valid "></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$invalid "></span>
                        <div ng-messages="signupForm.confirmPassword.$error"  ng-if="signupForm.confirmPassword.$touched" class="help-block">
                            <p class="small" ng-message="required">La confirmacion de clave es necesaria.</p>
                            <p class="small" ng-message="compareTo">Las claves no coinciden.</p>
                        </div>
                    </div>

                    <div class="col-xs-10 col-xs-push-1 mb-20" style="margin-top:20px;">
                        <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-primary btn-block center-block">
                            Registrar
                        </button>
                    </div>

                </div>








            </div>
            <div id="config_setting" class="tab-pane fade in active">
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">CONFIGURACION DE TU CUENTA</h4>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">IDIOMA <span class="admin-choose">Español</span></h4>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">notificaciones por mail</h4>
                    <h5 class="admin-notes">solo las importantes<i class="fa fa-cog grey-circle"></i></h5>
                </div>
                <div class="col-xs-6 mb-20">
                    <h5 class="admin-notes">Invitación a un Winwin <i class="fa fa-cog grey-circle"></i></h5>
                    <h5 class="admin-notes">Winwin que finaliza <i class="fa fa-cog grey-circle"></i></h5>
                    <h5 class="admin-notes">Invitación a un Grupo<i class="fa fa-cog grey-circle"></i></h5>
                </div>
                <div class="col-xs-6 mb-20">
                    <h5 class="admin-notes">solo las importantes<i class="fa fa-cog grey-circle"></i></h5>
                    <h5 class="admin-notes">solo las importantes<i class="fa fa-cog grey-circle"></i></h5>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">PRIVACIDAD</h4>
                </div>
                <div class="col-xs-6">
                    <h4 class="admin-title">COMPARTIR perfil</h4>
                </div>
                <div class="col-xs-6">
                    <span class="admin-choose">Si</span></h4>
                </div>
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-6 mb-20">
                        <h4 class="admin-title">status</h4>
                    </div>
                    <div class="col-xs-6 mb-20">
                        <span class="admin-choose">activa</span></h4>
                    </div>
                </div>

                <div class="col-xs-12 no-padding text-center" style="background-color:#00b200; color:#FFF; height:50px;">
                       <h4 style="padding-top:10px">ACTUALIZAR CONFIGURACION</h4>
                </div>


            </div>
        </div>


