
<div id="menu-profile" class="container no-padding">
        <div class="container col-xs-12 no-padding">
            <a data-toggle="tab" data-target="#home" ng-click="setCurrentView('home')">
                <div class="col-xs-3-3" ng-class="{active: current_view == 'home'}">
                    <i class="fa fa-user"></i>
                </div>
            </a>
            <a data-toggle="tab" data-target="#winwins" ng-click="setCurrentView('winwins')">
                <div class="col-xs-3-3" ng-class="{active: current_view == 'winwins'}">
                    <i class="fa fa-comments"></i>
                </div>
            </a>
            <a data-toggle="tab" data-target="#notificaciones" ng-click="setCurrentView('notifications')">
                <div class="col-xs-3-3" ng-class="{active: current_view == 'notifications'}">
                    <i class="fa fa-comments"></i>
                </div>
            </a>
            <a data-toggle="tab" data-target="#config" ng-click="setCurrentView('admin')">
                <div class="col-xs-3-3" ng-class="{active: current_view == 'admin'}" ng-cloak>
                    <i ng-if="user_detail.myself"  class="fa fa-gear"></i>
                </div>
            </a>
        </div>
        <div class="col-xs-6 submenu-icons" ng-if="is_admin">
            <a data-toggle="tab" data-target="#config_user">
                <i class="fa fa-user"></i>
            </a>
        </div>
        <div class="col-xs-6 submenu-icons" ng-if="is_admin">
            <a data-toggle="tab" data-target="#config_setting">
                <i class="fa fa-gear"></i>
            </a>
        </div>
</div>

<div class="profile-tabs tab-content">
    <div id="home" role="tabpanel" class="tab-pane fade in active">
        <div ng-include="'/views/user/profile_home.html'"></div>
    </div>
    <div id="users" class="tab-pane">
        <div ng-include="'/views/user/profile_users.html'"></div>
    </div>
    <div id="winwins" class="tab-pane">
        <div ng-include="'/views/user/profile_winwins.html'"></div>
    </div>
    <div id="notificaciones" class="tab-pane">
        <div ng-include="'/views/user/profile_notifications.html'"></div>
    </div>
    <div id="config" class="tab-pane">
        <div ng-include="'/views/user/profile_config.html'"></div>
    </div>
</div>

<script>

