<div class="col-xs-12 no-padding" style="margin-bottom:35px;">
    <div class="col-xs-4 img-misc no-padding text-center"  style="padding-top: 20px!important;">
        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="margin:5px auto" />
    </div>
    <div class="col-xs-12 no-padding shadow-border">
        <div class="col-xs-3 col-xs-push-1 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
            <span>Seguidores</span><br>
            <span>1</span>
        </div>
        <div class="col-xs-3 col-xs-push-1 btn5 btn-follow no-padding" style="padding-top: 12px!important; background-color: #FFF">
                    SEGUIR
                </div>
        <div class="col-xs-3 col-xs-push-1 no-padding btn5" style="text-align:center; font-size:10px; padding-top: 12px!important;">
            <span>WinWins</span><br>
            <span>10</span>
        </div>
    </div>
</div>

<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            informacion personal
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p class="text-destacados lista" style="margin-top:10px">
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            timeline
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <table>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" class="accordion-main">
                <div class="panel-heading no-padding" style="margin: 8px 0;">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                           mIS WIN WINS
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapsetwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-xs-2">
                    a
                    </div>
                    <div class="col-xs-2">
                    a
                    </div>
                    <div class="col-xs-2">
                    a
                    </div>
                    <div class="col-xs-2">
                    a
                    </div>
                    <div class="col-xs-2">
                    a
                    </div>
                    <div class="col-xs-2">
                    a
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="accordion-main">
                <div class="panel-heading no-padding" style="margin: 8px 0; letter-spacing:-1px">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                           WinWins en los que participo
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <img src="images/refe2.jpg" class="img-responsive float-left">
                </div>
            </div>
        </div>




        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            ME SIGUEN
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse11" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <div class="col-xs-12 no-padding" style="margin:12px 0;">
                        <div class="col-xs-12 no-padding">
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px; float:left; " />
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px;  float:left; " />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            PERSONAS QUE SIGO
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse12" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <div class="col-xs-12 no-padding" style="margin:12px 0;">
                        <div class="col-xs-12 no-padding">
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px; float:left; " />
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px;  float:left; " />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse13" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            grupos a los que estoy unido
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse13" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <div class="col-xs-12 no-padding" style="margin:12px 0;">
                        <div class="col-xs-12 no-padding">
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px; float:left; " />
                            <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px;  float:left; " />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse14" class="accordion-main">
                <div class="panel-heading no-padding">
                    <div class="col-xs-12 no-padding subcat">
                        <div class="col-xs-10 valign">
                            DEJA UN COMENTARIO 
                        </div>
                        <div class="col-xs-1 valign text-white">
                            <i class="fa fa-caret-up fa-6"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapse14" class="panel-collapse collapse in">
                <div class="panel-body no-padding">
                    <table>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-12 no-padding" style="margin:12px 0;">
                                    <div class="col-xs-2 no-padding">
                                        <img src="../images/placeholder-square.jpg" class="img-responsive img-circle img-no-border" style="width:30px; height:30px " />
                                    </div>
                                    <div class="col-xs-10 no-padding-left">
                                        <p class="text-destacados lista">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

