        <div id="menu-profile-config" class="menu-profile col-xs-12 no-padding navbar" ng-show="userScroll.name.down" ng-class="{fixed: userScroll.name.down}">
            <ul class="nav nav-tabs" role="tablist">
                <li class="col-xs-20 half">
                    <a data-toggle="tab" data-target="#config_user">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="col-xs-20 half">
                    <a data-toggle="tab" data-target="#config_setting">
                        <i class="fa fa-gear"></i>
                    </a>
                </li>
            </ul>
        </div>



        <div class="tab-content">

            <div id="config_user" class="tab-pane in active">

                <form method="post" ng-submit="saveProfile()" name="signupForm">

                    <div class="container">
                        <h1 class="txt-welcome text-center title-color">
                            Información de la Cuenta
                        </h1>

                        <div class="col-xs-12 row">

                            <div style="cursor:pointer"  ngf-select="uploadFiles($file)" accept="image/*" class="col-xs-6" ngf-accept="'image/*'">
                                <span class="text-center">
                                    Imagen de Avatar
                                </span>

                                <i ng-show="!winwin.image && !uploading" class="fa fa-camera"></i>
                                <img class="img-responsive col-xs-12" ng-show="uploading" src="/images/loader.gif" height="75" style="padding:7px"/>
                                <img class="img-responsive" ng-show="edit_user.photo" ng-src="http://images.dev-winwins.net/smart/{{edit_user.photo}}" height="75px"  style="padding:7px">
                                <span class="small" ng-show="errorMsg">{{errorMsg}}</span>
                            </div>

                            <div style="cursor:pointer"  ngf-select="uploadFilesCover($file)" accept="image/*" class="col-xs-6" ngf-accept="'image/*'">
                                <span class="text-center">
                                    Imagen de Portada
                                </span>
                                <i ng-show="!winwin.image && !uploading" class="fa fa-camera"></i>
                                <img class="img-responsive col-xs-12" ng-show="uploading" src="/images/loader.gif" height="75" style="padding:7px"/>
                                <img class="img-responsive" ng-show="edit_user.photo_cover" ng-src="http://images.dev-winwins.net/smart/{{edit_user.photo_cover}}" height="75px"  style="padding:7px">
                                <span class="small" ng-show="errorMsg">{{errorMsg}}</span>
                            </div>



                        </div>





                        <div class="form-group no-padding mb-0 mt-0 col-xs-12" style="margin:20px 0" ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid ,  'has-success': signupForm.name.$touched && signupForm.name.$valid }">
                            <input type="text" class="form-control input-lg" placeholder="Nombre" aria-describedby="basic-addon1" name="name" ng-model="edit_user.name" >
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$valid "></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.name.$touched  && signupForm.name.$invalid "></span>
                            <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched" class="help-block">
                                <p class="small" ng-message="required">El nombre es requerido.</p>
                            </div>
                        </div>

                        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style=""  ng-class="{ 'has-error': signupForm.lastname.$touched && signupForm.lastname.$invalid ,  'has-success': signupForm.lastname.$touched && signupForm.lastname.$valid }">
                            <input type="text" class="form-control input-lg" placeholder="Apellido" aria-describedby="basic-addon1" name="lastname" ng-model="edit_user.lastname">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.lastname.$touched  && signupForm.lastname.$valid "></span>

                        </div>

                        <div class="form-group no-padding mb-0 mt-0 col-xs-12 "  ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid ,  'has-success': signupForm.email.$touched && signupForm.email.$valid}">
                            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="edit_user.email" placeholder="Tu E-mail" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  aria-describedby="basic-addon1" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$valid "></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.email.$touched  && signupForm.email.$invalid "></span>
                            <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched" class="help-block">
                                <p class="small" ng-message="required">El correo es requerido.</p>
                                <p class="small" ng-message="email">El correo no es correcto.</p>
                            </div>
                        </div>

                        <div class="col-xs-12 no-padding">
                            <h5 class="text-center" style="color:#9f9f9f;">
                                Fecha De Nacimiento
                            </h5>

                            <div class="col-xs-8 col-xs-offset-2 no-padding mb-20">

                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-xs-12 no-padding">
                            <textarea ng-model="edit_user.about" class="form-control" rows="3" no-resize placeholder="Acerca de Mí"></textarea>
                        </div>
                        <div class="col-xs-12 no-padding" style="margin:20px 0">
                            <textarea ng-model="edit_user.interests" class="form-control" rows="3" no-resize placeholder="Mis intereses"></textarea>
                        </div>




                        <h1 class="txt-welcome text-center title-color">
                           CAMBIAR CONTRASEÑA 
                        </h1>
                        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style="margin:20px 0"  ng-class="{ 'has-error': signupForm.current_password.$touched && signupForm.current_password.$invalid ,  'has-success': signupForm.current_password.$touched && signupForm.current_password.$valid}">
                            <input password-strength class="form-control input-lg" type="password" name="current_password" ng-model="edit_user.current_password" placeholder="Contraseña Anterior" aria-describedby="basic-addon1" >
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.current_password.$touched  && signupForm.current_password.$valid "></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.current_password.$touched  && signupForm.current_password.$invalid "></span>
                            <div ng-messages="signupForm.current_password.$error" ng-if="signupForm.current_password.$touched" class="help-block">
                                <p class="small" ng-message="required">La clave es necesaria.</p>
                            </div>
                        </div>
                        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style=""  ng-class="{ 'has-error': signupForm.password.$touched && signupForm.password.$invalid ,  'has-success': signupForm.password.$touched && signupForm.password.$valid}">
                            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="edit_user.password" placeholder="Contraseña" aria-describedby="basic-addon1" >
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$valid "></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.password.$touched  && signupForm.password.$invalid "></span>
                            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched" class="help-block">
                                <p class="small" ng-message="required">La clave es necesaria.</p>
                            </div>
                        </div>
                        <div class="form-group no-padding mb-0 mt-0 col-xs-12 " style=""  ng-class="{ 'has-error': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$invalid ,  'has-success': signupForm.confirmPassword.$touched && signupForm.confirmPassword.$valid}">
                            <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="edit_user.confirmPassword" placeholder="Confirmar Contraseña" aria-describedby="basic-addon1" compare-to="password" >
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$valid "></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"  ng-if="signupForm.confirmPassword.$touched  && signupForm.confirmPassword.$invalid "></span>
                            <div ng-messages="signupForm.confirmPassword.$error"  ng-if="signupForm.confirmPassword.$touched" class="help-block">
                                <p class="small" ng-message="required">La confirmacion de clave es necesaria.</p>
                                <p class="small" ng-message="compareTo">Las claves no coinciden.</p>
                            </div>
                        </div>

                        <div class="col-xs-10 col-xs-push-1 mb-20" style="">
                            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-success btn-block center-block">
                                Editar Perfil
                            </button>
                        </div>

                    </div>

                </form>

            </div>
            <div id="config_setting" class="tab-pane">
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">CONFIGURACION DE TU CUENTA</h4>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">IDIOMA</h4> 
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" autocomplete="off" ng-model="edit_user.language_code" ng-value="ES" checked>Español 
                        </label> 
                        <label class="btn btn-primary">
                            <input type="radio" autocomplete="off" ng-model="edit_user.language_code" ng-value="EN" checked>English
                        </label> 
                    </div>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">notificaciones por mail</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="admin-notes">Invitación a un Winwin </h5>
                        </div>
                        <div class="col-xs-6 btn-group" data-toggle="buttons">
                            <label class="btn btn-default pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.invite_ww" ng-value="false">NO
                            </label> 
                            <label class="btn btn-primary pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.invite_ww" ng-value="true">SI
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="admin-notes">Winwin que finaliza</h5>
                        </div>
                        <div class="col-xs-6 btn-group" data-toggle="buttons">
                            <label class="btn btn-default pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.ww_to_finish" ng-value="false">NO
                            </label> 
                            <label class="btn btn-primary pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.ww_to_finish" ng-value="true">SI
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="admin-notes">Invitacion a un Grupo</h5>
                        </div>
                        <div class="col-xs-6 btn-group" data-toggle="buttons">
                            <label class="btn btn-default pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.invite_group" ng-value="false">NO
                            </label> 
                            <label class="btn btn-primary pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.invite_group" ng-value="true">SI
                            </label> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mb-20">
                    <h4 class="admin-title">PRIVACIDAD</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <h5 class="admin-notes">Compartir Perfil</h5>
                        </div>
                        <div class="col-xs-6 btn-group" data-toggle="buttons">
                            <label class="btn btn-default pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.private" ng-value="false">NO
                            </label> 
                            <label class="btn btn-primary pull-right">
                                <input type="radio" autocomplete="off" ng-model="edit_user.private" ng-value="true">SI
                            </label> 
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 no-padding text-center btn" style="background-color:#00b200; color:#FFF; height:50px;" ng-click="saveProfile()">
                       <h4 style="padding-top:10px">ACTUALIZAR CONFIGURACION</h4>
                </div>


            </div>
        </div>


