
                    <div class="container no-padding center light-blue darken-3">
                     <h1 style="font-size:60px; padding:0px; color:#fff; ">   <i class="fa fa-bell-o animated infinite wobble"></i></h1>
                      <h4 class="white-text"> NOTIFICACIONES<H4>

                    </div>
      
  <i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>


  <div class="container no-padding"  ng-repeat="notification in user_detail.notifications">

        <div class="collection">
        <a href="#!" class="collection-item"><i class="fa fa-comments" ng-if="notification.type == 'WW_CREATED'"></i></a>
        <a href="#!" class="collection-item active">       <i class="fa fa-comments" ng-if="notification.type == 'WW_JOIN'"></i></a>
        <a href="#!" class="collection-item">      <i class="fa fa-users" ng-if="notification.type == 'GROUP_CREATED'"></i></a>
        <a href="#!" class="collection-item"><i class="fa fa-comments" ng-if="notification.type == 'WW_LEFT'"></i></a>
        <a href="#!" class="collection-item">      <i class="fa fa-comments" ng-if="notification.type == 'WW_JOIN'"></i></a>
          <a href="#!" class="collection-item">      <i class="fa fa-users" ng-if="notification.type == 'GROUP_LEFT'"></i></a>

  <p class="text-destacados lista"> 
                            {{notification.body}}
                        </p>
  
      </div>



            
    </div>
</div>
