
<div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
    <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-bell-o animated infinite wobble"></i></h1>
    <h4 class="white-text"> NOTIFICACIONES<H4>
</div>
      
<i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>

<div class="container no-padding">
    <div class="col-xs-12 no-padding">
        <div class="container no-padding"  style="margin:0px;">
            <ul class="collection card-panel">
                <li class="collection-item card-panel" ng-switch on="notification.type"  ng-repeat="notification in user_detail.notifications">
                    <div ng-switch-when="WW_SUCCESSFUL">
                        <span > 
                            <i class="fa fa-comments light-blue-text" style="font-family: 2.5rem;"></i> 
                            <span style="color:#0277BD !important; cursor: pointer;" ng-click="viewWinwin(notification.object.id)">{{notification.object.title}}</span> se ha completado con éxito! <small>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>
                    <div ng-switch-when="WW_CREATED">
                        <span > 
                            <i class="fa fa-comments orange-text" style="font-family: 2.5rem;"></i> 
                           <span class="h7">Creaste el winwin</span> <span style="color:#0277BD !important; cursor: pointer;" ng-click="viewWinwin(notification.object.id)">{{notification.object.title}}</span> <small><i class="fa fa-clock"></i>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>
                    <div ng-switch-when="WW_JOIN">
                        <span > 
                            <i class="fa fa-comments light-blue-text" style="font-family: 2.5rem;"></i> 
                            <span class="h7"> Te uniste a </span><span style="color:#0277BD !important; cursor: pointer;" ng-click="viewWinwin(notification.object.id)">{{notification.object.title}}</span> <small>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>

                    <div ng-switch-when="SPONSOR_REQUEST">
                        <span > 
                            <i class="fa fa-star yellow-text" style="font-family: 2.5rem;"></i> 
                            Han solicitado patrocinar a <span style="color:#0277BD !important; cursor: pointer;" ng-click="viewWinwin(notification.object.id)">{{notification.object.title}}</span> <small>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>

                    <div ng-switch-when="CAMPANADA">
                        <span > 
                            <i class="fa fa-bell light-blue-text" style="font-family: 2.5rem;"></i> 
                            Recibiste una campanada de <span style="color:#0277BD !important; cursor: pointer;" ng-click="viewWinwin(notification.object.id)">{{notification.object.title}}</span>: "{{notification.body}}" <small>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>

                    <div ng-switch-when="FOLLOWING">
                        <span > 
                            <i class="fa fa-user light-blue-text" style="font-family: 2.5rem;"></i> 
                            <span style="color:#0277BD !important; cursor: pointer;" ng-click="viewProfile(notification.object.id)">{{notification.object.username}}</span> comenzó a seguirte </span> <small>{{notification.created_at | moment: 'DD/MM/YYYY'}}</small>
                        </span>
                    </div>


                    <div ng-switch-default>
                        <span style="color:#0277BD !important;"> 
                            <i class="fa fa-comments light-blue-text" style="font-family: 2.5rem;"></i> {{notification.body}}
                        </span>
                    </div>
                </li>               
            </ul>
        </div>
    </div>
</div>



