    <div class="container no-padding">

            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::user_detail.cover_photo}}" class="col-xs-12 no-padding portada mb-20">
            <div class="col-xs-12">
                <div class="col-xs-4 col-xs-push-4 no-padding main text-center">
                    <img ng-src="http://images.dev-winwins.net/smart/{{::user_detail.photo}}" class="img-responsive img-circle logo-user_details-landscape" />
                    <h4 class="text-white">{{::user_detail.name}}</h4>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <div class="col-xs-4 col-sm-4">
                    <div ng-show="::user_detail.followers_count > 0">
                        <span class="title-somos title-main-user_detail">Seguidores</span>
                        <span class="num-somos user_detail back-winwin num-somos-seguidore-main">{{::user_detail.followers_count}}</span>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <button type="button" ng-show="user_detail.already_following" ng-click="unfollow()" class="btn btn-user_detail user_detail main">
                        UNFOLLOW
                    </button>
                    <button type="button" ng-show="!user_detail.already_following" ng-click="follow()" class="btn btn-user_detail user_detail main">
                        FOLLOW
                    </button>
                </div>
                <div class="col-xs-4 col-sm-4 no-padding ">
                </div>
            </div>
        </div>

        <div class="col-xs-12 font-light mb-20">
            {{::user_detail.about}}
        </div>
        <div class="col-xs-12 no-padding subcat">
            <div class="col-xs-11 valign">
                Seguidores
            </div>
            <div class="col-xs-1 valign text-white">
                <i class="fa fa-caret-up fa-6"></i>
            </div>
        </div>
        <div class="col-xs-12 mb-20">
            <div ng-repeat="follower in user_detail.users">
                <a ng-href="/#/user-view/{{::follower.id}}">
                    <img title="{{::follower.username}}" alt="{{::follower.username}}" ng-src="http://images.dev-winwins.net/40x40/{{::follower.detail.photo}}" class="img-responsive img-circle profile">
                </a>
            </div>
        </div>
        <div class="col-xs-12 no-padding subcat">
            <div class="col-xs-11 valign">
                WinWins Sponsoreados
            </div>
            <div class="col-xs-1 valign text-white">
                <i class="fa fa-caret-up fa-6"></i>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div ng-repeat="winwin in user_detail.winwins">
                <a ng-href="/#/winwin-view/{{::winwin.id}}">
                    <img alt="{{::winwin.title}}" ng-src="http://images.dev-winwins.net/40x40/{{::winwin.image}}" class="img-responsive float-left">
                </a>
            </div>
        </div>
        <!--div class="col-xs-12 no-padding subcat">
            <div class="col-xs-11 valign">
                WinWins Sponsoreados Finalizados
            </div>
            <div class="col-xs-1 valign text-white">
                <i class="fa fa-caret-up fa-6"></i>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div ng-repeat="winwin in user_detail.closed_winwins">
                <img ng-src="http://images.dev-winwins.net/40x40/{{winwin.image}}" class="img-responsive float-left">
            </div>
        </div-->
    <div>
 

