<div class="container no-padding" style="margin-top:55px">
    <div class="dropdown col-xs-12 col-sm-12 no-padding">
        <button class="btn col-xs-12 col-sm-12 " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
            WinWins Destacados
            <span class="caret pull-right caret-middle"></span>
        </button>
        <ul class="dropdown-menu dd-destacados" aria-labelledby="dropdownMenu1">
            <li><a ng-click="doFilter('popular')">WinWins Populares</a></li>
            <li><a ng-click="doFilter('last')">Últimos WinWins Creados</a></li>
                <li><a ng-click="doFilter('popular')">WinWins Destacados</a></li>
            <li><a  ng-click="doFilter('next_to_close')">Por concretarse</a></li>
            <!--li><a href="#">Solidaridad / Cooperación</a></li-->
        </ul>
    </div>
</div>

<div infinite-scroll='winwins.nextPage()'>

    <div class="container" ng-repeat="winwin in winwins.items">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="ww-featured" ng-if="winwin.mark == 'remarkable'"> 
                    <div class="ww-featured featured"> <i class="fa fa-bookmark"></i></div>
                </div>
                <div class="ww-popular" ng-if="winwin.mark == 'popular'"> 
                    <div class="ww-popular pop"> Pop</div>
                </div>
                <div class="ww-finishing" ng-if="winwin.mark == 'finishing'"> 
                    <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
                </div>
        <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" style="height: 220px; cursor:pointer; box-shadow: 5px  #999; rgb(212, 206, 206);"  ng-click="view(winwin.id)">
            <div class="username-cards text-uppercase">{{::winwin.title}}</div>
            <div class=" col-xs-12" style="padding-top:80px;">
    <div class=" col-xs-2">      <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">  </div>
    <div class=" col-xs-2">      <img ng-repeat="sponsor in winwin.sponsors" ng-src="http://images.dev-winwins.net/40x40/{{::sponsor.photo}}"  class="img-circle"  ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer">   </div>
    <div class=" col-xs-2">      </div>

      </div>
        </div>
            </div>
        </div>
    </div>
</div>


