<div class="col-xs-4  {{winwin.selected ? 'img-misc' : ''}} no-padding text-center">
    <img src="http://images.dev-winwins.net/120x106/{{::winwin.image}}" />
    <div class="somos">
        <span class="title-somos">Somos</span>
        <span class="num-somos">{{::winwin.users_already_joined}}</span><br/>
        <span class="title-faltan">Faltan</span>
        <span class="num-faltan">{{::winwin.users_left}}</span>
    </div>
</div>
<div class="col-xs-6 no-padding-left">
    <h5 class="title-destacados">
        {{::winwin.title}}
    </h5>
    <p class="text-destacados">
        <b>Si supieras</b> que somos {{::winwin.users_amount}} para {{::winwin.what_we_do | characters: 140}}... <b>te sumarías?</b>
    </p>
</div>
<div class="col-xs-2 no-padding">
    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 no-padding btn-somos">
            <button type="button" class=" no-padding">
                <i class="fa fa-share-alt"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-12 no-padding me-interesa">
        <a ng-href="/#/winwin-view/{{winwin.id}}" class="btn btn-interesa border-bottom">Like</a>
    </div>
    <div class="col-xs-12 no-padding me-sumo text-right">
        <button type="button" class="btn btn-sumo">Me <br> Sumo</button>
    </div>
</div>

