<md-content class="acme-footer">
  <div class="footer-sumate">
    <div class="container">
      <div layout="row" layout-padding layout-align="space-around end">
        <div>
          <h2><img src="assets/images/sumate.svg"></h2>
          <p>Cuando la gente lidera, 
    los líderes acompañan.</p>
          <md-button ng-href="#" class="green">COMENZA ESTA AVENTURA</md-button>
        </div>
        <div>
          <md-button class="md-raised md-fab md-warn">
            <md-icon md-svg-src="assets/images/icon-arrow-up.svg"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div layout-gt-sm="row" layout-padding layout-align="center center">
        <div flex class="column">
          <ul>
            <li><a href="#">Ver Winwins</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Sponsors</a></li>
          </ul>
        </div>
        <div flex class="column">
          <ul>
            <li><a href="#">Sé sponsor</a></li>
            <li><a href="#">Crea un winwin</a></li>
            <li><a href="#">Registrate</a></li>
          </ul>
        </div>
        <div flex class="column social-media">
          <p>INGRESAR</p>
          <md-icon md-svg-src="assets/images/icon-facebook.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-twitter.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-google.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-yahoo.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-ww.svg" ng-href="#" target="_blank"></md-icon>
        </div>
        <div flex class="column">
          <a href="#" class="crear">+ Crear Winwin</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div layout="row" layout-padding layout-align="space-between center">
        <div class="column">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="column">
          WinWins - Consenos en acción <span class="beta">beta</span>  ©  2016
        </div>
        <div class="column">
          <a href="#">Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</md-content>
