<md-content class="acme-footer" class="hide show-gt-sm">
  <div class="container">
    <div layout="row" layout-align="space-between center" class="footer">
      <div class="column">
        <ul>
          <li><a href="#">Ver Winwins</a></li>
          <li><a href="#">Usuarios</a></li>
          <li><a href="#">Sponsors</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li><a href="#">Sé sponsor</a></li>
          <li><a href="#">Crea un winwin</a></li>
          <li><a href="#">Registrate</a></li>
        </ul>
      </div>
      <div class="column">
        <span>INGRESAR</span>
        <md-icon md-svg-src="assets/images/icon-facebook.svg"></md-icon>
        <md-icon md-svg-src="assets/images/icon-twitter.svg"></md-icon>
        <md-icon md-svg-src="assets/images/icon-google.svg"></md-icon>
        <md-icon md-svg-src="assets/images/icon-yahoo.svg"></md-icon>
        <md-icon md-svg-src="assets/images/icon-ww.svg"></md-icon>
      </div>
      <div class="column">
        <a href="#">+ Crear Winwin</a>
      </div>
    </div>
    <div layout="row" layout-align="space-between center" class="footer-copy">
      <div class="column">
        <a href="#">Términos y condiciones</a>
      </div>
      <div class="column">
        WinWins - Consenos en acción <span class="beta">beta</span>  ©  2016
      </div>
      <div class="column">
        <a href="#">Contáctanos</a>
      </div>
    </div>
  </div>
</md-content>
