<md-content class="acme-footer">
  <div class="footer-sumate">
    <div class="container">
      <div layout="row" layout-padding layout-align="space-around end">
        <div flex="25">
          <h2><img src="assets/images/sumate.svg"></h2>
          <p translate>Cuando la gente lidera, 
    los líderes acompañan.</p>
          <md-button ng-href="#" class="green">{{'COMENZA ESTA AVENTURA' | translate }}</md-button>
        </div>
        <div flex="75" class="align-right">
          <md-button class="md-raised md-fab md-warn">
            <md-icon md-svg-src="assets/images/icon-arrow-up.svg"></md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div layout-gt-sm="row" layout-padding layout-align="start center">
        <div flex>
          <ul>
            <li><a href="#" translate>Ver Winwins</a></li>
            <li><a href="#" translate>Usuarios</a></li>
            <li><a href="#" translate>Sponsors</a></li>
          </ul>
        </div>
        <div flex>
          <ul>
            <li><a href="#" translate>Sé sponsor</a></li>
            <li><a href="#" translate>Crea un winwin</a></li>
            <li><a href="#" translate>Registrate</a></li>
          </ul>
        </div>
        <div flex class="social-media">
          <p translate>INGRESAR</p>
          <md-icon md-svg-src="assets/images/icon-facebook.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-twitter.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-google.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-yahoo.svg" ng-href="#" target="_blank"></md-icon>
          <md-icon md-svg-src="assets/images/icon-ww.svg" ng-href="#" target="_blank"></md-icon>
        </div>
        <div flex>
          <a href="#" class="crear" translate>+ Crear Winwin</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div layout="row" layout-padding layout-align="space-between center">
        <div>
          <a href="#" translate>Términos y condiciones</a>
        </div>
        <div>
          {{'WinWins - Consenos en acción' | translate }} <span class="beta">beta</span>  ©  2016
        </div>
        <div>
          <a href="#" translate>Contáctanos</a>
        </div>
      </div>
    </div>
  </div>
</md-content>
