<div class="winwin-splash">
	<div class="title col-md-2 col-sm-2 col-xs-12">
		<div class="description col-sm-4 ">
			Titulo del WinWin
		</div>
		<div class="markers col-sm-4 ">
			<i type="button" class="btn fa fa-lg fa-star-o"></i>
			<i type="button" class="btn fa fa-lg fa-bookmark-o"></i>
		</div>
	</div>
	<div class="btn-row1">
		<button type="button" class="col-sm-4 btn fa fa-lg fa-envelope"></button>
	  	<button type="button" class="col-sm-4 btn fa fa-lg fa-twitter"></button>
	  	<button type="button" class="col-sm-4 btn fa fa-lg fa-facebook"></button>
  	</div>
	<br/>
	quedan
	<br/>
	dias {{ mock.days }}
	horas {{ mock.hours }}
	minutos  {{ mock.minutes }}
	<br/>
	somos {{ mock.suscribed }}
	<br/>
	nos faltan {{ mock.missing }}

</div>



<br/>
texto recontramil piola
<br/>
estado activo, global, <a href="#">Denunciar</a>
<br/>
<input type="button" value="Si! Me sumo!">
<input type="button" value="La Proxima">
<br/>
<p><img src="https://placehold.it/64&text=Creador" alt="Creador" class="img-circle">creador</p>