<div class="winwin-splash">
	<div class="description">  
		<div class="title">
			<p>
				Demos una oportunidad a los niños de Africa
			</p>
		</div>  
		<div class="buttons">
			<i class="fa fa-star-o fa-3x"></i>	
			<i class="fa fa-bookmark-o fa-3x"></i>
		</div>
	</div>

	<div class="somos">
		Somos <button type="button" class="btn btn-lg">{{ mock.suscribed }}</button>
	</div>

	<div class="information">

		<div class="social">

			<i title="Email" class="fa fa-envelope fa-2x"></i>
			<i title="Twitter" class="fa fa-twitter fa-2x"></i>
			<i title="Facebook" class="fa fa-facebook fa-2x"></i>

	 	</div>

		<div class="quedan">
  			<button type="button" class="btn btn-lg">{{ mock.days }}</button>
  			<button type="button" class="btn btn-lg">{{ mock.hours }}</button>
  			<button type="button" class="btn btn-lg">{{ mock.minutes }}</button>
	 	</div>

		<div class="faltan">
			Faltan <button type="button" class="btn btn-lg">{{ mock.missing }}</button>
	 	</div>
		
	</div>

</div>


<br/>
texto recontramil piola
<br/>
estado activo, global, <a href="#">Denunciar</a>
<br/>
<input type="button" value="Si! Me sumo!">
<input type="button" value="La Proxima">
<br/>
<p><img src="https://placehold.it/64&text=Creador" alt="Creador" class="img-circle">creador</p>
<br/>
