<div class="container winwin-body">
	<ul class="nav nav-pills ww-submenu">
		<li ng-class="{active: submenu.members}" class="col-xs-2 col-xs-offset-1"><a ng-click="subMenuClick('members')"><i class="fa fa-2x fa-users"></i></a></li>
		<li class="col-xs-2"><a href="#/winwin#ww"><i class="fa fa-2x fa-comments"></i></a></li>
		<li ng-class="{active: submenu.sponsors}" class="col-xs-2"><a ng-click="subMenuClick('sponsors')"><i class="fa fa-2x fa-star"></i></a></li>
		<li ng-class="{active: submenu.comments}" class="col-xs-2"><a ng-click="subMenuClick('comments')"><i class="fa fa-2x fa-comment"></i></a></li>
		<li ng-class="{active: submenu.config}" class="col-xs-2"><a ng-click="subMenuClick('config')"><i class="fa fa-2x fa-cog"></i></a></li>
	</ul>
</div>
<div class="no-padding" ui-view=""></div>