<div data-ng-controller="winwin-modify" class="container no-padding">

    <div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
        <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-pen animated infinite wobble"></i></h1>
        <h4 class="white-text"> Edita la Información </h4>
    </div>
 
    <i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>

    <form id="create-ww-form" class="no-padding" style="background:#f1f1f1;" ng-submit="updateWinwin()" name="wwBasicForm">
     
        <div class="panel-body">
            <div class="col-xs-12  no-padding text-center" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{ewinwin.image}}" style="height: 240px; margin-top:-20px;" ng-click="change_picture_active = true">
                <div class="ww-title" style="margin-top:30px; color:#fff; font-size: 23px; text-transform: uppercase;">
                {{ewinwin.title}}</div>
            </div>
            <div ng-show="change_picture_active">
                <div class="container center">
                    <h6 style="background: #f1f1f1; padding:10px; border-radius: 2px;" >CARGA UNA FOTO O ELEGI UN VIDEO</h6>
                    <div class="row">
                        <div style="cursor:pointer" name="uploader" ngf-max-size="8MB" ngf-select="uploadFiles($file)" accept="image/*" class="col-xs-4 uploaders card-panel teal" ngf-accept="'image/*'" style="height:100px;width:90px;">
                            <i ng-show="!uploading" class="fa fa-camera-retro" style="padding-top:0px;" ></i>
                            <img ng-show="uploading" src="/images/loading.gif" height="90" alt="" style="width:90%; height:80%;">
                        </div>
                        <div style="cursor:pointer" class="col-xs-4 uploaders card-panel teal" ng-click="setVideoUrl()">
                            <i class="fa fa-youtube"></i> 
                        </div>
                        <div class="col-xs-4 uploaders card-panel teal" ng-click="select_gallery()" style="cursor:pointer">
                            <i class="fa fa-image"></i> 
                        </div>
                    </div>
                </div>

                <div class="container" ng-show="gallery_picker">
                    <div class="row">
                        <div class="col-xs-12 border-grey" style="min-height: 200px;">
                            <div class="picker no-padding">
                                <select id="image-gallery" class="image-picker" ng-model="image_gallery_selected">
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-1.jpg" value="ww-default-1.jpg">Tierra</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-2.jpg" value="ww-default-2.jpg">Casas</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-3.jpg" value="ww-default-3.jpg">Manos</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-4.jpg" value="ww-default-4.jpg">Libros</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-5.jpg" value="ww-default-5.jpg">Juego</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-6.jpg" value="ww-default-5.jpg">Gente</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-7.jpg" value="ww-default-5.jpg">Trabajo</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-8.jpg" value="ww-default-5.jpg">Oficio</option>
                                    <option data-img-src="http://images.dev-winwins.net/75x100/smart/ww-default-9.jpg" value="ww-default-5.jpg">Colaborar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="container" style="padding:20px;margin-top:-20px;">

            <div class="row">
                <div class="card-panel teal">
                    <label for="title"> Nombre</label>   
                    <a  data-position="left" data-delay="50" data-tooltip="Nombra tu Winwin con algo que lo represente.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a>
                    <input name="title" class="input-field active" type="text" length="120"  ng-model="ewinwin.title" required/>
                    <label> Planteá tu Winwins</label>
                    <a data-position="bottom" data-delay="50" data-tooltip="Describí tu causa y definí cuántas personas se necesitan para concretarla.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> <br>
                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">¿Si supieras que somos </span>  
                    <input class="numero" type="number" placeholder="200"  style="width:20%;" ng-model="ewinwin.users_amount"  ng-required="true" ng-minlength="1"/>

                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">para</span>
                    <div class="pad-10"></div>

                    <textarea id="what_we_do_textarea" class="_materialize-textarea" length="120" ng-model="ewinwin.what_we_do" required></textarea>
                    <span class="si-supieras" style="font-style:italic; background:#f5f5f5; padding: 3px; border-radius:2px; color: #777;">te sumarías?</span><br>

                    <div class="pad-10">   </div>
                    <label for="email"> Más detalles de Winwin</label>  
                    <a type="button" data-position="bottom" data-delay="50" data-tooltip="Acá ingresa información detallada del WinWin, datos e información importante, lugares, fechas, acciones y toda lo que te resuelte relevante.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> 
                    <br>
                    <textarea id="description_textarea" class="_materialize-textarea" length="120" ng-model="ewinwin.description" required></textarea>
                 </div>


                <div class="card-panel teal">
                    <label for="email"> Seleccioná una fecha límite.
                        <span style="color: #ddd; font-size:9px;"> (Si aplica a tu WinWin)</span>
                    </label>  
                    <a type="button" data-position="bottom" data-delay="50" data-tooltip="Algunos WinWins tienen una fecha límite para su concreción, si el tuyo es uno de ellos, ingresala aquí.">
                        <i class="fa fa-question right" style="color: #FF8000;"></i>
                    </a> 
                    <br>
                    <input type="date" id="picker_closing_date" class="datepicker">
                </div>

                <div class="card-panel teal">
                    <div class="input-label">Escala del WinWin <i class="fa fa-question-circle" style="color: red;"></i></div>
                    <select ng-options="item as item for item in scopes track by item.id" ng-model="ewinwin.scope" class="form-control" placeholder="Seleccioná una escala territorial">
                    </select>

                    <div class="input-label">En que categoría? <i class="fa fa-question-circle" style="color: red;"></i></div>
                    <select ng-options="item as item.description for item in interests track by item.id" ng-model="ewinwin.interest" class="form-control" placeholder="Seleccioná una categoría">
                    </select>
                </div>
            </div>



            <div class="pad-10"></div>


            <button class="btn waves-effect green" type="submit" name="action" style="width:100%; font-family: montserrat; text-align:center; height:60px;" ng-disabled="wwBasicForm.$invalid"> 
                Actualizar
            </button>
           <div class="pad-10">   </div>

          
        </div>


    </form>




</div>
