<body>
  <main>
    <!-- WW Card Container-->        
    <div  class="row">
      <!-- WW Card--> 
      <div ng-if="!winwin.is_image" class="col s12 no-padding card-panel teal hoverable">
        <header class="white" style="margin-top:45px;  box-shadow: rgba(62, 55, 55, 0.42) 2px 2px 15px;">
          <!-- WW Flags--> 
          <div class="ww-featured right"><img src="../images/postit.png"></div>
          <span class="popular right red-text" ng-if="winwin.popular"> <i class="fa fa-fire" style="font-size: 16px;"></i></span>
          <span class="finishing right blue-text" ng-if="winwin.finishing"> <i class="fa fa-calendar-check-o"></i></span>
          <!-- WW Imagen--> 
          <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" class="responsive-img ww-image">
            <!-- WW Titulo--> 
            <div class="col-xs-10 col-xs-offset-2 center white-text ww-title">
              {{::winwin.title}}
              <!-- WW concretado / Average Rating Stars-->
              <div ng-show="winwin.is_successful" class="no-padding center white-text animated bounceInUp" style="width: 100%;">  <i class="fa fa-star orange-text"></i></div>
              <div class="col-xs-12" style="padding-top:10px;">
                <div class="col-xs-4 "></div>
                <div ng-hide="winwin.is_successful" class="no-padding center">
                  <div class="col-xs-2 center grey-text"></div>
                  <div class="col-xs-4"></div>
                </div>
              </div>
              <!-- WW Countdown--> 
              <div ng-if="winwin.closing_date && !is_finished" style="font-size: 11px; font-family:montserrat; padding-top:10px;">
                <i class="fa fa-clock-o" style="background-color: #F53430; border-radius:50%; width:12px; height:12px; padding:2px; "> </i> termina en <br> 
                <span style="margin:2px; background-color:black; color:white;padding: 3px;padding-top:1px;padding-bottom:1px;margin:2px;">{{duration_days}}D</span> 
                <span style="margin:3px;background-color:black; color:white;padding: 3px;padding-top:1px;padding-bottom:1px;">{{duration_hours}}H</span> 
                <span style="margin:5px;background-color:black; color:white;padding: 3px;padding-top:1px;padding-bottom:1px;">{{duration_minutes}}"</span>
              </div>
            </div>
          </div>
          <!-- WW Toolbar--> 
          <div class="row toolbar">
            <div class="col-xs-2" >   
              <span class="ww-social-fb-btn" socialshare 
                socialshare-provider="facebook" 
                socialshare-text="{{::winwin.title}}" 
                socialshare-url="http://dev-winwins.net/ww/{{::winwin.id}}"  
                socialshare-media="http://images.dev-winwins.net/{{::winwin.image}}"
                socialshare-via="1082199191794840">
              <i class="fa fa-facebook fa-inverse animated infinite pulse"></i>   </span> 
            </div>
            <div class="col-xs-2">    <span class="ww-social-tw-btn" socialshare socialshare-provider="twitter" socialshare-text="{{::winwin.title}}" socialshare-url="http://dev-winwins.net/ww/{{::winwin.id}}" > <i class="fa fa-twitter fa-inverse animated infinite pulse" ></i>   </span> </div>
            <div class="col-xs-2">    <span class="ww-social-mail-btn " ng-click="openMailModal(winwin)"> <i class="fa fa-envelope-o fa-inverse animated infinite pulse" ></i>   </span> </div>
            <div class="col-xs-3">
              <div class="col-xs-4 ww-somos" style=" margin-left: -20px;">
                <span class="lbl"style="width:55px;"> 
                SOMOS 
                </span> 
                <div  style="background-color: #23AD85;
                  font-size: 17px;
                  font-family: montserrat;
                  min-width: 55px;
                  " class="animated  bounceInLeft">
                  {{::winwin.users_already_joined}}
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="col-xs-4 ww-somos" style=" margin-left: -20px;">
                <span class="lbl" style="width:55px;"> 
                FALTAN 
                </span> 
                <div  style="background-color:  #FE7F01;
                  font-size: 17px;
                  font-family: montserrat;
                  width: 55px;
                  "class="animated  bounceInLeft"
                  >
                  {{::winwin.users_left}}
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
    <!-- Winwin Text-->
    <div class="row wwtxt no-padding">
      <div class="col-xs-12 no-padding">
        <span class="sisupieras"> ¿Si supieras que somos </span>
        <span class="somos-txt"> {{::winwin.users_amount}} personas</span> 
        <div class="ww-text"> para {{::winwin.what_we_do}} </div>
        <span class="tesumarias"> te sumarías? </span>
      </div>
      <!-- Winwin More Details-->
      <div class="container center">
        <button class="mas-detalles grey lighten-3 grey-text" onclick="toggler('mas-detalles');"> MAS DETALLES 
        <span class="caret"></span></button>
      </div>
      <div id="mas-detalles" style="display:none;">
        <!-- Details-->
        <div class="container">
          <div class="col-xs-12">
            <div class="detalles">
              {{::winwin.description}}
            </div>
          </div>
        </div>
        <!-- Winwin Attributes-->
        <div class="row ww-atts grey lighten-4" style="padding:10px;">
          <div class="col-xs-3 small ww-attributte">Estado:<br><span ng-show="winwin.published" style="color:green;"><i class="fa fa-check" style="color: green;"></i> Activo </span><span ng-show="!winwin.published" style="color: red; font-family:montserrat;"><i class="fa fa-cross" style="color: red;"></i> Inactivo</span> </div>
          <div class="col-xs-3 small ww-attributte">Escala:<br><i class="fa fa-globe" style="color: #1762C3;"></i> {{::winwin.scope}}
            <br>
            {{winwin.location.formatted_address}}
          </div>
          <div class="col-xs-3 small ww-attributte">Categorias:<br> {{formattedCategories(winwin.interests)}}</div>
          <!-- Button trigger modal -->
          <div class="col-xs-3 small ww-attributte"> 
            <span style="text-align: center; color:#333;">
            <a style="color: #333;" type="button" data-toggle="modal" data-target="#myModal">
            Reportar <br> <i class="fa fa-exclamation-circle" style="color: red;"></i>WinWin </span> 
          </div>
        </div>  
        <div style="text-align:center; padding: 5px;" ng-if="!winwin.is_successful && winwin.already_joined" > 
          <span ng-click="left()" style="cursor: pointer; font-family: montserrat; font-size: 11px; background: #F7F4F4; color: #848181; padding: 5px; "><i class="fa fa-sign-out"></i> Abandonar WinWin</span>
        </div>
      </div>
      <!-- Modal Report-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="center">
                <h1><i class="fa fa-exclamation-circle red-text  animated wobble"></i></h1>
                <h4>REPORTAR WINWIN</h4>
              </div>
            </div>
            <div class="modal-body">
              <div class="input-field col s12 no-padding">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Describi tus motivos</label>
              </div>
            </div>
            <div class="modal-footer" style="margin:0px;">
              <button class="col-xs-12 waves-effect waves-light btn-large red lighten-3 white-text" style="margin:0px;">Reportar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pad-20"></div>
      <!-- Winwin CTA-->
      <div class="container">
        <div ng-if="!winwin.is_successful && !isSponsor && !winwin.already_joined" class="container no-padding">
          <div class="col-xs-12">
            <div class="col-xs-9 btn-large green">
              <a href class="no-padding" ng-click="join()">
                <h6> <i class="fa fa-play animated infinite flash" style="font-size:14px; padding-top:5px;"></i> ¡SÍ! ME SUMO</h6>
              </a>
            </div>
            <div class="col-xs-3 btn-large grey lighten-4" data-toggle="modal" data-target="#share">
              <a href role="button" class="no-padding black-text" >
                <h6><i class="fa fa-bullhorn animated infinite pulse" style="font-size:14px; padding-top:5px;"></i></h6>
              </a>
            </div>
          </div>
        </div>
        <div class="row" ng-if="isSponsor">
          <div ng-if="winwin.already_sponsored" class="col-xs-10 center  btn-large green">
            <div class="no-padding">
              <h6><i class="fa fa-star"></i>SPONSOREAS ESTE WINWIN!</h6>
            </div>
          </div>
          <div ng-hide="winwin.is_successful" >
            <div ng-if="!winwin.already_sponsored" class="col-xs-10 center btn-large green" style="cursor:pointer"  ng-click="askForSponsored()">
              <div class="no-padding">
                <h6> <i class="fa fa-star animated infinite flash"></i> SPONSOREAR WINWIN</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Winwin Concretado Desaparecen los CTA me sumo, share  & solicitud de sponsoreo-->
      <div ng-show="winwin.is_successful">
        <div class="col-xs-12  green darken-1" style="padding-bottom:20px;">
          <div style="font-size:15px; color:white; text-align:center;">
            <h5 class="white-text"><i class="fa fa-star animated bounceInLeft"></i> CALIFICA ESTE WINWIN</h5>
          </div>
          <!-- Se activa la review del winwin-->
          <div class="container center white black-text" style="border-radius: 5px;" >
            <br>
      
            </div>
            <!-- Evalua tu experiencia -->          
            <p class="small">Por favor, califica tu experiencia en este Winwin:</p>
            <input type="number" name="wwreview" id="review" class="rating" data-clearable=""/>
            <br>
          </div>
          <div class="container center white black-text" ng-show="winwin.already_rated">
            <h6 ng-if="winwin.already_rated"> Gracias por haber participado!</h6>
            <br>
          </div>
        </div>
        <br>   <br>
        <!-- Winwin Users Review-->   
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header orange darken-3 white-text"><i class="fa fa-chevron-right"></i>Ver calificaciones de usuarios.</div>
            <div class="collapsible-body">
              <div class="container no-padding" style="min-height:50px; margin-top:10px;">
                <div class="col-xs-2 no-padding">
                  <!--User Img-->   
                  <span class="col-xs-2 no-padding center" style="cursor: pointer;" ng-click="viewProfile(winwin.user.id)"> 
                  <img ng-src="http://images.dev-winwins.net/30x30/{{::winwin.user.detail.photo}}" class="img-responsive img-circle profile-ww" style=" border-radius: 50%; margin-left:15px; line-height:17px;"></span>
                </div>
                <!--User Review-->                   
                <div class="col-xs-6 small">Estuvo buenisimo, lo vamos a repetir! </div>
                <!--User Stars Rating-->                   
                <div class="col-xs-4">         
                  <i class="fa fa-star orange-text"></i>
                  <i class="fa fa-star orange-text"></i>
                  <i class="fa fa-star orange-text"></i>
                  <i class="fa fa-star orange-text"></i>
                  <i class="fa fa-star orange-text"></i>
                </div>
              </div>
            </div>
            <hr>
          </li>
        </ul>
      </div>
      <!-- Winwin People-->
      <div class="row">
        <div class="col-xs-12 mb-20">
          <div class="col-xs-2 no-padding" style="cursor: pointer;" ng-click="viewProfile(winwin.user.id)"> 
            <img ng-src="http://images.dev-winwins.net/45x45/{{::winwin.user.detail.photo}}" class="img-responsive img-circle profile-ww" style="border: 4px solid #1762C3; border-radius: 50%; margin-left:15px; line-height:17px;">
          </div>
          <!-- Creadores-->   
          <div class="col-xs-3 no-padding ww-creator left" ng-click="viewProfile(winwin.user.id)"> {{::winwin.user.detail.name}} {{::winwin.user.detail.lastname}}<br><span class="small">CREADOR</span> </div>
          <!-- Activadores-->   
          <div class="col-xs-2 no-padding" style="cursor: pointer;" ng-repeat="member in winwin.users |filter: {pivot :{ creator: 0, moderator: 1}}"> 
            <img ng-src="http://images.dev-winwins.net/25x25/{{::member.photo}}" class="img-responsive img-circle profile-ww creator-img" ng-click="viewProfile(member.id)"  alt="{{::member.username}}" title="{{::member.username}}" >
          </div>
          <div class="col-xs-6">
            <div class="col-xs-1" ng-repeat="member in winwin.users">
              <img alt="{{::member.username}}" title="{{::member.usernamename}}" ng-src="http://images.dev-winwins.net/25x25/{{::member.photo}}" class="img-responsive img-circle"  ng-if="member.pivot.moderator == 1"  style="cursor: pointer" ng-click="viewProfile(member.id)"/>
            </div>
          </div>
        </div>
        <!--Sponsors -->
        <div class="col-xs-12 no-padding" ng-if="winwin.active_sponsors.length">
          <span class="col-xs-12" style="margin-top:10px; margin-bottom: 10px; float: left; text-align: left;
            border-radius: 3px;"><i class="fa fa-star yellow-text" style="font-size: 10px;border-radius: 50%; padding:2px; background-color:#1976D2;"></i> <span style="color:#1976D2; font-size: 10px;">SPONSORS </span> </span>
          <div class="col-xs-3" ng-repeat="sponsor in winwin.active_sponsors">
            <img  ng-src="http://images.dev-winwins.net/x50/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left;
              border-radius: 3px;
              height: 100%;
              box-shadow: 2px 2px 3px #9DA09F;
              margin-bottom:10px;
              border: 3px solid #F1F1F1;" class="responsive-image">
          </div>
        </div>
      </div>
    </div>
    <!-- Winwin Activity Wall-->            
    <ng-include src="'views/winwin-tabs/wall_component.html'"></ng-include>
    <div ng-hide="winwin.is_successful" style="min-height:70px;"></div>
    <div ng-hide="!winwin.is_successful" style="min-height:70px;"></div>
    <!-- Modal Share-->        
    <script type="text/ng-template" id="myMailShare.html">
      <div class="modal-header">
          <div class="modal-title" id="myModalLabel">
              <div class="bubble-md create-title">
                  <i class="fa fa-envelope-o"></i><br/>
             <p class="small center">Invita amigos por mail.</p> 
              </div>
          </div>
      </div>
      <div class="modal-body">
          <div class="container" ng-show="!success">
              <div class="row">
                  <input type="email" placeholder="Ingresa mails para invitar" ng-model="current_mail" ng-enter="addMail()">
              </div>
              <div class="row" ng-repeat="mail in mails track by $index">
                  <span class="col-xs-10">{{mail}}</span>
                  <span class="col-xs-2" ng-click="removeMail(mail)">
                      <i class="fa fa-times"></i>
                  </span>
              </div>
              <div class="row">
                  <p class="h7 grey-text"> *Apreta enter para agregar mas de uno.</p>
                  <button type="button" ng-click="sentInvitations()"  class="btn-large green" style="width:100%;">
                     <i class="fa fa-paper-plane" style="font-size: 16px;"></i>   ENVIAR INVITACION!
                 </button>
              </div>
         </div>
         <div class="row" ng-show="success">
     
                     <div style="text-align: center;"> 
                         <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:100px; height: 100px; border-radius: 50%; font-size:5em; padding-top: 0px; text-align:center;"></i>
                        <h6 style="font-family: montserrat;"> Las invitaciones fueron enviadas!</h6>
                     </div>
                </div>
    </script>
        
      <!-- Initialize Toggle-->              
    <script>
      function toggler(divId) {
          $("#" + divId).toggle();
      }
      $(function(){
          $(window).scroll(function() {  
              if($(document).scrollTop() > 150) {    
                   $('#footer').addClass("show");
              } else {
                  $('#footer').removeClass("show");
              }
          });
      })
      
      function init() {
          window.addEventListener('scroll', function(e){
              var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                  shrinkOn = 100,
                  header = document.querySelector("header");
              if (distanceY > shrinkOn) {
                  classie.add(header,"smaller");
              } else {
                  if (classie.has(header,"smaller")) {
                      classie.remove(header,"smaller");
                  }
              }
          });
      }
      window.onload = init();
    </script>
    <!-- Modal Sharer-->
    <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="share" style="display:none;">
      <div class="modal-dialog" role="document">
        <div class="container center">
          <i class="fa fa-elipsis" style="font-size: 2rem;color:#3B5998;"></i>
          <i class="fa fa-bullhorn " style="font-size: 50px; background-color:  #3B5998; color: #FFF; padding: 20px; width:101%;"></i> 
          <i class="fa fa-caret-down " style="font-size: 3rem;margin-top:-23px; color:#3B5998;"></i>
        </div>
        <div class="container no-padding">
          <div class="col-xs-1 no-padding"></div>
          <button style="cursor:pointer; background-color:#3b5998; color:#fff;  margin-top:1px;margin-right:3px;"  class="col-xs-3 animated  wobble uploaders card-panel circle"  
            socialshare
            socialshare-provider="facebook" 
            socialshare-text="{{::winwin.title}}" 
            socialshare-url="http://dev-winwins.net/ww/{{::winwin.id}}"  
            socialshare-media="http://images.dev-winwins.net/{{::winwin.image}}"
            socialshare-via="1082199191794840">
            <i class="fa fa-facebook" style="padding-top:0px;" ></i><br>
          </button>
          <button style="cursor:pointer ;background-color:#1dcaff; color:#fff;margin:3px;"  class="col-xs-3  animated  wobble uploaders card-panel"  socialshare  socialshare-text="{{::winwin.title}}" socialshare-url="http://dev-winwins.net/ww/{{::winwin.id}}" socialshare-provider="twitter">
            <i class="fa fa-twitter" style="padding-top:0px;" ></i><br>
          </button>
          <button style="cursor:pointer;background-color:#EA4235; color:#fff; margin:3px;"  class="col-xs-3 animated  wobble uploaders card-panel"  
            socialshare 
            socialshare-provider="google+" 
            socialshare-text="{{::winwin.title}}" 
            socialshare-media="http://images.dev-winwins.net/{{::winwin.image}}"
            socialshare-url="http://dev-winwins.net/ww/{{::winwin.id}}">
            <i class="fa fa-google" style="padding-top:0px;"></i><br>
          </button>
          <div class="col-xs-12"><button type="button" class="btn-large green" style="width:100%;" data-dismiss="modal" >Listo </button></div>
        </div>
      </div>
    </div>
    <script>$(document).ready(function(){
      $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });
      });
          
    </script>
  </main>
</body>