<div  data-ng-controller="winwin-config">
  
    <div class="container no-padding center card-panel   light-blue darken-3  hoverable z-depth-3" style="margin-top: 80px; position: fixed; z-index:99;">
        <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-bullhorn animated infinite wobble"></i></h1>
        <h4 class="white-text"> Configurar Notificaciones </h4>
    </div>

      
        
        <!--div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6">Todas las Notificaciones</div>
                <div class="col-xs-3">
                   
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div-->
    
<div class="pad-80"></div>

        <div class="container" style="margin-top:200px;">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-comments"></i> Post de Usuarios</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_user_post"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-users"></i> Nuevos Participantes</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_participant"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-server"></i> Encuesta Activa</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_poll"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-bell-o"></i> Campanadas</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_announce"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-star"></i>Nuevo Sponsor</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_new_sponsor"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6"><i class="fa fa-clock-o"></i>Notificar a punto de terminar</div>
                <div class="col-xs-3">
                    <input bs-switch ng-model="winwin.notification_closing_date"  type="checkbox"  ng-true-value="1" ng-false-value="0">
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="pad-30"></div>
 <div class="container">

    <button ng-click="updateNotifications()" role="button" class="btn-large green" style="width: 100%;"> Actualizar Notificaciones</button>

    <div class="pad-20"></div>
 
    <button ng-click="closeWinwin()" role="button" class="btn-large grey lighten-3 grey-text" style="width: 100%;"> Dar de Baja el Winwin</button>
   </div>


</div>
