<div  data-ng-controller="winwin-campanada">
    <div class="pad-30"></div>

       <div class="container no-padding" ng-show="!campanada_success">
        <div class="container no-padding center card-panel   light-blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999">
            <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-bell-o animated infinite wobble"></i></h1>
            <h4 class="white-text"> CAMPANADA</h4>
        </div>
       <i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>
           
           <div class="container">
           <p class="center h7">Envia un mensaje importantes a todos los miembros de tu winwin</p>
      <textarea id="textarea1" class="materialize-textarea" length="140" ng-model="body" placeholder="Escribi tu mensaje."></textarea>
       
       <button type="button" ng-click="sentCampanada()"  class="btn-large green center">
      <i class="fa fa-play animated infinite flash" style="font-size: 15px;" ></i> ENVIAR CAMPANADA!
       </button>
    </div>
    </div>
    <div class="container" ng-show="campanada_success">
       <div class="row">
          <div class="pad-50"> </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
             <div style="text-align: center;">
                <i class="fa fa-check" style="background-color: #58BA57; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top:   20px; text-align:center;"></i>
                <h1 style="font-family: montserrat;"> ¡GENIAL! </h1>
                <h4 style="font-family: montserrat;"> Se envío tu campanada a los miembros!</h4>
                <div class="pad-80"></div>
                <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
             </div>
             <div class="col-xs-2"></div>
          </div>
       </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
  });
        
</script>