<div class="container">
   <div class="row">
      <div class="container col-xs-12 no-padding">
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-users"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-comments"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-star"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20 active">
               <i class="fa fa-comment"></i>
            </div>
         </a>
         <a href="#">
            <div class="col-xs-20">
               <i class="fa fa-bars"></i>
            </div>
         </a>
      </div>
      <div class="container no-padding">
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-star"></i>
         </div>
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-bell"></i>
         </div>
         <div class="col-xs-3 submenu-icons">
            <i class="fa fa-server"></i>
         </div>
         <div class="col-xs-3 submenu-icons active">
            <i class="fa fa-bullhorn"></i>
         </div>


<div class="pad-50"> </div>


<div class="container">
<div class="pad-50"> </div>

    <div class="row">
        <div class="col-xs-12">Configurar Notificaciones</div>
  </div>
 </div>
  




<div class="container">
    <div class="row">
        <div class="col-xs-12">Configurar Notificaciones</div>
  </div>
 </div>
 
 
  <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Todas las Notificaciones</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
    
    
    <div class="container">
    <div class="row">
        <div class="col-xs-12">Seleecionar Notificaciones</div>
  </div>
 </div>
 
  <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Post de Usuarios</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Nuevos Participantes</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Encuesta Activa</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Campanadas</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Nuevo Sponsor</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">Notificar a punto de terminar</div>
        <div class="col-xs-3"><input type="checkbox" name="my-checkbox" checked></div>
        <div class="col-xs-2"></div>
    </div>
</div>

        <div class="pad-50"></div>
<!-- Trigger the modal with a button -->
 <div class="col-xs-1"></div>
  <a href="#" role="button" class="col-xs-10 btn-join" style="background-color: #f5f5f5; border-color: transparent; color: #333;"  data-toggle="modal" data-target="#myModal"> Dar de Baja el Winwin</a>
 <div class="col-xs-1"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Solicitar Baja del Winwin</h4>
      </div>
      <div class="modal-body">
        <p>Contanos tus motivos</p>
              
      <textarea class="form-control"name="" cols="" rows=""></textarea>
      <a href="#" role="button" class="col-xs-12 btn-join" data-toggle="modal" data-target="#myModal"> Solicitar Baja del WinWin</a>

	      </div>

      <div class="modal-footer">
      </div>
    </div>


