<div data-ng-controller="winwin-sponsors-requests">
    <div class="pad-80"></div>
    <button class="btn-large blue darken-2 waves-effect col-xs-3" ng-class="{'active': current == 'active'}" ng-click="filter('active')"><img src="../../images/sponsor_request.png" width="25"/> Activos</button>
    <button class="btn-large blue darken-2 waves-effect col-xs-3" ng-class="{'active': current == 'income'}" ng-click="filter('income')"><img src="../../images/sponsor_request.png" width="25"/> Recibidas</button>
    <button class="btn-large blue darken-2 waves-effect col-xs-3 btn-clean"  ng-class="{'active': current == 'outcome'}" ng-click="filter('outcome')"><img src="../../images/ww_request.png" width="25"/> Enviadas</button>
    <button class="btn-large blue darken-2 waves-effect col-xs-3 btn-clean"  ng-class="{'active': show_candidates}" ng-click="show_candidates = true"><img src="../../images/sponsor.png" width="25"/></button>


    <div ng-if="!show_candidates">
        <br>
        <div ng-if="!accept_success">
            <h5 ng-if="!sponsors.length" class="black-text card-panel"  class="animated  wobble">Actualmente no tienes<br> peticiones de sponsors<br> </h5>

            <div class="grid grid-sponsors">
                <div class="grid-item sponsor-item" ng-class="{'income': sponsor.pivot.ww_accept == 0, 'outcome': sponsor.pivot.sponsor_accept == 0, 'active': sponsor.pivot.sponsor_accept == 1 && sponsor.pivot.ww_accept == 1}" ng-repeat="sponsor in sponsors">

                    <div class="col-xs-12 no-padding">
                        <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{sponsor.cover_photo}}" style="height: 220px;">
                      
                            <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                                <img ng-src="http://images.dev-winwins.net/x100/{{::sponsor.photo}}" class="img-responsive img-circle"  style="margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                            </div>
                            <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                                <h4> 
                                    {{::sponsor.name}} 
                                </h4>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="buttons-profile">
                                    <a href class="col-xs-3 ww-somos">
                                        <span class="bubble-label"> Winwins </span> 
                                        <span class="somos">{{::sponsor.winwins_count}}</span>
                                    </a>
                                    <a ng-if="sponsor.pivot.ww_accept == 0" role="button" class="col-xs-6 btn-join" ng-click="acceptSponsor(sponsor)"> ACEPTAR </a>
                                    <a href class="col-xs-3 ww-somos" >
                                        <span class="bubble-label"> Seguidores </span> 
                                        <span class="falta">{{::sponsor.followers_count}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                                 <!-- Sponsorship Admin -->
                    <div class="col-xs-12 center" ng-if="sponsor.pivot.ww_accept == 1">
                        <p class="small">Leyenda de patrocinio</p> 
                        <h4>{{::sponsor.pivot.sponsor_text}}</h4>
                        <h5 style="text-transform: normal;">{{sponsor.pivot.sponsor_message}}</h5>
                        <button class="btn-large grey col-xs-6" ng-click="modifyLegend(sponsor)"> <p class="h7">Modificar Leyenda</p></button>
                        <button  class="btn-large green col-xs-6" ng-click="cancelSponsored(sponsor)"><p class="h7">Pasar Sponsoreo</p></button>
                    </div>
                </div>


            </div>

        </div>

    </div>
                
                
    <div ng-if="accept_success">
        <div class="container">
            <div class="row">
                <div class="pad-30"> </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div style="text-align: center;"> 
                        <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                        <h2 style="font-family: montserrat; line-height: 35px;"> Perfecto!</h2>
                        <h5 style="font-family: montserrat; color:#444;"> Has aceptado la solicitud de {{sponsor_name}}</h5>  
                        <div class="pad-80"></div>
                        <div class="spinner"></div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>

    </div>

    <div data-ng-controller="winwin-sponsors-to-request" ng-if="show_candidates">
        <div ng-if="!request_success">
            <h5 ng-if="!candidates.length" class="black-text card-panel" style="margin-top:70px;" class="animated  wobble">No se encontraron <br> sponsors nuevos <br> </h5>

            <div class="grid grid-sponsors" style="padding-top: 30px;">
                <div class="grid-item sponsor-item"  ng-repeat="sponsor in candidates">
                    <div class="container no-padding" ng-click="view(sponsor.id)">       
                        <div class="image">
                            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; max-width:100%; ">
                            </div>
                            <div class="col-xs-12 no-padding">

                                <div class="animated fadeInTop col-xs-3 no-padding left" style="left: 20px; bottom: 30px; position: absolute;"> 
                                    <img  class="animated fadeInTop" ng-src="http://images.dev-winwins.net/x60/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left; border-radius: 3px; height: 99%; box-shadow: 2px 2px 3px #9DA09F; margin-bottom:10px; border: 3px solid #F1F1F1; bottom: -10px;" class="responsive-image">

                                </div> 

                                <div class="col-xs-12"></div>
                                <div style="col-xs-6 text-transform: capitalize; font-size:16px;position: absolute; bottom:10px; color: white; left:15px;">  {{::sponsor.name}}</div>


                            </div>
                        </div>

                        <div class="col-xs-12 no-padding" style="height: 45px;">
                            <div class="col-xs-3"> 
                                <span class="h8 grey-text  center " style="padding-top:5px;">Winwins</span>
                                <p class=" green-text  center"><strong>{{::sponsor.winwins_count}}</strong> </p> 
                            </div>
                            <div class="col-xs-3 " style="padding-top:5px;"> 
                                <span class="h8 grey-text  center">Seguidores</span>
                                <p class=" blue-text  center" > <strong>{{::sponsor.followers_count}}</strong>  </p>   
                            </div>
                            <button class="col-xs-4 white-text right waves-effect waves-light green ligthen-4 btn z-depth-0" style="height:100%;" ng-click="requestSponsor(sponsor)"> 
                                <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-o-right white-text animated infinite flash"></i><span style="font-size: 9px; color:white;"> Solicitar Patrocinio </span> </p>
                            </button>
                        </div>
                    </div>
                </div>       

       
                </div>
            </div>

        </div>


        <div ng-if="request_success">
            <div class="container">
                <div class="row">
                    <div class="pad-30"> </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <div style="text-align: center;"> 
                            <i class="fa fa-check" style="background-color:green; color: #fff; width:170px; height: 170px; border-radius: 50%; font-size:9em; padding-top: 20px; text-align:center;"></i>
                            <h2 style="font-family: montserrat; line-height: 35px;"> Perfecto!</h2>
                            <h5 style="font-family: montserrat; color:#444;"> Tu solicitud se ha enviado a {{sponsor_name}}</h5>  
                            <div class="pad-80"></div>
                            <img src="/images/loading.gif" width="110" height="80" alt="loading"> 
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

