<div ng-data-controller="winwin-sponsors">

    <div class="row">
        <button type="button" ng-click="filter('all')" class="col-xs-4 active filter" ng-class="{active: current == 'all'}">Todos</button>
        <button type="button" ng-click="filter('promoted')" class="col-xs-4 active filter" ng-class="{active: current == 'promoted'}">Detacados</button>
    </div>

    <div class="grid grid-sponsors">
        <div class="grid-item sponsor-item {{classType(sponsor)}}"  ng-repeat="sponsor in winwin.sponsors">

    
            <div class="col-xs-12 no-padding">
                <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{sponsor.cover_photo}}" style="height: 220px;">
              
                    <div class="profile-avatar" style="left:50%; display:block; width:99%; text-align:center; padding-top:30px;">
                        <img ng-src="http://images.dev-winwins.net/x100/{{::sponsor.photo}}" class="img-responsive img-circle"  style="margin-left: auto; margin-right:auto; dislay:block; width:100px;"/>
                    </div>
                    <div style="margin-left:auto; margin-right: auto; display:block; width:99%; text-align:center; font-family: montserrat; color: white; font-size: 16px;">
                        <h4> 
                            {{::sponsor.name}} 
                        </h4>
                  
                    </div>
                </div>

   
   
                <div class="container">
                    <div class="row">
                        <div class="buttons-profile">
                            <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                            <a ng-show="!sponsor.following" role="button" class="col-xs-6 btn-join"  ng-click="follow(sponsor)"> SEGUIR</a>
                            <a ng-show="sponsor.following" role="button" class="col-xs-6 btn-join"  ng-click="follow(sponsor)"> SIGUIENDO </a>
                            <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
                        </div>
          

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

      
