

<div data-ng-controller="winwin-sponsors">

        <!-- WW no sponsors - Si no hay sponsors entonces -->
        <div class="row"><br><br>
        <h5 ng-if="!winwin.active_sponsors.length" class="grey-text card-panel"><br><i class="fa fa-star orange-text animated infinite pulse" style="font-size: 40px;"></i><br><br>Aun no hay sponsors!<br></h5></div>
        
        <!-- WW no sponsors -->

        <div class="col-xs-12 no-padding card-panel hoverable white {{classType(sponsor)}}"  ng-repeat="sponsor in sponsors" ng-click="viewSponsor(sponsor.id)">
       <div class="container no-padding" ng-click="view(sponsor.id)">       
    <div class="image">
        
         <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/smart/{{::sponsor.cover_photo}}"  class="responsive-img" style="min-height: 220px; max-width:100%; ">
             
             </div>
                    
        <div class="col-xs-12 no-padding">
                 
                   <!--     <div class="animated fadeInTop col-xs-3 no-padding left white hoverable z-depth-3 card-panel teal" style="height:100px; width:120px; left: 20px; bottom: -20px; position: absolute;"> 
                      <img ng-src="http://images.dev-winwins.net/smart/{{::sponsor.photo}}" class="img-responsive " > 
            </div>  -->
            <div class="animated fadeInTop col-xs-3 no-padding left" style="left: 20px; bottom: 30px; position: absolute;"> 
              <img  class="animated fadeInTop" ng-src="http://images.dev-winwins.net/x60/{{::sponsor.photo}}" ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="border-radius:2px;  float: left;
              border-radius: 3px;
              height: 99%;
              box-shadow: 2px 2px 3px #9DA09F;
              margin-bottom:10px;
              border: 3px solid #F1F1F1; bottom: -10px;" class="responsive-image">
        
        </div> 
            
            <div class="col-xs-12"></div>
           <div style="col-xs-6 text-transform: capitalize; font-size:16px;position: absolute; bottom:10px; color: white; left:15px;">  {{::sponsor.name}} 
      
        
        
        </div>
               
          
             </div>
              </div>
         
            <div class="col-xs-12 no-padding" style="height: 45px;">
                
                     
                          <div class="col-xs-3"> 
                                 <!--winwins sponsor count -->
                               <span class="h8 grey-text  center " style="padding-top:5px;">Winwins</span>
                             <p class=" green-text  center"><strong>{{::sponsor.winwins_count}}</strong> </p> 
                </div>
                              <!--followers sponsor count -->
                               <div class="col-xs-3 " style="padding-top:5px;"> 
                                   <span class="h8 grey-text  center">Seguidores</span>
                              <p class=" blue-text  center" > <strong>{{::sponsor.followers_count}}</strong>  </p>   
                               </div>
                          
                <button class="col-xs-4 white-text right waves-effect waves-light green ligthen-4 btn z-depth-0" style="height:100%;"> <p class="h8 no-padding" style="margin-top:-8px;"> <i class="fa fa-hand-o-right white-text animated infinite pulse"></i><span style="font-size: 9px; color:white;"> Seguir   </span> </p></button>
           </div>

            
       
        </div>
                 

         </div>       
   


 

<!-- search -->
<div id="footer-s" data-ng-controller="main-search-controller">

    <nav>
        <div class="nav-wrapper  blue darken-4">
            <form>
                <div class="col-xs-12">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." style="margin-top:10px;" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
                        <!-- I've put "red-text" class to emphasize -->
                        <i class="fa fa-search bar right" style="font-size: 19px; padding-top:10px;" id="query" ng-click="search()"></i>


                    </div>
            </form>
            </div>
        </div>
    </nav>
</div>
        

<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer-s').addClass("show");
}
else
{
    $('#footer-s').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>
