<div data-ng-controller="winwin-sponsors" >
    <div class="grid grid-sponsors">
        <div class="pad-30"></div>
        
        <!-- WW no sponsors - Si no hay sponsors entonces -->
        
        <h5 ng-if="!winwin.active_sponsors.length" class="grey-text card-panel"><br><i class="fa fa-star orange-text animated infinite pulse" style="font-size: 40px;"></i><br><br>Aun no hay sponsors!<br></h5>
        
        <!-- WW no sponsors -->

        <div class="col-xs-12 no-padding card-panel hoverable white {{classType(sponsor)}}"  ng-repeat="sponsor in sponsors">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/200x/smart/{{sponsor.cover_photo}}">
                <div class="profile-avatar center">
               <img ng-src="http://images.dev-winwins.net/x100/{{::sponsor.photo}}" class="img-responsive avatar-img" >
            </div>
               <h4 class="center white-text"> 
                  {{::sponsor.name}} 
               </h4>
            <div class="container no-padding">
               <div class="buttons-profile" style="margin-top:0px;">
                  <a href="#" class="col-xs-3  ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::sponsor.winwins_count}}</a>
                  <a ng-show="!sponsor.following" role="button" class="col-xs-5 btn-join"  ng-click="follow(sponsor)"> SEGUIR</a>
                  <a ng-show="sponsor.following" role="button" class="col-xs-5  btn-join"  ng-click="follow(sponsor)"> SIGUIENDO </a>
                  <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::sponsor.followers_count}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


      
<div id="footer" data-ng-controller="main-search-controller">

<nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
             <label for="search"><i class="fa fa-search" style="font-size: 1.6rem;"></i><span style="font-family: montserrat; color: #fff;">Buscar Winwins, Sponsors, Personas...</label>
          <input id="query"  type="search" required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
         
          <i class="fa fa-close"></i>
        </div>
      </form>
    </div>
  </nav>
  </div>
