<div class="container">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}" style="height: 220px;">
                <div class="winwin-title">
                    <h4>
                        {{::winwin.title}}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="buttons-winwins">
                <div class="col-xs-2 col-sm-2">
                    <span class="col-xs-2 btn-fbk-big " socialshare socialshare-provider="facebook" socialshare-text="{{::winwin.title}}" socialshare-url="http://dev-winwins/ww/winwin/{{::winwin.id}}" style="cursor: pointer"> 
                        <i class="fa fa-facebook fa-inverse"></i> 
                    </span>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="col-xs-2 "> </a> 
                    <span class="col-xs-2 btn-twitter-big " socialshare socialshare-provider="twitter" socialshare-text="{{::winwin.title}}" socialshare-url="http://dev-winwins/ww/winwin/{{::winwin.id}}" style="cursor: pointer"> 
                        <i class="fa fa-twitter fa-inverse"></i> 
                    </span>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="col-xs-2 btn-email"><i class="fa fa-envelope-o left "></i></a> 
                </div>
                <div class="col-xs-3 col-sm-3">
                    <a href="#" class="col-xs-3 ww-somos">
                        <span class="bubble-label"> 
                            Somos 
                        </span> 
                        <span class="somos">
                            {{::winwin.users_already_joined}}
                        </span>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3">  
                    <a href="#" class="col-xs-3 ww-somos">
                        <span class="bubble-label"> 
                            Faltan 
                        </span> 
                        <span class="falta">
                            {{::winwin.users_left}}
                        </span> 
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>

      <!-- Winwin Text-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 ww-text-">
            <div class="pad-20"></div>
            <span class="sisupieras">¿Si supieras que somos </span>
            <span class="somos-txt">{{::winwin.users_amount}}</span> 
            <span class="ww-text"> para {{::winwin.what_we_do}} </span>
            <span class="tesumarias"> te sumarías? </span>
        </div>
    </div>
</div>
<div class="pad-20"></div>
  <!-- Winwin More Details-->
<div class="container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"> 
            <button  class="mas-detalles" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                MAS DETALLES 
                <span class="caret"></span>
            </button></div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>
<!-- Details-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="detalles">
                {{::winwin.description}}
            </div>
        </div>
    </div>
</div>

<!-- Winwin Attributes-->
<div class="container">
    <div class="row" style="font-family: montserrat; font-size:10px; text-align:center;">
        <div class="col-xs-3 ww-attributte">Estado:<br><span ng-show="winwin.published"<i class="fa fa-check" style="color: green;"></i> Active </span><span ng-show="winwin.published"<i class="fa fa-cross" style="color: red;"></i> Inactivo</span> </div>
        <div class="col-xs-3 ww-attributte">Escala:<br><i class="fa fa-globe"></i> {{::winwin.scope}}</span> </div>
        <div class="col-xs-3 ww-attributte">Category:<br> Medio Ambiente</span> </div>
        <div class="col-xs-3 ww-attributte"> <span style="text-align: center;">Reportar <br> <i class="fa fa-exclamation-circle" style="color: red;"></i>WinWin </span> </div>
    </div>
</div>


<!-- Winwin CTA-->
<div class="container">
    <div class="row">
        <div class="col-xs-7 cta-join">
            <a href="#" class="no-padding" ng-click="join()">
                <h6>SI! ME SUMO</h6>
            </a>
        </div>
        <div class="col-xs-5 cta-pass">
            <a href="#" class="no-padding" ng-click="pass()">
                <h6>LA PROXIMA</h6>
            </a>
        </div>
    </div>
</div>


  <!-- Winwin People-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 mb-20" style="background-color: #f1f1f1; padding: 10px 10px 20px;"> 
            <div class="col-xs-6 no-padding" style="cursor: pointer" ng-click="viewProfile(winwin.user.id)"> 
                <img ng-src="http://images.dev-winwins.net/42x42/{{::winwin.user.detail.photo}}" class="img-responsive img-circle profile">
                <h5 style="padding: 10px 10px 10px 10px;">{{::winwin.user.detail.name}} {{::winwin.user.detail.lastname}}</h5>
            </div>
            <div class="col-xs-6">
                <ul class="list-inline">
                    <li ng-repeat="member in winwin.users">
                        <img alt="{{::member.detail.name}}" title="{{::member.detail.name}}" ng-src="http://images.dev-winwins.net/42x42/{{::member.detail.photo}}" class="img-responsive img-circle-second"  ng-show="member.id != winwin.user.id"  style="cursor: pointer" ng-click="viewProfile(member.id)"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 mb-20">
            <div class="col-xs-4" ng-repeat="sponsor in winwin.sponsors">
                    <img alt="{{::sponsor.name}}" title="{{::sponsor.name}}" ng-src="http://images.dev-winwins.net/x42/{{::sponsor.photo}}" width="100" height="42">
            </div>
        </div>
    </div>
</div>

<!-- Winwin Activity Wall-->            





<div data-ng-controller="winwin-muro">

    <div class="container" ng-repeat="item_post in posts">

        <div class="row">
            <div class="panel-body post">
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-3 no-padding text-center">
                            <img ng-src="http://images.dev-winwins.net/38x38/{{::item_post.user.detail.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                            <span class="nombre"> {{::item_post.user.detail.name}}</span>
                            <span class="date">{{::item_post.created_at | moment: 'DD/MM/YYYY'}}</span>
                        </div>
                        <div class="col-xs-9 no-padding-left">
                            <p class="p-lista" style="">
                                {{::item_post.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="media-post"> </div>
            <div ng-show="item_post.media.type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{::item_post.media.id}}.{{::item_post.media.ext}}" style="height:220px;"></div>
            <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" max-height="220">
                <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(item_post.media.path)}}" allowfullscreen=""></iframe>
            </div>

            <!-- Toolbar -->
            <div class="container buttons-post">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2"> <i class="fa fa-thumbs-o-up"  style="cursor:pointer;" ng-click="voteUp(post)"></i> <span class="post-likes"> 10</span></div>
                    <div class="col-xs-2"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"  style="cursor:pointer;" ng-click="voteDown(post)"></i><span class="post-likes-"> 10</span></div>
                    <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="!item_post.isReplying" ><span class="comments-ico" ng-click="reply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="item_post.isReplying" ><span class="comments-ico" ng-click="cancelReply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
            <!-- Commments PostBox-->
            <div class="container comments-box" ng-show="item_post.isReplying">
                <div class="col-xs-2 post-image">
                    <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38"/>
                </div>
                <div class="col-xs-6 ">
                    <div class="bubbles">
                        <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
                    </div>
                </div>
                <a href="#" role="button" class="col-xs-2 button-send"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
                <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-youtube"></i></a>
                <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-camera-retro"></i></a>
            </div>
        </div>
    </div>

    <div class="container comments-box">
        <div class="col-xs-2 post-image">
            <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38"/>
        </div>
        <div class="col-xs-6 ">
            <div class="bubbles">
                <textarea class="postbox" placeholder="Postear acá" rows="4" ng-model="post.content" no-resize ng-required="true" ng-focus="max_size()" > </textarea>
            </div>
        </div>
        <span type="button" class="col-xs-2 button-send" ng-click="submitPost()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></span>
        <span class="col-xs-1 upload-post" ng-click="setVideoUrl()"><i class="fa fa-youtube"></i></span>
        <span type="file" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-size="8MB"><i class="fa fa-camera-retro"></i></span>
    </div>

</div>






 
