

<div data-ng-controller="winwin-muro" style="margin-bottom:80px;">


    <div class="container" ng-repeat="item_post in posts">
        <div class="row">
 <div class="col-xs-12 no-padding">
  
        </div>
            <div class="panel-body post">

                 <div class="col-xs-12 no-padding" style="background:white;">
                    <div class="col-xs-2 no-padding">    <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle profile-ww" width="38" height="38"/></div>
                            <div class="col-xs-10 no-padding">
                            <p class="p-lista" style="padding-right: 15px;">
                                {{::item_post.content}}
                                    <!-- Toolbar -->
            <div class="container buttons-post">
                <div class="row">
                    
                    <div class="col-xs-3"> <i class="fa fa-thumbs-o-up"  style="cursor:pointer;" ng-click="voteUp(post)"></i> <span class="post-likes"> 10</span></div>
                    <div class="col-xs-3"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"  style="cursor:pointer;" ng-click="voteDown(post)"></i><span class="post-likes-"> 10</span></div>
                    <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="!item_post.isReplying" ><span class="comments-ico" ng-click="reply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="item_post.isReplying" ><span class="comments-ico" ng-click="cancelReply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-3"></div>

                </div>
            </div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Media -->
            
            <div class="media-post"> </div>
            <div ng-show="item_post.media.type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{::item_post.media.id}}.{{::item_post.media.ext}}" style="height:240px;"></div>
            <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" max-height="240">
                <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(item_post.media.path)}}" allowfullscreen=""></iframe>
            </div>

            
            <!-- Commments PostBox-->
            <div class="container comments-box reply" ng-show="item_post.isReplying">
                <div class="col-xs-2 post-image">
                    <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle profile-ww" width="38" height="38"/>
                </div>
                <div class="col-xs-6 ">
                    <div class="bubbles">
                        <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
                    </div>
                </div>
                <a href="#" role="button" class="col-xs-2 button-send"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
                <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-youtube"></i></a>
                <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-camera-retro"></i></a>
            </div>
        </div>
    </div>



<div id="footer">
    <div class="container comments-box">
        <div class="col-xs-2 post-image">
            <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle profile-ww" width="38" height="38"/>
        </div>
        <div class="col-xs-6 ">
            <div class="bubbles">
                <textarea class="postbox" placeholder="Postear acá" rows="4" ng-model="post.content" no-resize ng-required="true" ng-focus="max_size()" > </textarea>
            </div>
        </div>
        <span type="button" class="col-xs-2 button-send" ng-click="submitPost()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></span>
        <span class="col-xs-1 upload-post" ng-click="setVideoUrl()"><i class="fa fa-youtube"></i></span>
        <span type="file" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-size="8MB"><i class="fa fa-camera-retro"></i></span>
    </div>

</div>

</div>


    <div class="container" ng-repeat="item_post in posts">

        <div class="row">
            <div class="panel-body post">
                        <div class="col-xs-2 no-padding text-center">
                            <img ng-src="http://images.dev-winwins.net/38x38/{{::item_post.user.detail.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
                            <span class="nombre"> Leonardo </span>
                            <span class="date">{{::item_post.created_at | moment: 'DD/MM/YYYY'}}</span>
                        </div>
                        <div class="col-xs-10 no-padding-left">
                            <p class="p-lista" style="">
                                {{::item_post.content}}
                            </p>
                        </div>
                </div>
            </div>
         <!-- Winwin-->
            <div class="media-post"> </div>
            <div ng-show="item_post.media.type == 'IMAGE'" dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/smart/{{::item_post.media.id}}.{{::item_post.media.ext}}" style="height:220px;">
            </div>
            <div ng-show="item_post.media.type == 'VIDEO'" class="embed-responsive embed-responsive-16by9" max-height="220">
                <iframe class="embed-responsive-item" ng-src="{{getIframeSrc(item_post.media.path)}}" allowfullscreen=""></iframe>
            </div>

            <div class="container  buttons-post">
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-2"> <i class="fa fa-thumbs-o-up"  style="cursor:pointer;" ng-click="voteUp(post)"></i> <span class="post-likes"> 10</span></div>
                    <div class="col-xs-2"><i class="fa fa-thumbs-o-down" style="padding-top:2px;"  style="cursor:pointer;" ng-click="voteDown(post)"></i><span class="post-likes-"> 10</span></div>
                    <div class="col-xs-2"><span class="share-ico"><i class="fa fa-share" style="padding-top:4px;"></i> </span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="!item_post.isReplying" ><span class="comments-ico" ng-click="reply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-2" style="cursor:pointer;" ng-show="item_post.isReplying" ><span class="comments-ico" ng-click="cancelReply(item_post)"> <i class="fa fa-comment"></i></span></div>
                    <div class="col-xs-1"></div>
                </div>
            </div>


            
    <!-- Reply Comment PostBox-->
            <div class="container comments-box" ng-show="item_post.isReplying">
                <div class="col-xs-2 post-image"><img src="img/profile.png" class="img-circle-simple" width="38" height="38"></div>
                    <div class="col-xs-6 ">
                        <div class="bubbles">
                            <textarea class="postbox" placeholder="Postear acá" rows="4" ></textarea>
                        </div>
                    </div>
                    <a href="#" role="button" class="col-xs-2 button-send"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
                    <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-youtube"></i></a>
                    <a href="#" role="button" class="col-xs-1 upload-post"><i class="fa fa-camera-retro"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container comments-box">
        <div class="col-xs-2 post-image">
            <img ng-src="http://images.dev-winwins.net/38x38/{{profile.photo}}" class="img-circle-simple" width="38" height="38" style="margin-left:0" />
        </div>
        <div class="col-xs-6 ">
            <div class="bubbles">

                <textarea class="postbox" placeholder="Postear acá" rows="4" ng-model="post.content" no-resize ng-required="true" ng-focus="max_size()" > </textarea>
            </div>
        </div>
        <a href="#" role="button" class="col-xs-2 button-send" ng-click="submitPost()"><i class="fa fa-paper-plane" style="margin-left: -3px;"></i></a>
        <a href="#" role="button" class="col-xs-1 upload-post" ng-click="setVideoUrl()"><i class="fa fa-youtube"></i></a>
        <a href="#" role="button" type="file" class="col-xs-1 upload-post" ngf-select="uploadFiles($file)" accept="image/*" ngf-max-size="8MB"><i class="fa fa-camera-retro"></i></a>
    </div>

</div>

<!-- Winwin Activity Wall-->            





