.acme-highlighted {
  md-card {
    md-card-content {
      position: relative;
      padding: 0;

      md-card-title-text {
        opacity: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        &:hover {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        display: block;
      }
      .card-labels {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    md-card-actions {
      md-card-header {
        padding: 0;
      }
      .card-members {
        strong {
          display: block;
          color: #26a3ac;
        }
      }
    }
  }
  .icon {
    border-radius: 50%;
    padding: 3px;
    top: -4px;
    color: #fff;
    font-size: 14px;
    &.icon-access_time {
      background-color: #0d47a1;
    }
    &.icon-watshot {
      background-color: #e5452e;
    }
    &.icon-highlighted {
      position: relative;
      top: -3px;
    }
  }
}
