<div class="container" style="margin-top:55px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 create-title bubble-big">
            El primer paso es el más simple y el más importante 
        </div>
    </div>
</div>
<div ng-if="!isAuthenticated()" class="container como-funciona">
    <div class="pad-20"></div>
    <div class="col-xs-12">
        <h5>Creá una cuenta o Ingresá.</h5>
        <a ng-href="/#/signup" class="col-xs-6 btn"> CREAR </a>
        <a ng-href="/#/signin" class="col-xs-6 btn-green">  INGRESAR</a>
    </div>
</div>
<div class="container como-funciona">
    <div class="col-xs-12">
        <h5>Comenzá o Sumate a un Winwin</h5>
        <a ng-href="/#/winwin-new" class="col-xs-6 btn"> COMENZAR </a>
        <a ng-href="/#/winwin-list" class="col-xs-6 btn-green">  SUMARSE</a>
    </div>
</div>
<div class="container como-funciona">
    <div class="col-xs-12">
        <h5>CREA UN GRUPO O UNITE</h5>
        <a ng-href="/#/group-new" class="col-xs-6 btn"> CREAR </a>
        <a ng-href="/#/group-list" class="col-xs-6 btn-green">  UNIRSE</a>
    </div>
</div>
<div class="container como-funciona">
    <div class="pad-20"></div>
    <div class="col-xs-1"></div>
    <a ng-href="/#/sponsor-new" class="col-xs-10 btn-grey"> CONVERTITE EN SPONSOR </a>
    <div class="col-xs-1"></div>
</div>


