<div class="container no-padding">
    <div class="row">
        <div class="card-panel col-xs-12 col-sm-12 create-title bubble-big bb hoverable" style="background-color:#1762C3;">
            El primer paso es el más simple y el más importante 
        </div>
    </div>
</div>
<div ng-if="!isAuthenticated()" class="container como-funciona">
    <div class="pad-20"></div>
    <div class="col-xs-12">
        <h5>Creá una cuenta o Ingresá.</h5>
        <a ng-href="/#/signup" class="col-xs-6 btn"> CREAR </a>
        <a ng-href="/#/signin" class="col-xs-6 btn-green">  INGRESAR</a>
    </div>
</div>

<div class="container">
    <div class="col-xs-12">
        <h5 class="center"><i class="fa fa-comments"></i></h5>
        <h5 class="center">COMENZA O SUMATE A UN WINWIN</h5>
        <a ng-href="/#/winwin-new" class="text-white waves-effect waves-light btn-large text-white col-xs-6 "><i class="fa fa-play" style="font-size:15px;"></i> COMENZAR </a>
        <a ng-href="/#/winwin-list" class="text-white waves-effect waves-light orange btn-large  col-xs-6"> <i class="fa fa-plus" style="font-size:15px;"></i> SUMARSE</a>
    </div>
</div>
<div class="container">
    <div class="pad-20"></div>
    <div class="col-xs-12">
             <h5 class="center"><i class="fa fa-users"></i></h5>
        <h5>CREA UN GRUPO O UNITE</h5>
        <a ng-href="/#/group-new" class="waves-effect waves-light btn-large text-white col-xs-6 "> <i class="fa fa-play" style="font-size:15px;"></i>  CREAR </a>
        <a ng-href="/#/group-list" class="waves-effect waves-light orange btn-large text-white col-xs-6">  <i class="fa fa-plus" style="font-size:15px;"></i> UNIRSE </a>
    </div>
</div>
</div>
    <div class="pad-20"></div>
        <div class="pad-20"></div>
<div class="container">
    <div class="col-xs-1"></div>
    <a ng-href="/#/sponsor-new" class="col-xs-10 btn-grey">  <i class="fa fa-star"></i> CONVERTITE EN SPONSOR</a>
    <div class="col-xs-1"></div>
</div>
        <div class="pad-20"></div>
<div class="container">
    <div class="col-xs-1"></div>
    <a ng-href="/#/how" class="col-xs-10 btn-grey"> ¿COMO FUNCIONA? </a>
    <div class="col-xs-1"></div>
</div>


