
<!--
  <div class="container no-padding">
  <div class="input-field col s12 no-padding" style="margin-top: 5px; margin:-15px;">
    <select>
      <option value="1" >Todos los miembros</option>
      <option value="2">Nuevos</option>
      <option value="3">Populares</option>
    </select>   
  </div>
    </div>
-->

 <div infinite-scroll='users.nextPage()'>
        <div class="col-xs-12 no-padding card-panel teal hoverable" ng-repeat="user in users.items">
<div class="container no-padding">

        <div class="col-xs-12 no-padding">
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::user.cover_photo}}" style="height: 220px;">
                <div class="profile-avatar avatar">
                    <img ng-src="http://images.dev-winwins.net/smart/{{::user.photo}}" class="img-responsive img-circle center"/>
                </div>
                <div class="username"> {{::user.name}} </div>
            </div>

    <div class="container no-padding">

            <div class="buttons-profile">
                <a href="#" class="col-xs-3 ww-somos">  <span class="bubble-label"> Winwins </span> <span class="somos">{{::user.winwin_count}}</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="user.already_following" ng-click="unfollow()"> DEJAR DE SEGUIR</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="!user.already_following" ng-click="follow()"> SEGUIR</a>
                <a href="#" class="col-xs-3 ww-somos" ><span class="bubble-label"> Seguidores </span> <span class="falta">{{::user.followers_count}}</a>
            </div>
        </div>

</div>

        <div id="footer" data-ng-controller="main-search-controller">

<nav>
    <div class="nav-wrapper  blue darken-4">
      <form>
        <div class="col-xs-12">
          <div class="input-field">
          <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="search()">
          <!-- I've put "red-text" class to emphasize -->
          <i class="fa fa-search right" id="query" ng-click="search()" style="padding-top:10px; font-size: 20px;"></i>
                      <label for="query"></span></label>

        </div>
      </form>
    </div>
     </nav>
  </div>
</div>
 
        

<script>
    $(function(){
    $(window).scroll(function() {  
if($(document).scrollTop() > 150)
{    
     $('#footer').addClass("show");
}
else
{
    $('#footer').removeClass("show");
}
        });
    })
</script>
    
    <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
            </script>

<script>

  $(document).ready(function() {
    $('select').material_select();
  });

  </script>