
<!--
  <div class="container no-padding">
  <div class="input-field col s12 no-padding" style="margin-top: 5px; margin:-15px;">
    <select>
      <option value="1" >Todos los miembros</option>
      <option value="2">Nuevos</option>
      <option value="3">Populares</option>
    </select>   
  </div>
    </div>
-->

<div infinite-scroll='users.nextPage()'>
    <div class="col-xs-12 no-padding card-panel teal hoverable" ng-repeat="user in users.items">
        <div class="container no-padding">

      <!-- WW Img -->
            <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/{{::winwin.image}}" style="height: 220px; cursor: pointer;" ng-click="view(winwin.id)">
                <div class="username-cards text-uppercase" style="padding-top:70px;">{{::winwin.title}}</div>
                <div class="col-xs-12" style="padding-top:10px;">
                    <div class="col-xs-4 "></div>
                    <div class="col-xs-2 center "></div>
                    <div class="col-xs-2 center grey-text"></div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
            <!-- Info Bar -->
            <div class="username"> {{::user.name}} </div>

        </div>

        <div class="container no-padding">

            <div class="buttons-profile">
                <a href class="col-xs-3 ww-somos">  <div> <span class="bubble-label"> Winwins </span> <span class="somos">{{::user.winwins_count}}</span></div></a>
                <a role="button" class="col-xs-5 btn-join" ng-show="user.already_following" ng-click="unfollow(user)"> DEJAR DE SEGUIR</a>
                <a role="button" class="col-xs-5 btn-join" ng-show="!user.already_following" ng-click="follow(user)"> SEGUIR</a>

                <a href class="col-xs-3 ww-somos" ><div><span class="bubble-label"> Seguidores </span> <span class="falta">{{user.followers_count}}</span></div></a>
            </div>
        </div>

    </div>

</div>

<div id="footer-s" data-ng-controller="main-search-controller">

    <nav>
        <div class="nav-wrapper  blue darken-4">
            <form>
                <div class="col-xs-12">
                    <div class="input-field">
                        <input id="query" type="search" class="col-xs-10 no-padding" placeholder="Buscar..." required ng-model="term" aria-describedby="search-lbl" ng-enter="searchUsers()">
                        <button  id="query" ng-click="searchUsers()"  class="blue darken-4 right white-text waves-effect waves-light btn-large z-depth-0"> <i class="fa fa-search small"></i></button> 
                        <label for="query"></span></label>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>
         
            

<script>
$(function(){
    $(window).scroll(function() {  
        if($(document).scrollTop() > 150) {    
             $('#footer-s').addClass("show");
        } else {
            $('#footer-s').removeClass("show");
        }
    });
    $('select').material_select();
});
</script>

