    <!-- WW Cards-->
    <div class="container card-panel teal hoverable s12" ng-repeat="winwin in user_detail.winwins" style="padding:0px; padding-bottom:10px;">
    <div ng-if="winwin.is_sponsor" class="container">
       <div  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.cover_photo}}" style="max-height: 200px; cursor: pointer;" class="responsive-img" ng-click="viewSponsor(winwin.id)">
       </div>
    </div>
    <!-- labels -->
    <div class="container no-padding" ng-if="!winwin.is_sponsor">
       <div class="col-xs-12 no-padding">
          <div class="ww-featured" ng-if="winwin.mark == 'remarkable'">
             <div class="ww-featured featured"> <i class="fa fa-bookmark"></i></div>
          </div>
          <div class="ww-popular" ng-if="winwin.mark == 'popular'">
             <div class="ww-popular pop right">Pop</div>
          </div>
          <div class="ww-finishing" ng-if="winwin.mark == 'finishing'">
             <div class="ww-finishing clock"> <i class="fa fa-clock-o"></i></div>
          </div>
       </div>
       <!-- WW Img -->
       <div dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/220x/{{::winwin.image}}" style="height: 220px; cursor: pointer;" ng-click="viewWinwin(winwin.id)">
          <div class="username-cards text-uppercase" style="padding-top:50px;">{{::winwin.title}}</div>
       </div>
       <!-- Info Bar -->
       <div class="col-xs-12" style="margin-top: 10px;">
          <div class="col-xs-2 no-padding">      
             <img ng-src="http://images.dev-winwins.net/40x40/{{::winwin.user.photo}}" title="{{::winwin.user.username}}" alt="{{::winwin.user.username}}" ng-click="viewProfile(winwin.user.id)" class="img-circle" style="cursor:pointer;">  
          </div>
          <div class="col-xs-6 no-padding">  
             <img ng-repeat="sponsor in winwin.sponsors" class="responsive-img" ng-src="http://images.dev-winwins.net/40x/{{::sponsor.photo}}"   ng-click="viewSponsor(sponsor.id)" title="{{::sponsor.name}}" alt="{{::sponsor.name}}" style="cursor:pointer; border-radius:2px; margin:5px;">   
          </div>
          <!-- somos -->
          <div class="col-xs-2 no-padding" style="margin-top:-3px;"> 
             <span style="font-size:9px;">SOMOS </span> <br>
             <span style="color:#26a69a; margin-top:0px;padding-left:3px;padding-right:3px;border-radius:2px; font-weight:bold; text-align:center; background-color: #eee;"> {{::winwin.users_joined}}</span> 
          </div>
          <!-- share button -->
          <div class="col-xs-2"  ng-click="openSocialModal(winwin)"><i class="fa fa-share animated infinite pulse" style="font-size:16px; color:#555; padding-top:10px;"></i></a>
          </div>
       </div>
    </div>

<script type="text/ng-template" id="winwinShareModal.html">
   <div class="container center">
   
        <i class="fa fa-elipsis" style="font-size: 2rem;color:#3B5998;"></i>
        <i class="fa fa-bullhorn " style="font-size: 50px; background-color:  #3B5998; color: #FFF; padding: 20px; width:101%;"></i> 
        <i class="fa fa-caret-down " style="font-size: 3rem;margin-top:-23px; color:#3B5998;"></i>
    </div>
   
     <div class="container no-padding">
        <div class="col-xs-1 no-padding"></div>
        <div style="cursor:pointer; background-color:#3b5998; color:#fff;  margin-top:1px;margin-right:3px;"  class="col-xs-3 animated  wobble uploaders card-panel circle"  
            socialshare
            socialshare-provider="facebook" 
            socialshare-text="{{::toShare.content}}" 
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}"  
            socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}"
            socialshare-via="1082199191794840">
            <i class="fa fa-facebook" style="padding-top:0px;" ></i><br>
        </div>
        <div style="cursor:pointer ;background-color:#1dcaff; color:#fff;margin:3px;"  class="col-xs-3  animated  wobble uploaders card-panel"  
            socialshare  
            socialshare-text="{{::toShare.content}}" 
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}" 
            socialshare-provider="twitter">
            <i class="fa fa-twitter" style="padding-top:0px;" ></i><br>
        </div>
        <div style="cursor:pointer;background-color:#EA4235; color:#fff; margin:3px;"  class="col-xs-3 animated  wobble uploaders card-panel"  
            socialshare 
            socialshare-provider="google+" 
            socialshare-text="{{::toShare.content}}" 
            socialshare-media="http://images.dev-winwins.net/{{::toShare.image}}"
            socialshare-url="http://dev-winwins.net/ww/{{::toShare.id}}">
   
            <i class="fa fa-google" style="padding-top:0px;"></i><br>
        </div>
    </div>
   
   
   
</script>


