        <div class="col-xs-12 no-padding" ng-repeat="winwin in user_detail.winwins">

            <div class=" {{winwin.selected ? 'img-misc' : ''}} no-padding text-center" style="padding-top: 20px!important;"  dynamic-background="" background-size="cover" background-image="http://images.dev-winwins.net/{{::winwin.image}}">
                {{::winwin.title}}
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-4 no-padding btn4 btn-share">
                    <a href="#" data-toggle="dropdown" class="no-padding dropdown-toggle" style="cursor: pointer">
                        <i class="fa fa-share-alt fa-inverse"></i>
                    </a>
                    <ul class="dropdown-menu col-xs-12">
                        <li class="center-block">
                            <span data-original-title="Twitter" rel="tooltip"  class="btn btn-twitter" data-placement="left" socialshare
socialshare-provider="twitter"
socialshare-text="{{::winwin.title}}"
socialshare-url="http://dev-winwins/ww/winwin/{{::winwin._id}}">
                                <i class="fa fa-twitter"></i> Twitter
                            </span>
                        </li>
                        <li>
                            <span data-original-title="Facebook" rel="tooltip"  class="btn btn-facebook" data-placement="left"  socialshare
socialshare-provider="facebook"
socialshare-text="{{::winwin.title}}"
socialshare-url="http://dev-winwins/ww/winwin/{{::winwin._id}}">
                                <i class="fa fa-facebook"></i> Facebook
                            </span>
                        </li>                   
                        <li>
                            <span  data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                <i class="fa fa-envelope"></i> Mail
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-4 no-padding btn4 btn-share like">
                    <a href="#" class="no-padding" ng-click="view(winwin._type, winwin._id)">
                        <h5>Like</h5>
                    </a>
                </div>
                <div class="col-xs-4 no-padding btn4 btn-share mesumo">
                    <a href="#" class="no-padding"  ng-click="join(winwin._id)">
                        <h5>Me Sumo</h5>
                    </a>
                </div>
            </div>
        </div>


