<div style="padding-top:45px;"></div>
<div class="container no-padding center card-panel z-depth-2 blue darken-3  hoverable" style="box-shadow: 2px 2px 5px #999;">
    <h1 style="font-size:60px; padding:0px; margin:20px; color:#fff; ">   <i class="fa fa-clock-o animated infinite wobble"></i></h1>
    <h4 class="white-text"> TIMELINE<H4>
</div>

<i class="fa fa-caret-down animated wobble center" style="font-size: 4rem;margin-top:-23px; color:#0277BD;"></i>


<div class="container no-padding">
    <div class="col-xs-12 no-padding">
        <div ng-class-odd="media" ng-class-even="media-b"  ng-repeat="notification in activities">
             <ul class="collection card-panel  grey lighten-4">

                <div ng-switch="notification.type" style="padding:10px;">
                    <li>
                        <div ng-switch-when="FOLLOWING">
                            <i class="fa fa-comments" style="color:#E37311;"></i>  
                            <span class="h7">
                                {{subject(notification, 'FOLLOWING')}} siguiendo a <a ng-href="/#/user-view/{{notification.object_id}}" class="blue-text" style="padding:10px;"> '{{notification.object.username}}'</a>  
                                <br> <i class="fa fa-clock-o"></i>
                                <span class="h8">{{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} </span> 
                            </span>
                            <i class="fa fa-trash grey-text right del"></i>
                        </div>

                        <div ng-switch-when="WW_JOIN">
                            <i class="fa fa-comments" style="color:#E37311;"></i>  
                            <span class="h7">
                                {{subject(notification, 'JOIN')}} al WinWin <a ng-href="/#/winwin-view/{{notification.object_id}}" class="blue-text" style="padding:10px;"> '{{notification.object.title}}'</a>  
                                <br> <i class="fa fa-clock-o"></i>
                                <span class="h8">{{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} </span> 
                            </span>
                            <i class="fa fa-trash grey-text right del"></i>
                        </div>
                        <div ng-switch-when="WW_LEFT">
                            <i class="fa fa-comments" style="color:#E37311;"></i>  
                            <span class="h7">
                                {{subject(notification, 'LEFT')}} <a ng-href="/#/winwin-view/{{notification.object_id}}" class="blue-text" style="padding:10px;"> '{{notification.object.title}}'</a>  
                                <br> <i class="fa fa-clock-o"></i>
                                <span class="h8">{{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} </span> 
                            </span>
                            <i class="fa fa-trash grey-text right del"></i>
                        </div>
                        <div ng-switch-when="WW_CREATED">
                            <i class="fa fa-comments" style="color:#E37311;"></i> 
                            <span class="h7"> 
                                {{subject(notification, 'CREATE')}} el WinWin <a ng-href="/#/winwin-view/{{notification.object_id}}"  class="orange-text darken-1" style="padding:10px;"> '{{notification.object.title}}'</a>  
                                <br> <i class="fa fa-clock-o"></i> 
                                <span class="h8">{{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} </span>>
                            </span>
                            <i class="fa fa-trash grey-text right del "></i>
                        </div>
                        <div ng-switch-when="GROUP_JOIN">
                            <i class="fa fa-users" style="color:#E37311;"></i>   
                            <span class="h7"> 
                                {{subject(notification, 'JOIN')}} al Grupo <a ng-href="/#/group-view/{{notification.object_id}}" class="blue-text" style="padding:10px;"> '{{notification.object.name}}'</a> 
                                <br>  <i class="fa fa-clock-o"></i> 
                                {{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} 
                            </span>
                            <i class="fa fa-trash grey-text right del"></i></h6>
                        </div>
                        <div ng-switch-when="GROUP_CREATED">
                            <i class="fa fa-users" style="color:#E37311;"></i>    
                            <span class="h7"> 
                                {{subject(notification, 'JOIN')}} el Grupo <a ng-href="/#/group-view/{{notification.object_id}}"  class="blue-text" style="padding:10px;"> '{{notification.object.name}}'</a>  
                                <br><i class="fa fa-clock-o"></i> 
                                <span class="h8">{{notification.created_at | moment: 'DD/MM/YYYY HH:mm'}} </span>
                                <i class="fa fa-trash grey-text right del"></i>
                            </span>
                        </div>
                    </li>

                </div>
            </div>
        </div>
    </div>
</div>

