  <nav style="max-height: 45px; overflow:hidden; border:transparent; position: fixed; z-index:99;">
        <div class="nav-wrapper">
            <ul id="nav-mobile blue darken-3">
                <li class="col-xs-3">
                    <a  href id="home_tab" data-toggle="tab" data-target="#home" ng-class="{active: current_view == 'home'}">
                        <img src="../images/profile.png" width="25px" class="no-padding" style=" margin:0px;margin-top:-17px;" />
                    </a>
                </li>
                <li  class="col-xs-3">
                    <a  href data-toggle="tab" data-target="#winwins" ng-class="{active: current_view == 'sponsors'}">                       
                        <img src="../images/ww.png" width="22px" class="no-padding" style=" margin:0px;margin-top:-17px;" />                   
                    </a>
                </li>
                <li  class="col-xs-3">
                    <a href data-toggle="tab" data-target="#timeline" ng-class="{active: current_view == 'timeline'}">
                                 <i class="fa fa-clock-o" style="padding:12px;"></i>
                    </a>
                </li>
                <li  class="col-xs-3"  href data-toggle="tab" data-target="#config" ng-show="isAdmin" ng-class="{active: current_view == 'admin'}">
                    <a ng-class="{active: current_view == 'users'}" href ng-click="setAdmin()">
                    <i ng-if="user_detail.myself"  class="fa fa-pencil"></i>
                    </a>
                </li>
            <li  class="col-xs-3">
                    <a href data-toggle="tab" data-target="#users" ng-class="{active: current_view == 'users'}">
                            <img src="../images/miembros.png" width="25px" class="no-padding" style=" margin:0px;margin-top:-17px;" />         
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        


<div class="profile-tabs tab-content">
    <div id="home" role="tabpanel" class="tab-pane fade in active">
        <div ng-include="'/views/user/profile_home.html'"></div>
    </div>
    <div id="users" class="tab-pane">
        <div ng-include="'/views/user/profile_users.html'"></div>
    </div>
    <div id="winwins" class="tab-pane">
        <div ng-include="'/views/user/profile_winwins.html'"></div>
    </div>
    <div id="timeline" class="tab-pane">
        <div ng-include="'/views/user/profile_notifications.html'"></div>
    </div>
    <div id="config" class="tab-pane">
        <div ng-include="'/views/user/profile_config.html'"></div>
    </div>
</div>

<script>

